#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-game-button {
  margin-left: 40px;
  background-image: url(../icons/new-game-icon.svg);
}

#main-toolbar #level-easy-button {
  margin-left: 40px;
  background-image: url(../icons/level-easy.svg);
}

#main-toolbar #level-medium-button {
  background-image: url(../icons/level-medium.svg);
}

#main-toolbar #level-hard-button {
  background-image: url(../icons/level-hard.svg);
}

#main-toolbar #switch-player-button {
  margin-left: 40px;
  background-image: url(../icons/switch-player.svg);
}
