
#canvas {
	background-color: white;
}

#main-toolbar #view-radial-button {
	background-image: url(../icons/view-radial.svg);
}

#main-toolbar #view-list-button {
	background-image: url(../icons/view-list.svg);
}

.web-activity {
	position: absolute;
}

.web-activity-icon {
	background-repeat: no-repeat;	
	background-position: center;
}

.owner-icon {
	position: absolute;
	background-image: url(../icons/owner-icon.svg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}

.activity-list-item {
	height: 60px;
}

.activity-name {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}

.activity-version {
	position: absolute;
	margin-left: 500px;
	margin-top: 15px;
	font-size: 14px;
}




