
html, button {
	cursor: url(../icons/ArrowSmall.cur), default;
}

input {
	cursor: url(../icons/TextSmall.cur);
}

#canvas {
	background-color: white;
}

.sugarizer-canvas {
}

.view-radial-button {
	background-image: url(../icons/view-radial.svg);
	position: absolute !important;
	top: 0px;
	right: 90px;
}

.view-list-button {
	background-image: url(../icons/view-list.svg);
	position: absolute !important;
	top: 0px;
	right: 30px;
}

.favorite-button {
	background-image: url(../icons/emblem-favorite.svg);
	position: absolute;
	top: 0px;
	left: 530px;
}

.view-desktop-button {
	background-image: url(../icons/view-radial.svg);
	position: absolute !important;
	top: 0px;
	right: 30px;
}

.homeSearch {
	width: 260px;
}

.search-field-border {
	border-radius: 22px;
	top: 5px;
	width: 350px;
	height: 35px;
	display: inline-block;
}

.search-field-border-focus {
	background-color: white;
	border: 2px solid white;
}

.search-field-border-nofocus {
	background-color: #e5e5e5;
	border: 2px solid #e5e5e5;
}

.search-field-iconsearch {
	position: absolute;
	background-image: url(../icons/entry-search.svg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 20px 20px;
	top: 5px;
	left: 2px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.search-field-iconcancel {
	position: absolute;
	background-image: url(../icons/entry-cancel.svg);
	background-repeat: no-repeat;	
	background-position: center;
	top: 5px;
	right: 10px;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.search-field-input {
	opacity: 1;
	margin-left: 30px;
	border: 0px;	
	display: inline-block;
	background-color: #e5e5e5;
	width: 270px;
	line-height: 22px;
	outline: 0;
}

.search-field-input:focus {
	background-color: white;
}

.search-field-input:disabled {
	border-color: #808080;
	background-color: #808080;
}

.web-activity {
	position: absolute;
}

.web-activity-icon {
	background-repeat: no-repeat;	
	background-position: center;
}

.web-activity-disable {
	position: absolute;
	opacity: 0.5;
}

.owner-icon {
	position: absolute;
}

.journal-icon {
	position: absolute;
}

.activity-list-item {
	height: 60px;
}

.activity-name {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}

.activity-version {
	position: absolute;
	margin-left: 500px;
	margin-top: 15px;
	font-size: 14px;
}

.home-activity-popup {
	position: absolute;
	z-index: 1;
}

.homeview-filter-text {
	position: relative;
	width: 350px;
}

.popup-title {
	background-color: black;
	color: white;
	border-color: #808080;
	border-style: solid;
	border-width: 2px;
	z-index: 1;
}

.popup-name-text {
	margin-left: 50px;
	padding-top: 10px;
	margin-right: 10px;
	font-weight: bold;
	z-index: 1;	
}

.popup-name-text-bottom {
	padding-bottom: 10px;
}

.popup-title-text {
	margin-left: 50px;
	margin-top: 0px;
	margin-right: 10px;
	padding-bottom: 10px;
}

.popup-items {
	background-color: black;
	color: white;
	border-color: #808080;
	border-style: none solid solid solid;
	border-width: 2px;
	z-index: 1;
}

.popup-footer :hover{
	background-color: #808080;
}

.popup-new-text {
	margin-left: 30px;
	margin-top: 0px;
	margin-right: 10px;
	padding: 10px;
}

.popup-item-listview {
	padding: 8px 0px 8px 0px;
}

.item-list-item {
	height: 35px;
	z-index: 1;
}

.item-list-item :hover{
	background-color: #808080;
}

.item-name {
	margin-left: 30px;
	margin-top: 0px;
	margin-right: 10px;
	padding: 5px;
	z-index: 1;
}

.listview-nomatch {
	background-image: url(../icons/entry-search.svg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.listview-message {
	display: inline-row;
	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

.listview-button {
	width: 150px;
	margin-left: auto;
	margin-right: auto;	
}

.journal-list-item {
	height: 60px;
}

.journal-title {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}

.journal-filter-text {
	position: relative;
	width: 360px;
}

.journal-filter-type {
	margin-left: 60px;
	margin-top: 0px;
	width: 250px;
}

.journal-filter-time {
	margin-left: 30px;
	width: 200px;
}

.journal-time {
	position: absolute;
	right: 40px;
	margin-top: 15px;
	font-size: 14px;
}

.journal-goright {
	position: absolute;
	right: 10px;
	margin-top: 14px;
}

.journal-empty {
	background-image: url(../icons/activity-journal.svg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.journal-message {
	display: inline-row;
	width: 200px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.icon-button-icon {
}

.icon-button-text {
	margin-top: 7px;
	margin-left: 38px;
	color: white;
	display: inline-block;
}

.selectbox-border {
	border-radius: 22px;
	height: 35px;
	display: inline-block;
	background-color: #808080;
	border: 2px solid #808080;	
}

.selectbox-icon {
}

.selectbox-double {

}
.selectbox-text {
	position: relative;
	top: 8px;
	margin-left: 36px;
	margin-right: 8px;
	height: 50px;
	background-image: url(../icons/control-popup-arrow.svg);
	background-repeat: no-repeat;
	background-position: 95% 15%;
}

.selectbox-popup {
}