
html, button {
	cursor: url(../icons/ArrowSmall.cur), default;
}

input {
	cursor: url(../icons/TextSmall.cur);
}

#canvas {
	background-color: white;
}

*:focus {
	outline: 0;
}

.rtl-10 {
	text-align: right;
	font-size: 14pt !important;
}

.rtl-14 {
	text-align: right;
	font-size: 18px !important;
}

.shutdownscreen {
	position: absolute;
	background-color: black;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
}

.shutdownimage {
	max-width: 99%;
	max-height: 99%;
}

.sugarizer-canvas {
}

.view-radial-button {
	background-image: url(../icons/view-radial.svg);
	position: absolute !important;
	top: 0px;
	right: 150px;
}

.view-list-button {
	background-image: url(../icons/view-list.svg);
	position: absolute !important;
	top: 0px;
	right: 30px;
}

.view-neighbor-button {
	background-image: url(../icons/view-neighborhood.svg);
	position: absolute !important;
	top: 0px;
	right: 90px;
}

.favorite-button {
	background-image: url(../icons/emblem-favorite.svg);
	position: absolute;
	top: 0px;
	left: 530px;
}

.view-desktop-button {
	background-image: url(../icons/view-radial.svg);
	position: absolute !important;
	top: 0px;
	right: 30px;
}

.search-field-border {
	border-radius: 22px;
	top: 5px;
	width: 350px;
	height: 35px;
	display: inline-block;
}

.search-field-border-focus {
	background-color: white;
	border: 2px solid white;
}

.search-field-border-nofocus {
	background-color: #e5e5e5;
	border: 2px solid #e5e5e5;
}

.search-field-iconsearch {
	position: absolute;
	background-image: url(../icons/entry-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	top: 5px;
	left: 2px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.search-field-iconcancel {
	position: absolute;
	background-image: url(../icons/entry-cancel.svg);
	background-repeat: no-repeat;
	background-position: center;
	top: 5px;
	right: 10px;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.search-field-input {
	opacity: 1;
	margin-left: 30px;
	margin-top: 5px;
	border: 0px;
	display: inline-block;
	background-color: #e5e5e5;
	width: 270px;
	line-height: 22px;
	outline: 0;
	font-size: 10pt;
}

.search-field-input:focus {
	background-color: white;
}

.search-field-input:disabled {
	border-color: #808080;
	background-color: #808080;
}

.web-activity {
	position: absolute;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.web-activity-icon:hover {
	background-color: #d5d5d5;
	border-radius: 5px;
}

.web-activity-disable {
	position: absolute;
	opacity: 0.5;
}

.launcher-icons {
	width: 100%;
}

.setlauncher-icon {
	margin-top: 100px;
	position: absolute;
}

.native{
	margin-left: 20%;
}

.sugar{
	margin-left: 65%;
}

.selected{
    border-bottom: 6px solid red;
    background-color: lightgrey;
}

.owner-icon {
	position: absolute;
}

.journal-icon {
	position: absolute;
}

.server-icon {
	position: absolute;
}

.activity-list-item {
	height: 60px;
}

.activity-name {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}

.activity-version {
	position: absolute;
	margin-left: 500px;
	margin-top: 15px;
	font-size: 14px;
}

.home-activity-popup {
	position: absolute;
	z-index: 1;
}

.homeview-filter-text {
	position: relative;
	width: 350px;
}

.popup-title {
	background-color: black;
	color: white;
	border-color: #808080;
	border-style: solid;
	border-width: 2px;
	z-index: 1;
}

.popup-name-text {
	margin-left: 50px;
	padding-top: 10px;
	margin-right: 40px;
	font-weight: bold;
	min-height: 16px;
	z-index: 1;
}

.popup-name-text-bottom {
	padding-bottom: 10px;
}

.popup-title-text {
	margin-left: 50px;
	margin-top: 0px;
	margin-right: 40px;
	padding-bottom: 10px;
}

.popup-items {
	background-color: black;
	color: white;
	border-color: #808080;
	border-style: none solid solid solid;
	border-width: 2px;
	z-index: 1;
}

.popup-footer :hover{
	background-color: #808080;
}

.popup-new-text {
	margin-left: 30px;
	margin-top: 0px;
	margin-right: 10px;
	padding: 10px;
}

.popup-item-listview {
	padding: 8px 0px 8px 0px;
}

.item-list-item {
	height: 35px;
	z-index: 1;
}

.item-list-item :hover{
	background-color: #808080;
}

.item-name {
	margin-left: 30px;
	margin-top: 0px;
	margin-right: 20px;
	padding: 5px;
	z-index: 1;
}

.item-name-enable {
	color: white;
}

.item-name-disable {
	color: #4C4C4C;
}

.listview-nomatch {
	background-image: url(../icons/entry-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.listview-message {
	display: inline-row;
	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

.listview-button {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.journal-content {
}

.journal-footer {
	width: 100%;
}

.journal-list-item {
	height: 60px;
}

.journal-title {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}

.journal-title-edit {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	font-size: 14px;
}

.journal-filter-favorite {
	left: 421px;
}

.journal-filter-text {
	position: relative;
	width: 350px;
}

.journal-filter-type {
	margin-left: 60px;
	margin-top: 0px;
	width: 250px;
}

.journal-filter-time {
	margin-left: 10px;
	width: 200px;
}

.journal-time {
	position: absolute;
	right: 40px;
	margin-top: 15px;
	font-size: 14px;
	background-color: white;
	z-index: 2;
}

.journal-goright {
	position: absolute;
	right: 10px;
	margin-top: 14px;
}

.journal-empty {
	background-image: url(../icons/activity-journal.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.journal-message {
	display: inline-row;
	width: 200px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

.view-localjournal-button {
	background-image: url(../icons/activity-journal.svg);
}

.view-cloudone-button {
	background-image: url(../icons/cloud-one.svg);
	left: 10px;
}

.view-cloudall-button {
	background-image: url(../icons/cloud-all.svg);
	left: 15px;
}

.neighbor-filter-text {
	position: relative;
	width: 350px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.icon-button-icon {
}

.icon-button-text {
	margin-top: 7px;
	padding-left: 38px;
	padding-right: 38px;
	color: white;
	display: inline-block;
}

.selectbox-border {
	border-radius: 22px;
	height: 35px;
	display: inline-block;
	background-color: #808080;
	border: 2px solid #808080;
}

.selectbox-icon {
}

.selectbox-double {

}
.selectbox-text {
	position: relative;
	top: 8px;
	margin-left: 36px;
	margin-right: 8px;
	height: 50px;
	background-image: url(../icons/control-popup-arrow.svg);
	background-repeat: no-repeat;
	background-position: 95% 15%;
}

.selectbox-popup {
}

.settings-dialog {
	position: absolute;
	width: 95%;
	max-width: 800px;
	height: 95%;
	max-height: 500px;
	background-color: #000000;
	border: 2px solid #808080;
}

.settings-filter-text {
	position: relative;
	margin-left: 10px;
	width: 350px;
}

.settings-close-button {
	background-image: url(../icons/dialog-cancel.svg);
	position: absolute !important;
	top: 5px;
	right: 30px;
	width: 35px !important;
	height: 35px !important;
}

.settings-item {
	padding: 25px;
	display: inline-block;
}

.settings-item-icon {
	position: relative;
	left: 65px;
	width: 210px;
}

.settings-item-text {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.settings-item-text-enable {
	color: white;
}

.settings-item-text-disable {
	color: #808080;
}

.module-dialog {
	width: 95%;
	max-width: 800px;
	height: 95%;
	max-height: 500px;
	background-color: #ffffff;
	border: 2px solid #808080;
}

.module-icon {
	position: absolute;
	left: 10px;
}

.module-text {
	position: absolute;
	left: 80px;
	top: 20px;
	color: white;
	word-wrap: break-word;
}

.module-cancel-button {
	background-image: url(../icons/dialog-cancel.svg);
	position: absolute !important;
	top: 5px;
	right: 60px;
	width: 35px !important;
	height: 35px !important;
}

.module-ok-button {
	background-image: url(../icons/dialog-ok.svg);
	position: absolute !important;
	top: 5px;
	right: 15px;
	width: 35px !important;
	height: 35px !important;
}

.aboutme-message {
	position: absolute;
	left: 20px;
	margin-top: 20px;
	color: #808080;
}

.launcher-message {
    position: absolute;
    left: 20px;
    margin-top: 20px;
    color: #808080;
}

.launcher-button {
    position:absolute;
    left:20px;
    margin-top: 60px;
}

.aboutme-icons {
	width: 100%;
	display: inline-block;
	margin-top: 50px;
	text-align: center;
}

.aboutme-icon {
	position: relative;
	display: inline-block;
}

.aboutme-psicon {
}

.aboutme-nsicon {
}

.aboutme-cicon {
	border-color: #808080;
	border-style: none solid none solid;
	border-width: 3px;
}

.aboutme-pficon {
}

.aboutme-nficon {
}

.aboutme-restart {
	color: #808080;
	background-image: url(../icons/emblem-warning.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 15px;
	margin-left: 20px;
	margin-top: 30px;
	width: 200px;
	padding-left: 20px;
}

.aboutme-input {
	width: 100%;
	text-align: center;
}

.aboutme-name {
	margin-top: 50px;
	border-radius: 22px;
	height: 25px;
	width: 270px;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
}

.module-dialog-wifikey {
	width: 95%;
	max-width: 500px;
	height: 35%;
	max-height: 100px;
	background-color: #ffffff;
	border: 2px solid #808080;
}

.enterkey-input{
	margin-top: 5px;
	margin-left: 30px;
	border-radius: 22px;
	height: 25px;
	width: 360px;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
}

.enterkey-input:focus{
    background-color: white;
}

.aboutme-name:focus {
	background-color: white;
}

.aboutme-name-validate {
	top: 305px;
}

.first-namebox {
	height: 100%;
}

.first-nameline {
	position: absolute;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.first-nametext {
	position: relative;
	left: 20px;
	margin-top: 20px;
	color: #808080;
	display: inline-block;
}

.first-input {
	text-align: center;
	display: inline-block;
}

.first-namevalue {
	border-radius: 22px;
	height: 25px;
	width: 270px;
	margin-left: 30px;
	background-color: #e5e5e5;
	padding-left: 10px;
	font-size: 10pt;
}

.first-namevalue:focus {
	background-color: white;
}

.first-leftbutton {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 120px;
}

.first-rightbutton {
	position: absolute;
	right: 50px;
	bottom: 50px;
	width: 120px;
}

.first-colortext {
	position: absolute;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	color: #808080;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.first-owner-icon {
	position: absolute;
	padding-top: 10px;
}

.settings-warningbox {
	background-color: #000000;
	width: 100%;
	height: 55px;
}

.warningbox-title {
	position: absolute;
	font-weight: bold;
	color: white;
	left: 10px;
	top: 66px;
}

.warningbox-message {
	position: absolute;
	color: white;
	left: 10px;
	top: 82px;
}

.warningbox-cancel-button {
	position: absolute;
	right: 240px;
	width: 210px;
}

.warningbox-refresh-button {
	position: absolute;
	right: 10px;
	width: 215px;
}

.language-message {
	position: absolute;
	left: 20px;
	margin-top: 20px;
	color: #808080;
}

.language-restart {
	position: absolute;
	color: #808080;
	background-image: url(../icons/emblem-warning.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 15px;
	left: 20px;
	bottom: 20px;
	width: 200px;
	padding-left: 20px;
}

.language-select {
	margin-left: 30px;
	margin-top: 50px;
	left: 30px;
	top: 50px;
	color: white;
	width: 200px;
}

.computer-content {
	height: 90%;
}

.computer-software {
	border-color: #808080;
	border-style: solid none none none;
	border-width: 2px;
	margin-left: 20px;
	margin-top: 20px;
}

.computer-sugarizer {
	color: #808080;
	text-align: right;
	width: 200px;
	margin-top: 20px;
	display: inline-block;
}

.computer-clienttype {
	color: #808080;
	text-align: right;
	width: 200px;
	margin-top: 10px;
	display: inline-block;
}

.computer-browser {
	color: #808080;
	text-align: right;
	width: 200px;
	margin-top: 10px;
	display: inline-block;
}

.computer-browserversion {
	color: #808080;
	text-align: right;
	width: 200px;
	margin-top: 10px;
	display: inline-block;
}

.computer-useragent {
	color: #808080;
	text-align: right;
	width: 200px;
	margin-top: 10px;
	display: inline-block;
}

.computer-reinitcheck {
	margin-left: 30px !important;
}

.computer-reinit {
	text-align: left;
	width: 400px;
	margin-left: 10px;
	margin-top: 30px;
	display: inline-block;
}

.computer-line {
}

.computer-copyright {
	border-color: #808080;
	border-style: solid none none none;
	border-width: 2px;
	margin-left: 20px;
	margin-top: 30px;
}

.computer-contributor {
	margin-left: 30px;
	margin-top: 20px;
}

.computer-licence {
	margin-left: 30px;
}

.computer-value {
	margin-left: 10px;
	color: black;
	display: inline-block;
}

.computer-warningmessage {
	color: #808080;
	background-image: url(../icons/emblem-warning.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 15px;
	margin-left: 20px;
	margin-top: 10px;
	bottom: 20px;
	width: 400px;
	padding-left: 20px;
}

.aboutserver-checkbox {
	margin-left: 20px !important;
	margin-top: 30px !important;
	display: inline-block;
}

.aboutserver-message {
	margin-left: 10px;
	margin-top: 20px;
	vertical-align: bottom;
	color: black;
	height: 24px;
	display: inline-block;
}

.aboutserver-serverlabel {
	margin-left: 50px;
	margin-top: 20px;
	color: #808080;
	width: 250px;
	text-align: right;
	display: inline-block;
}

.aboutserver-httplabel {
	margin-left: 10px;
	color: black;
	display: inline-block;
}

.aboutserver-servername {
	display: inline-block;
	width: 165px;
}

.aboutserver-userlabel {
	margin-left: 50px;
	margin-top: 20px;
	color: #808080;
	width: 250px;
	text-align: right;
	display: inline-block;
}

.aboutserver-usermessage {
	margin-left: 35px;
	margin-top: 10px;
	color: #808080;
	text-align: left;
	display: inline-block;
}

.aboutserver-username {
	margin-left: 10px;
	display: inline-block;
	width: 200px;
}

.aboutserver-iconchecked {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.aboutserver-checkbutton {
	margin-top: 20px;
	margin-left: 310px;
	width: 120px;
}

.aboutserver-warningmessage {
	position: absolute;
	color: #808080;
	background-image: url(../icons/emblem-warning.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 15px;
	left: 20px;
	bottom: 20px;
	width: 200px;
	padding-left: 20px;
}

.cloud-empty {
	position: absolute;
	background-image: url(../icons/cloud-settings.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.cloud-message {
	position: absolute;
	display: inline-row;
	width: 100%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

.cloud-line {
	width: 100%;
	position: absolute;
}
.cloud-gotosettings {
	position: relative;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

/* Handle small screen resolution */
@media screen and (max-width: 410px) {
	.search-field-border {
		visibility: hidden;
		width: 0px;
	}

	.search-field-input {
		visibility: hidden;
		width: 0px;
	}

	.homeview-filter-text {
		visibility: hidden;
		width: 0px;
	}

	.activity-version {
		margin-left: 0px;
		visibility: hidden;
	}

	.journal-filter-type {
		visibility: hidden;
		width: 0px;
	}

	.journal-filter-time {
		visibility: hidden;
		width: 0px;
	}

	.journal-filter-favorite {
		visibility: hidden;
		left: 0px;
	}

	.settings-filter-text {
		visibility: hidden;
		width: 0px;
	}

	.aboutserver-userlabel {
		margin-left: 20px;
		text-align: left;
	}

	.aboutserver-serverlabel {
		margin-left: 20px;
		text-align: left;
	}

	.aboutserver-checkbutton {
		margin-left: 20px;
	}
}
@media screen and (max-height: 320px) {
	.aboutme-message {
		margin-top: 10px;
	}

	.aboutme-name {
		margin-top: 10px;
	}

	.aboutme-restart {
		margin-top: 10px;
	}

	.aboutserver-checkbox {
		margin-top: 0px !important;
	}

	.aboutserver-message {
		margin-top: 5px;
	}

	.aboutserver-userlabel {
		margin-top: 5px;
		margin-left: 10px;
		text-align: left;
	}

	.aboutserver-usermessage {
		margin-left: 10px;
	}

	.aboutserver-serverlabel {
		margin-top: 5px;
		margin-left: 10px;
		text-align: left;
		display: block;
	}

	.aboutserver-checkbutton {
		margin-left: 250px;
		margin-top: 0px;
	}
}
@media screen and (max-width: 590px) {
	.settings-item {
		padding: 5px;
		width: 120px;
	}

	.settings-item-icon {
		left: 20px;
	}

	.warningbox-cancel-button .icon-button-text {
		visibility: hidden;
	}

	.warningbox-refresh-button .icon-button-text {
		visibility: hidden;
	}

	.module-text {
		width: 100px;
	}

	.warningbox-cancel-button {
		right: 85px;
		width: 60px;
	}

	.warningbox-refresh-button {
		right: 10px;
		width: 60px;
	}
}
@media screen and (min-width: 410px) and (max-width: 1023px) {
	.search-field-border {
		width: 200px;
	}

	.search-field-input {
		width: 120px;
	}

	.homeview-filter-text {
		width: 200px;
	}

	.activity-version {
		margin-left: 350px;
	}

	.journal-filter-favorite {
		left: 270px;
	}

	.journal-filter-type {
		visibility: hidden;
	}

	.journal-filter-time {
		visibility: hidden;
	}
}
@media screen and (min-width: 660px) {
	.journal-filter-type {
		visibility: visible;
	}
}
@media screen and (min-width: 880px) {
	.journal-filter-time {
		visibility: visible;
	}
}
