body {
  height: 100vh;
}

#canvas {
  overflow: hidden;
  background-color: #ffffff;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #gear-button {
  background-image: url(../icons/GearIcon.svg);
}

#main-toolbar #chain-button {
  background-image: url(../icons/ChainIcon.svg);
}

#main-toolbar #momentum-button {
  background-image: url(../icons/MomentumIcon.svg);
}

#main-toolbar #play-button {
  background-image: url(../icons/media-playback-start.svg);
}

#main-toolbar #clear-button {
  background-image: url(../icons/edit-clear.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 5%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
}

@media screen and (max-width: 567px) {
	.toolbar {
		padding-left: 10px;
	}
	
	#main-toolbar #activity-button {
		left: 10px;
	}

	#main-toolbar #help-button {
		visibility: hidden;
	}
	
	#main-toolbar #stop-button {
		position: absolute;
	}
}
