@font-face {
	font-family: Graphecrit;
	src: url('../fonts/graphecrit.ttf');
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
	outline: none;
}

button:disabled {
	opacity: 0.3 !important;
}

.splitbar {
	background-image: url(../icons/split.svg);
	background-position: center;
	background-repeat: no;
	width: 3px;
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 45px;
	display: inline-block;
	vertical-align: bottom;
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
	outline: none;
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 5%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
	outline: none;
}

#main-toolbar #template-button {
	background-image: url(../icons/template-lower.svg);
	outline: none;
}

#main-toolbar #settings-button {
	background-image: url(../icons/settings.svg);
	outline: none;
}

#main-toolbar #lines-button {
	background-image: url(../icons/lines.svg);
	outline: none;
}

#main-toolbar #insertimage-button {
	background-image: url(../icons/insert-image.svg);
}

#main-toolbar #inserttext-button {
	background-image: url(../icons/insert-text.svg);
}

#main-toolbar #zoom-button {
	background-image: url(../icons/zoom.svg);
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
	outline: none;
}

#main-toolbar #stop-button {
	outline: none;
}

.palette .row {
	display: block;
	margin: 0 0 !important;
	box-sizing: initial !important;
	font-size: 10pt;
}

.palette .expand {
	font-family: sans-serif;
	font-size: 10pt;
}

.palette input#title.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 245px;
	color: black;
}

.palette textarea#description.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 255px;
	color: black;
}

.palette input[type='text'].expand {
	font-family: system-ui;
	font-size: 11px;
}

.palette .container {
	padding-left: 3px;
	padding-right: 3px;
	box-sizing: initial;
	width: max-content;
}

.palette .wrapper {
	font-size: 10pt;
	box-sizing: initial;
	min-width: 70px;
}

.palette *, ::after, ::before {
	box-sizing: initial;
}

#template-palette {
	width: 70px;
}

.palette-item {
	width: 55px;
	height: 55px;
}

.palette-item:hover {
	background-color: #808080;
}

.palette-icon {
	width: 50px;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
}

#canvas {
	overflow-x: hidden;
}

.template-col {
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.template-item {
	background-color: white;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888;
	display: inline-table;
	font-size: 1.25em;
}

.template-item-image {
	width: 150px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
	cursor: pointer;
}

.template-item-text {
	position: absolute;
	display: inline;
	font-family: Graphecrit;
}

.template-item-remove {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 30px;
	height: 30px;
	background-image: url(../icons/delete.svg);
	background-size: contain;
	visibility: hidden;
}

.template-item-remove-editable {
	visibility: visible !important;
}

#spinner {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
	width: 8%;
}

#cloudwarning {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 100px;
	z-index: 5;
	visibility: hidden;
}

.editor-area {
	display: inline-block;
	margin-left: 50px;
	margin-top: 25px;
	background-color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.editor-goback {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 50px;
	top: 10px;
	left: 20px;
	width: 50px;
	background-color: white;
	background-image: url(../icons/go-back-sel.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.editor-goback:hover  {
	background-image: url(../icons/go-back.svg);
}

.editor-miniletter {
	 width: 100px;
	 position: absolute;
	 top: 80px;
	 left: 0px;
}

.editor-miniword {
	 width: 100px;
	 height: 100px;
	 position: absolute;
	 top: 80px;
	 left: 0px;
	 font-family: Graphecrit;
	 vertical-align: middle;
	 text-align: center;
}

.editor-start {
	position: absolute;
	top: 50px;
	width: 30px;
	height: 30px;
	right: 70px;
	background-image: url(../icons/route-start.svg);
	background-size: contain;
}

.editor-add {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/add.svg);
	background-size: contain;
}

.editor-add:disabled {
	background-color: lightgray;
}

.editor-remove {
	position: absolute;
	top: 70px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/delete.svg);
	background-size: contain;
}

.editor-remove:disabled {
	background-color: lightgray;
}

.editor-path {
	position: absolute;
	top: 170px;
	width: 30px;
	height: 30px;
	right: 70px;
	background-image: url(../icons/route.svg);
	background-size: contain;
}

.editor-addpath {
	position: absolute;
	top: 140px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/add.svg);
	background-size: contain;
}

.editor-addpath:disabled {
	background-color: lightgray;
}

.editor-removepath {
	position: absolute;
	top: 190px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/delete.svg);
	background-size: contain;
}

.editor-removepath:disabled {
	background-color: lightgray;
}

.player-debug-target {
	position: absolute;
	bottom: 5px;
	left: 5px;
	visibility: hidden;
}

.player-debug-position {
	position: absolute;
	bottom: 22px;
	left: 5px;
	visibility: hidden;
}

.player-restart {
	position: absolute;
	top: 70px;
	right: 17px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/restart.svg);
	background-size: contain;
}
.player-next {
	position: absolute;
	top: 130px;
	right: 17px;
	width: 40px;
	height: 40px;
	padding: 5px;
	background-image: url(../icons/pass-icon.svg);
	background-size: contain;
}

.player-restart:disabled {
	background-color: lightgray;
}

.player-cursor {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 50px;
	height: 50px;
	visibility: hidden;
	background-image: url(../icons/cursor.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

 #zoompalette {
	 width: 200px;
 }

.zoombuttons {
	border: 0px;
	background: #000000;
	border-radius: 5.5px !important;
}

.zoombutton:active {
	background-color: #808080;
	border-radius: 5.5px !important;
}

.introjs-overlay {
	background-color: #000 !important;
	opacity: .8 !important;
  }
  
  .introjs-tooltip {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	border-radius: 6px !important;
	padding: 2px 1px !important;
	font-size: 14px !important;
  }
  
  .introjs-helperLayer{
	background: inherit !important;
	opacity: 0.6 !important;
  }
  
  .customTooltip .introjs-tooltip-header {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #ffffff;
	text-shadow: none;
	background-color: #808080;
	margin: 0;
	padding: 0px 10px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
  }
  
  .customTooltip .introjs-tooltip-title {
	font-size: 14px;
	padding: 0px 8px;
	font-weight: 800;
  }
  
  .customTooltip .introjs-tooltiptext {
	color: #000000;
	line-height: 1.42857143;
  }
  
  .customTooltip .introjs-skipbutton {
	float: right;
	cursor: pointer;
	background-image: url(../icons/dialog-cancel.svg);
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	margin-top: 2px;
	padding: 0px;
	white-space: nowrap;
	color: transparent;
	line-height: 27px;
}
  
  .customTooltip .introjs-nextbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
  }
  
  .customTooltip .introjs-prevbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
  }
  
  .customTooltip .introjs-tooltipbuttons {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-top: 0px;
	padding: 0px;
	text-align: center;
	white-space: normal;
  }
  
  .customTooltip .introjs-button {
	text-shadow: none;
	border-radius: 22px;
	margin: 5px 8px 8px 8px;
	width: fit-content;
	background-color: #808080 !important;
	display: flex !important;
	align-items: center !important;
	color: white !important;
	padding: 6px 20px 6px 10px;
	border: 0px;
  }
  
  .customTooltip .introjs-button:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
	background-color: #808080 !important;
  }
  
  .customTooltip .introjs-disabled {
	color: black !important;
	border: 0px;
	opacity: .65;
  }
  
  .customTooltip .introjs-disabled:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
  }

#search-text {
	color: black;
}

#popup-container {
	margin-left: 9px;
	margin-top: 7px;
}

.popup-input {
	text-indent: 4px;
	border-radius: 22px;
	height: 100px;
	width: 400px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Graphecrit;
	font-size: 78px;
	display: inline-block;
	border-style: inset;
	border-width: 2px;
	border-color: #d0d0d0 #f3f3f3 #f3f3f3 #d0d0d0;
}
