#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
	outline: none;
}

.splitbar {
	background-image: url(../icons/split.svg);
	background-position: center;
	background-repeat: no;
	width: 3px;
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 45px;
	display: inline-block;
	vertical-align: bottom;
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
	outline: none;
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	left: 95%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
	outline: none;
}

#main-toolbar #contents-button {
	background-image: url(../icons/lines.svg);
	outline: none;
}

#main-toolbar #library-button {
	background-image: url(../icons/library.svg);
	outline: none;
}

#main-toolbar #settings-button {
	background-image: url(../icons/settings.svg);
	outline: none;
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
	outline: none;
}

#main-toolbar #stop-button {
	outline: none;
}

.palette .row {
	display: block;
	margin: 0 0 !important;
	box-sizing: initial !important;
	font-size: 10pt;
}

.palette .expand {
	font-family: sans-serif;
	font-size: 10pt;
}

.palette input#title.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 245px;
	color: black;
}

.palette textarea#description.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 255px;
	color: black;
}

.palette input[type='text'].expand {
	font-family: system-ui;
	font-size: 11px;
}

.palette .container {
	padding-left: 5px;
	padding-right: 0px;
	box-sizing: initial;
}

.palette .wrapper {
	font-size: 10pt;
	box-sizing: initial;
}

.palette *, ::after, ::before {
	box-sizing: initial;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
}

#canvas {
	overflow-x: hidden;
}

.library-col {
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.library-item {
	background-color: white;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888;
	display: inline-table;
	font-size: 1.25em;
}

.library-item-title {
	font-size: 1.25em;
}

.library-item-image {
	width: 150px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
}

.library-item-spinner {
	position: absolute;
	left: 230px;
	top: 130px;
	width: 40px;
	z-index: 5;
}

#spinner {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
	width: 8%;
}

#cloudwarning {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 100px;
	z-index: 5;
	visibility: hidden;
}

.popup-input {
	border-radius: 22px;
	height: 30px;
	width: 400px;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
	display: inline-block;
}

.popup-label {
	color: #808080;
	margin-bottom: 5px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

.reader-area {
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.reader-left {
	position: absolute;
	width: 50px;
	background-color: white;
	background-image: url(../icons/go-previous.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.reader-left-sel {
	background-image: url(../icons/go-previous-sel.svg);
}

.reader-right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	background-color: white;
	background-image: url(../icons/go-next.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.reader-right-sel {
	background-image: url(../icons/go-next-sel.svg);
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.introjs-overlay {
	background-color: #000 !important;
	opacity: .8 !important;
}

.introjs-tooltip {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	border-radius: 6px !important;
	padding: 2px 1px !important;
	font-size: 14px !important;
}

.introjs-helperLayer{
	background: inherit !important;
	opacity: 0.6 !important;
}  

.customTooltip .introjs-tooltip-header {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #ffffff;
	text-shadow: none;
	background-color: #808080;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}

.customTooltip .introjs-tooltip-title {
	font-size: 14px;
	padding: 0px 8px;
	font-weight: 800;
}

.customTooltip .introjs-tooltiptext {
	color: #000000;
	line-height: 1.42857143;
}

.customTooltip .introjs-skipbutton {
	float: right;
	cursor: pointer;
	background-image: url(../icons/dialog-cancel.svg);
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	margin-top: 2px;
	padding: 0px;
	white-space: nowrap;
	color: transparent;
	line-height: 27px;
} 

.customTooltip .introjs-nextbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.customTooltip .introjs-prevbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.customTooltip .introjs-tooltipbuttons {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-top: 0px;
	padding: 0px;
	text-align: center;
	white-space: normal;
}

.customTooltip .introjs-button {
	text-shadow: none;
	border-radius: 22px;
	margin: 5px 8px 8px 8px;
	width: fit-content;
	background-color: #808080 !important;
	display: flex !important;
	align-items: center !important;
	color: white !important;
	padding: 6px 20px 6px 10px;
	border: 0px;
}

.customTooltip .introjs-button:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
	background-color: #808080 !important;
}

.customTooltip .introjs-disabled {
	color: black !important;
	border: 0px;
	opacity: .65;
}

.customTooltip .introjs-disabled:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
}
