#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
	outline: none;
}

.splitbar {
	background-image: url(../icons/split.svg);
	background-position: center;
	background-repeat: no;
	width: 3px;
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 45px;
	display: inline-block;
	vertical-align: bottom;
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
	outline: none;
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	left: 95%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
	outline: none;
}

#main-toolbar #library-button {
	background-image: url(../icons/library.svg);
	outline: none;
}

#main-toolbar #settings-button {
	background-image: url(../icons/settings.svg);
	outline: none;
}

#main-toolbar #stop-button {
	outline: none;
}

.palette .row {
	display: block;
	margin: 0 0 !important;
	box-sizing: initial !important;
	font-size: 10pt;
}

.palette .expand {
	font-family: sans-serif;
	font-size: 10pt;
}

.palette input#title.expand {
	font-family: system-ui;
	font-size: 11px;
	width: calc(100% - 20px);
}

.palette textarea#description.expand {
	font-family: system-ui;
	font-size: 11px;
	width: calc(100% - 16px);
}

.palette input[type='text'].expand {
	font-family: system-ui;
	font-size: 11px;
}

.palette .container {
	padding-left: 5px;
	padding-right: 0px;
	box-sizing: initial;
}

.palette .wrapper {
	font-size: 10pt;
	box-sizing: initial;
}

.palette *, ::after, ::before {
	box-sizing: initial;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

#canvas {
	overflow-x: hidden;
}

.library-col {
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.library-item {
	background-color: white;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888
}

.library-item-image {
	width: 150px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
}

#spinner {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
	width: 8%;
}

#cloudwarning {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 100px;
	z-index: 5;
	visibility: hidden;
}

.popup-input {
	border-radius: 22px;
	height: 30px;
	width: 400px;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
	display: inline-block;
}

.popup-label {
	color: #808080;
	margin-bottom: 5px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

.reader-area {
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.reader-left {
	position: absolute;
	width: 50px;
	background-color: white;
	background-image: url(../icons/go-previous.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.reader-left-sel {
	background-image: url(../icons/go-previous-sel.svg);
}

.reader-right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	background-color: white;
	background-image: url(../icons/go-next.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

.reader-right-sel {
	background-image: url(../icons/go-next-sel.svg);
}
