body {
 overflow-x: hidden;
 overflow-y: hidden;
}

/**Toolbar Buttons**/
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #info-button {
  background-image: url(../icons/info-icon.svg);
}

#main-toolbar #rotation-button {
  background-image: url(../icons/rotation-icon.svg);
}

#main-toolbar #image-button {
  background-image: url(../icons/save-image.svg);
}

#main-toolbar #position-button {
  background-image: url(../icons/compare-icon.svg);
}
#main-toolbar #list-button {
  background-image: url(../icons/observe-icon.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 7%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

/* UI styling for introJs-tutorial */

.introjs-overlay {
  background-color: #000 !important;
  opacity: .8 !important;
}

.introjs-tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  border-radius: 6px !important;
  padding: 2px 1px !important;
  font-size: 14px !important;
}

.introjs-helperLayer {
  background: inherit !important;
  opacity: 0.6 !important;
}

.customTooltip .introjs-tooltip-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: none;
  background-color: #808080;
  margin: 0;
  padding: 0px 10px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.customTooltip .introjs-tooltip-title {
  font-size: 14px;
  padding: 0px 8px;
  font-weight: 800;
}

.customTooltip .introjs-tooltiptext {
  color: #000000;
  line-height: 1.42857143;
}

.customTooltip .introjs-skipbutton {
  float: right;
  cursor: pointer;
  background-image: url(../icons/dialog-cancel.svg);
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-top: 2px;
  padding: 0px;
  white-space: nowrap;
  color: transparent;
  line-height: 27px;
}

.customTooltip .introjs-nextbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-prevbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-tooltipbuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 0px;
  padding: 0px;
  text-align: center;
  white-space: normal;
}

.customTooltip .introjs-button {
  text-shadow: none;
  border-radius: 22px;
  margin: 5px 8px 8px 8px;
  width: fit-content;
  background-color: #808080 !important;
  display: flex !important;
  align-items: center !important;
  color: white !important;
  padding: 6px 20px 6px 10px;
  border: 0px;
}

.customTooltip .introjs-button:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
  background-color: #808080 !important;
}

.customTooltip .introjs-disabled {
  color: black !important;
  border: 0px;
  opacity: .65;
}

.customTooltip .introjs-disabled:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

/**Make main canvas black**/
#canvas{
  background-color: black;
}

/**Planet List on Homepage**/

.planets{
  display: inline-block;
  height: 250px;
  width: 240px;
  margin-top: 30px;
  margin-left: 30px;
  border: 10px solid black;
}

.name{
  color: white;
  text-align: center;
  font-size: 20px;
}

/**Planet container with its model and info**/
#planet-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.interactive{
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 100%;
}

#planet-display{
  position: relative;
  width: 60%;
  overflow: hidden;
}

#planet-info {
  overflow-y: auto;
  padding: 20px;
  padding-top: 50px;
  width: 40%;
}

.info{
  margin-top: 25px;
}

.info p{
  font-size: 14px;
  margin: 4px;
  
}
.info p:first-of-type{
  font-weight: 600;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}


/**Back Button**/
#back-button {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  top: 10px;
  left: 10px;
  width: 50px;
  background-color: "#c0c0c0";
  background-image: url(../icons/go-back-sel.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

#back-button:hover  {
  background-image: url(../icons/go-back.svg);
}

/**Planet Position and Size**/
#planet-pos{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.planet-new-name {
  position: absolute;
  bottom: 210px;
  z-index: 100;
  display:block;
  color: white;
}

.planet-distance {
  position: absolute;
  bottom: 170px;
  z-index: 100;
  display:block;
  color: white;
}

.planet-div {
  position: absolute;
  z-index: 100;
  display: block;
  height: 20px;
  top: 45%;

}

.planets:hover{
  transform: scale(1.1);
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}