/**Toolbar Buttons**/
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #info-button {
  background-image: url(../icons/info-icon.svg);
}

#main-toolbar #rotation-button {
  background-image: url(../icons/rotation-icon.svg);
}

#main-toolbar #image-button {
  background-image: url(../icons/save-image.svg);
}

#main-toolbar #position-button {
  background-image: url(../icons/compare-icon.svg);
}
#main-toolbar #list-button {
  background-image: url(../icons/observe-icon.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 7%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

/**Tutorial**/
.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

/**Make main canvas black**/
#canvas{
  background-color: black;
}

/**Planet List on Homepage**/
#planets-list{
  margin-left: 150px;
}
.planets{
  display: -webkit-inline-box;
  height: 250px;
  width: 240px;
  margin-top: 30px;
  margin-left: 30px;
  border: 10px solid black;
}

.name{
  color: white;
  text-align: center;
  font-size: 20px;
}

/**Planet container with its model and info**/
#planet-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.interactive{
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 100%;
}

#planet-display{
  position: relative;
  width: 60%;
  overflow: hidden;
}

#planet-info {
  overflow: hidden;
  padding: 20px;
  padding-top: 50px;
  width: 40%;
}

.info{
  margin-top: 25px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}


/**Back Button**/
#back-button {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  top: 10px;
  left: 10px;
  width: 50px;
  background-color: "#c0c0c0";
  background-image: url(../icons/go-back-sel.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

#back-button:hover  {
  background-image: url(../icons/go-back.svg);
}

/**Planet Position and Size**/
#planet-pos{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.planet-new-name {
  position: absolute;
  bottom: 210px;
  z-index: 100;
  display:block;
  color: white;
}

.planet-distance {
  position: absolute;
  bottom: 170px;
  z-index: 100;
  display:block;
  color: white;
}
