
@font-face {
	font-family: 'Conv_BlackOpsOne-Regular';
	src: url('BlackOpsOne-Regular.eot'),
	url('BlackOpsOne-Regular.ttf')  format('truetype');
}

.no-select-content {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

#board {
	align-items: center;
}

#main-toolbar {
	padding: 0%;
	margin-right: 0%;
}

@media only screen and (max-height: 450px) {
	#play_control {
		align-items: flex-start;
		position: relative;
	}

#play_keyboard {
	align-items: flex-end;
}

#app_control2 {
	position: relative;
}

#app_control8 {
	position: relative;

}
.body {
	background-color: white;
	overflow-x: hidden;
}

.home {
	background-color: white;
	width: 100%;
	height: 100%;
}

.credit-button {
	position: absolute;
	top: 20%;
	right: 5%;
	max-width: 10%;
}

.home-image {
	margin-top: 20px;
	margin-left: 20%;
	width: 800px;
	max-width: 60%;
}

.start-button {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 190px;
	max-width: 20%;
}

.start-button-text {
	position: absolute;
	text-align: center;
	font-size: 24px;
	font-family: 'Conv_BlackOpsOne-Regular';
	color: blue;
	width: 100%;
	vertical-align: middle;
	height: 24px;
	padding-top: 15%;
}

.start-button-image {
	position: absolute;
	width: 100%;
}

.status-line {
	position: absolute;
	top: 55px;
	right: 1%;
	font-family: 'Conv_BlackOpsOne-Regular';
	font-size: 24px;
}

.wave-text {
	text-align: right;
}

.wave-value {
	text-align: right;
}

.score-text {
	margin-top: 10%;
	text-align: right;
}

.score-value {
	text-align: right;
}

.title {
	position: absolute;
	left: 0px;
	top: -20px;
	height: 50px;
	font-size: 40px;
	font-family: 'Conv_BlackOpsOne-Regular';
	color: white;
	display:inline-block;
}

.board {
	height: 90px;
	background-color: white;
}

.game-box {
	margin-left: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.go-arrow {
	background-size: 40px 40px;
	width: 40px;
	height: 50px;
}

.go-left {
	background-image: url(../images/go-left.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	vertical-align: bottom;
}

.go-right {
	background-image: url(../images/go-right.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	vertical-align: bottom;
}

.mission-text {
	font-size: 32px;
	font-family: 'Conv_BlackOpsOne-Regular';
	color: black;
	height: 50px;
	padding: 0px 10px 0px 10px;
	color: blue;
}

.mission-header {
	font-size: 32px;
	font-family: 'Conv_BlackOpsOne-Regular';
	color: black;
}

.mission-description {
	position: absolute;
	bottom: 2%;
	left: 1%;
	max-width: 42%;
}

.mission-dot {
	font-family: Arial;
	font-weight: bold;
	font-size: 40px;
}

.mission-line {
	display:inline-block;
}

.mission-status {
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 250px;
	max-width: 35%;
}

.mission {
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
}

.mission-completed {
	background-image: url(../images/mission-completed.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.mission-tocomplete {
	background-image: url(../images/mission-tocomplete.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.image-preload {
	visibility: hidden;
}

@media only screen and (min-width: 300px) {
	.title {
		font-size: 30px;
		font-family: 'Conv_BlackOpsOne-Regular';
		width: 100%;
		text-align: center;
		}
}

@media only screen and (max-width: 300px) {
	.title {
		font-size: 1px;
		font-family: 'Conv_BlackOpsOne-Regular';
		}
}


.home-button {
	position: absolute;
	left: 0.5%;
	bottom: 0.5%;
	width: 50px;
	max-width: 7%;
}

.display-line {
	width: 100%;
	margin-bottom: 2%;
	text-align: center;
}

.keyboard-view  {
	width: 55px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	display:inline-block;
}

.lcd-value {
	width: 90px;
	display:inline-block;
}

.lcd-border {
	border-style: ridge;
	border-width: 4px;
}

.lcd-num {
	background-image: url(../images/led_values.png);
	width: 30px;
	height: 48px;
	display: inline-block;
}

.lcd-image-0 {
	background-position: 0px 0px;
}

.lcd-image-1 {
	background-position: -30px 0px;
}

.lcd-image-2 {
	background-position: -60px 0px;
}

.lcd-image-3 {
	background-position: -90px 0px;
}

.lcd-image-4 {
	background-position: -120px 0px;
}

.lcd-image-5 {
	background-position: -150px 0px;
}

.lcd-image-6 {
	background-position: -180px 0px;
}

.lcd-image-7 {
	background-position: -210px 0px;
}

.lcd-image-8 {
	background-position: -240px 0px;
}

.lcd-image-9 {
	background-position: -270px 0px;
}

.lcd-image-empty {
	background-position: -300px 0px;
}

.lcd-image-dash {
	background-position: -330px 0px;
}

.keyboard-set{
	position: absolute;
	bottom: 1%;
	right: 1%;
}

.keyboard-line {
	position: relative;
}

.keyboard {
	text-align: center;
	font-size: 24px;
	width: 50px;
	height: 50px;
	margin-left: 5px;
	display: inline-block;
}

.credits-popup {
	width: 760px;
	max-width: 90%;
	height: 500px;
	max-height: 90%;
	color: black;
	background-image:  url(../images/grass.png);
	border: medium solid black;
	border-radius: 20px / 15px;
	box-shadow: 5px 4px 10px 2px gray;
	padding: 5px
}

.credit-content {
	height: 100%;
}

.credit-image-hq {
	position: absolute;
	margin-top: 15px;
	margin-left: 5%;
}

.credit-image-tank {
	position: absolute;
	margin-top: 50px;
	margin-left: 5%;
}

.credit-image-helo {
	position: absolute;
	margin-top: 40px;
	margin-left: 5%;
}

.credit-image-soldier {
	position: absolute;
	margin-top: 60px;
	margin-left: 5%;
}

.credit-image-tankred {
	position: absolute;
	margin-top: 20px;
	right: 5%;
	z-index: 0;
}

.credit-image-target {
	position: absolute;
	margin-top: 10px;
	right: 6%;
	z-index: 1;
}

.credit-title {
	font-family: 'Conv_BlackOpsOne-Regular';
	font-size: 26px;
	margin-top: 30px;
	margin-left: 20%;
	color: white;
}

.credit-name {
	font-size: 16px;
	margin-left: 22%;
	margin-top: 3px;
	color: white;
}

@media screen and (max-width: 480px) {
#main-toolbar {
	/* width: 100%; */
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 20px;
		top: 0px;
	}

	.start-button-text {
		font-size: 16px;
	}

	.mission-text {
		font-size: 16px;
		height: 30px;
		padding: 0px 3px 0px 3px;
	}

	.mission-header {
		font-size: 18px;
	}

	.mission-dot {
		font-size: 26px;
	}

	.go-arrow {
		background-size: 20px 20px;
		width: 20px;
		height: 30px;
	}

	.mission {
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
	}

	.status-line {
		font-family: 'Conv_BlackOpsOne-Regular';
		font-size: 16px;
	}

	.lcd-value {
		width: 60px;
	}

	.lcd-num {
		background-image: url(../images/led_values_small.png);
		width: 20px;
		height: 32px;
		display: inline-block;
	}

	.lcd-image-0 {
		background-position: 0px 0px;
	}

	.lcd-image-1 {
		background-position: -20px 0px;
	}

	.lcd-image-2 {
		background-position: -40px 0px;
	}

	.lcd-image-3 {
		background-position: -60px 0px;
	}

	.lcd-image-4 {
		background-position: -80px 0px;
	}

	.lcd-image-5 {
		background-position: -100px 0px;
	}

	.lcd-image-6 {
		background-position: -120px 0px;
	}

	.lcd-image-7 {
		background-position: -140px 0px;
	}

	.lcd-image-8 {
		background-position: -160px 0px;
	}

	.lcd-image-9 {
		background-position: -180px 0px;
	}

	.lcd-image-empty {
		background-position: -200px 0px;
	}

	.lcd-image-dash {
		background-position: -220px 0px;
	}

	.keyboard {
		font-size: 18px;
		width: 30px;
		height: 30px;
		margin-left: 0px;
	}
}

@media screen and (min-width: 481px) and (max-width: 640px) {
	.title {
		font-size: 24px;
		top: -10px;
	}

	.start-button-text {
		font-size: 20px;
	}

	.mission-description {
		bottom: 11%;
	}

	.mission-text {
		font-size: 20px;
		height: 30px;
		padding: 0px 5px 0px 5px;
	}

	.mission-header {
		font-size: 22px;
	}

	.mission-dot {
		font-size: 30px;
	}

	.go-arrow {
		background-size: 30px 30px;
		width: 30px;
		height: 35px;
	}

	.mission {
		background-size: 30px 30px;
		width: 30px;
		height: 35px;
	}

	.keyboard {
		font-size: 20px;
		width: 35px;
		height: 35px;
		margin-left: 0px;
	}
}


@media screen and (min-width: 641px) and (max-width: 820px) {
	.mission-description {
		bottom: 11%;
	}

	.mission-text {
		font-size: 24px;
		height: 30px;
		padding: 0px 5px 0px 5px;
	}

	.mission-header {
		font-size: 26px;
	}

	.mission-dot {
		font-size: 32px;
	}

	.go-arrow {
		background-size: 35px 35px;
		width: 35px;
		height: 40px;
	}

	.mission {
		background-size: 35px 35px;
		width: 35px;
		height: 40px;
	}
}
