#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #png-button {
	background-image: url(../icons/png-export.svg);
}

#main-toolbar #photo-button {
	background-image: url(../icons/photo.svg);
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.splitbar {
	background-image: url(../icons/split.svg);
	background-position: center;
	background-repeat: no;
	width: 3px;
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 45px;
	display: inline-block;
	vertical-align: bottom;
}

#activity-palette {
	z-index: 5;
}

#input-box {
	position: relative;
	z-index: 2;
	background-color: #c0c0c0; 
	
	
}


.search-field-border {
	position: relative;
	border-radius: 22px;
	top: 2px;
	margin-left: 77px;
	width: 350px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
  }
  
  .search-field-border-focus {
	background-color: #c0c0c0;
	border: 2px solid #c0c0c0;
  }
  
  .search-field-border-nofocus {
	background-color: #e5e5e5;
	border: 2px solid #e5e5e5;
  }
  
  .search-field-input {
	  
	opacity: 1;
	margin-left: 30px;
	border: 0px;
	display: inline-block;
	background-color: #e5e5e5;
	width: 270px;
	line-height: 22px;
	outline: 0;
	font-size: 15pt;
	position: relative;
	top: 5px;
  }
  
  .search-field-iocancel {
	position: absolute;
	background-image: url(../icons/entry-cancel.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #e5e5e5;
	right: 10px;
	border: none;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	top: 70%;
	transform: translateY(-110%);
  }
  
  .search-field-iocancel:hover {
	background-color: #e5e5e5
  }

@media (max-width: 960px) {
	#user-text {
		margin-left: 5vw;
	}
}
@media (max-width: 600px) {
	#user-text {
		margin-left: 10vw;
	}
}



.text-url {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#generate-button {
	height: 45px;
	width: 50px;
	margin: 8px;
	right: 4px;
	bottom: 15px;
	top: 2px;
	z-index: 1;
	position: absolute;
	background-image: url(../icons/go-right.svg);
	background-size: 55px 50px;
	background-position: 50% 50%;
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 5%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
}

#close-button {
	background-image: url(../icons/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: 47px;
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 42px;
	height: 42px;
	top: 0;
	left: 95%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
}

#switchcamera-button {
	background-image: url(../icons/switch-camera.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 42px;
	height: 42px;
	bottom: 10px;
	left: 95%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
}

#qr-code {
	position: absolute;
	width: 30%;
}

#canvas {
	background-color: white;
	overflow-y: hidden;
	overflow-x: hidden;
}

#video-stream {
	position: absolute;
	margin-top: 50px;
}

#qr-canvas {
	visibility: hidden;
	width: 0px;
	height: 0px;
	position: absolute;
}

#loading-spinner {
	position: absolute;
	margin-left: 30px;
	margin-top: 10px;
	visibility: hidden;
	z-index: 4;
}
#qrtextdropdown {
	height: 7vh;
	width: 7vh;
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: none;
	border: none;
	background-image: url(../icons/go-down.svg);
	background-size: 55px 50px;
	background-position: 50% 50%;
	color: #555;
	font-size: inherit;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0;
	height: 45px;
	width: 50px;
	margin: 8px;
	left: -0.4vw;
	bottom: 15px;
	top: 2px;
	z-index: 1;
	position: absolute;
}
@media (min-width: 1140px) {
	#qrtextdropdown {
		margin-left: 1.5vw;
	}
}
#qrtextdropdown option {
	font-size: 20px;
}
