body {
 background: black;
 margin: 0 auto;
 overflow-y: hidden;
}

div.frame {
 background: #f0f0f0;
 margin: 0 auto;
 position: relative;
 width: 1024px;
 height: 748px;
 overflow: hidden;
}

.canvas-wrapper{
 width: 100vw;
 height: 100%;
 display: inline-flex;
 justify-content: center;
 background: #c0c0c0;
}

#canvas {
 position: relative;
 width: 1024px;
 height: 748px;
 top: 0px !important;
 overflow: hidden;
}

canvas.gridcnv {
 position: relative;
 width: 1024px;
 height: 748px;
 top: 0px;
 left: 0px;
}

div.thumbframe {
 background: #d0d0d0;
 position: absolute;
 top: 0px;
 left: 0px;
}
