#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-game-button {
  margin-left: 40px;
  background-image: url(../icons/new-game-icon.svg);
}

#main-toolbar #level-easy-button {
  margin-left: 40px;
  background-image: url(../icons/level-easy.svg);
}

#main-toolbar #level-medium-button {
  background-image: url(../icons/level-medium.svg);
}

#main-toolbar #level-hard-button {
  background-image: url(../icons/level-hard.svg);
}

#main-toolbar #switch-player-button {
  margin-left: 40px;
  background-image: url(../icons/switch-player.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

@media screen and (max-width: 620px) {
	.toolbar {
		padding-left: 10px;
	}
	
	#main-toolbar #activity-button {
		left: 10px;
	}
	
	#main-toolbar #new-game-button {
		margin-left: 10px;
	}
	
	#main-toolbar #level-easy-button {
		margin-left: 10px;
	}
	
	#main-toolbar #switch-player-button {
		margin-left: 15px;	
	}
}
