#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

html{
  height: 100%;
  background-color: #dddddd;
}


#container{
  width: 600px;
  height: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #783393;
  position: relative;
}

#time{
  display: none;
  width: 80px;
  float: left;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #EF4581;
  border-radius: 5px;


}

#score{
  float: right;
  padding: 12px;
  width: 80px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #EF4581;
  border-radius: 5px;
}

#correct{
  position: absolute;
  left: 280px;
  padding: 12px;
  background-color: #01848F;
  color: #fff;
  border-radius: 5px;
  display: none;
}

#wrong{
  position: absolute;
  left: 280px;
  padding: 12px;
  background-color: #C62828;
  color: #fff;
  border-radius: 5px;
  display: none;
}

#question{
  width: 500px;
  height: 150px;
  margin: 70px auto 10px auto;
  background-color: #00BCD4;
  border-radius: 5px;
  font-size: 130px;
  font-weight: 200;
  font-family: Roboto,sans-serif;
  text-align: center;
  padding: auto;
}

#instruction{
  width: 500px;
  height: 60px;
  margin: 20px auto 10px auto;
  border-radius: 5px;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 60px;
  background: #E6E7E8;
}

#choices{
  width: 500px;
  height: 120px;
  margin: 20px auto 10px auto;
}

.box{
  float: left;
  width: 100px;
  background-color: #CDDC39;
  height: 80px;
  font-size: 20px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  margin-right: 33px;
  cursor: pointer;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
}

.box:hover{
  background-color: #C0CA33;
  line-height: 100px;
  font-size: 25px;
  font-weight: 400;
  height: 100px;
  color: #000;
}

.box:active{
  background-color: #AFB42B;
}
#box4{
  margin-right: 0px;
}

#start{
  position: absolute;
  left: 270px;
  width: 100px;
  background-color: #4CAF50;
  height: 40px;
  color: white;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
}

#start:hover{
  background-color: #66BB6A;
  color: white;
}

#gameOver{
  height: auto;
  width: 500px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #00796B;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  font-size: 50px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 70px;
  top: 85px;
  z-index: 2;
  display: none;
}