main-toolbar #activity-button {
    background-image: url(../activity/activity-icon.svg);
}

body {
    overflow: hidden;
}

textarea {
	resize: vertical !important;
	max-height: 70vh !important;
}

.loading-svg {
    position:absolute;
    display: none;
}