<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.olpc-france.sugarizer"
        version   = "1.0.0">
    <name>Sugarizer</name>

    <description>
        A taste of the Sugar on any device.
    </description>

    <author href="http://olpc-france.org" email="lionel@olpc-france.org">
        Lionel Laské for OLPC France
    </author>

	<preference name="permissions" value="none"/>
	
	<preference name="android-minSdkVersion" value="13" />	
	
    <icon src="icons/sugarweb57x57.png" />
	<icon src="icons/sugarweb64x64.png" gap:platform="webos" />	
	<icon src="icons/sugarweb72x72.png" gap:platform="webos" />	
	<icon src="icons/sugarweb48x48.png" gap:platform="android" gap:density="mdpi" />	
	<icon src="icons/sugarweb72x72.png" gap:platform="android" gap:density="hdpi" />	
	<icon src="icons/sugarweb57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/sugarweb72x72.png" gap:platform="ios" width="72" height="72" />	
</widget>