<?xml version='1.0' encoding='utf-8'?>
<widget id="org.olpcfrance.sugarizer" version="0.8.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sugarizer</name>
    <description>
        A taste of the Sugar on any device.
    </description>
    <author email="lionel@olpc-france.org" href="http://olpc-france.org">
        Lionel Laské for OLPC France
    </author>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-camera" version="1.2.0" />
    <plugin name="cordova-plugin-device-motion" version="1.2.0" />
    <plugin name="cordova-plugin-dialogs" version="1.2.0" />
    <plugin name="cordova-plugin-globalization" version="1.0.2" />
    <plugin name="cordova-plugin-network-information" version="1.1.0" />
    <plugin name="cordova-plugin-device" version="1.1.0" />
    <plugin name="cordova-plugin-media" version="1.0.1" />
    <icon src="icon.png" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-192-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
    </platform>
    <plugin name="cordova-plugin-sugarizeros" spec="https://github.com/lupin012345/cordova-plugin-sugarizeros.git" />
</widget>
