<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android   = "http://schemas.android.com/apk/res/android"		
        id        = "org.olpc-france.sugarizer"
        version   = "0.5.0">
    <name>Sugarizer</name>

    <description>
        A taste of the Sugar on any device.
    </description>

    <author href="http://olpc-france.org" email="lionel@olpc-france.org">
        Lionel Laské for OLPC France
    </author>

	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="landscape" />
	<gap:config-file platform="android" parent="/manifest/application">
		<activity android:screenOrientation="landscape"/>
	</gap:config-file>	
	
	<preference name="permissions" value="none"/>
	
	<preference name="android-minSdkVersion" value="13" />	
	
	<gap:plugin name="org.apache.cordova.media" version="0.2.12" />	
	<feature name="Media">
		<param name="android-package" value="org.apache.cordova.media.AudioHandler" />
	</feature>	
	
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />	
</widget>