button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

p {
	margin: 0.6em 0;
}

#app {
	min-height: 100%;
	background-color: #fff;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

/* Buttons added */

#grid-mode {
	background-image: url(../icons/grid.svg);
}
#single-mode {
	background-image: url(../icons/linear.svg);
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	width: 90px;
	background-color: #808080;
	border: 2px solid #808080;
	display: flex;
	align-items: center;
}

.tutorial-icon-button {
	color: white;
}
.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-icon-text {
	padding-left: 4px;
}

#display-image {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

#display-grid {
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-auto-rows: 120px;
	grid-gap: 10px;
}
.grid-image img {
	height: 120px;
	width: 120px;
}

.questionmark {
	border-radius: 100px;
	padding: 2px;
}

#display-single {
	height: 375px;
	width: 375px;
}

#display-single img {
	height: 375px;
	width: 375px;
}

#previous-btn {
	background-image: url(../icons/go-previous.svg);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
#previous-btn-inactive {
	background-image: url(../icons/go-previous-inactive.svg);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
#next-btn {
	background-image: url(../icons/go-next.svg);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
#next-btn-inactive {
	background-image: url(../icons/go-next-inactive.svg);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

/* Editor Styling */

#editor {
	margin-top: 20px;
	display: flex;
	height: 150px;
	justify-content: center;
}

#editor-area {
	height: 100%;
	min-width: 70vw;
	border: 1px solid black;
}

#icons-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-left: 15px;
} 
#record {
	background-image: url(../icons/media-audio.svg);
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
#record-start {
	background-image: url(../icons/media-audio-recording.svg);
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
#play {
	background-image: url(../icons/play.svg);
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
#play-inactive {
	background-image: url(../icons/play-inactive.svg);
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
#speak {
	background-image: url(../icons/speak.svg);
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
#speak-inactive {
	background-image: url(../icons/speak-inactive.svg);
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}