#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}

#main-toolbar #nodetext-button {
  background-image: url(../icons/nodetext-mode.svg);
}

#main-toolbar #link-button {
  background-image: url(../icons/link-mode.svg);
}

#main-toolbar #delete-button {
  background-image: url(../icons/delete-mode.svg);
}

#main-toolbar #zoom-button {
  background-image: url(../icons/zoom.svg);
}

#main-toolbar #undo-button {
  background-image: url(../icons/edit-undo.svg);
}

#main-toolbar #redo-button {
  background-image: url(../icons/edit-redo.svg);
}

#main-toolbar #png-button {
  background-image: url(../icons/png-export.svg);
}

#main-toolbar #network-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#private-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

#shared-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

.zoombuttons {
  border: 0px;
  background: #000000;
  border-radius: 5.5px !important;
}

.zoombutton:active {
  background-color: #808080;
  border-radius: 5.5px !important;
}

#sub-toolbar {
  position: absolute;
  width: 100%;
  padding: 0 !important;
  visibility: hidden;
  z-index: 2;
}

.search-field-border {
  position: relative;
  border-radius: 22px;
  top: 8px;
  margin-left: 57px;
  width: 350px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
}

.search-field-border-focus {
  background-color: white;
  border: 2px solid white;
}

.search-field-border-nofocus {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}

.search-field-input {
  opacity: 1;
  margin-left: 30px;
  border: 0px;
  display: inline-block;
  background-color: #e5e5e5;
  width: 270px;
  line-height: 22px;
  outline: 0;
  font-size: 12pt;
  position: relative;
  top: 5px;
}

.search-field-iocancel {
  position: absolute;
  background-image: url(../icons/entry-cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e5e5e5;
  right: 10px;
  border: none;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  top: 50%;
  transform: translateY(-110%);
}

.search-field-iocancel:hover {
  background-color: #e5e5e5
}

#sub-toolbar #bold-button {
  background-image: url(../icons/bold-text.svg);
}

#sub-toolbar #italics-button {
  background-image: url(../icons/italics-text.svg);
}

.splitbar {
  background-image: url(../icons/split.svg);
  background-position: center;
  background-repeat: no;
  width: 3px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 45px;
  display: inline-block;
  vertical-align: bottom;
}

#sub-toolbar #fontminus-button {
  background-image: url(../icons/resize-.svg);
}

#sub-toolbar #font-button {
  background-image: url(../icons/font-text.svg);
}

#sub-toolbar #fontplus-button {
  background-image: url(../icons/resize+.svg);
}

#fontsizecomputer {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
.palette .colors {
  list-style-type: none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}

.palette .colors button {
  width: 44px;
  height: 44px;
  padding: 0;
  border-color: white;
  margin-left: 5.5px;
  margin-top: 5.5px;
}
.palette .colors tr:nth-last-child(1) button {
  margin-bottom: 5.5px;
}

.introjs-overlay {
	background-color: #000 !important;
	opacity: .8 !important;
}

.introjs-tooltip {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	border-radius: 6px !important;
	padding: 2px 1px !important;
	font-size: 14px !important;
}

.introjs-helperLayer{
	background: inherit !important;
	opacity: 0.6 !important;
}  

.customTooltip .introjs-tooltip-header {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #ffffff;
	text-shadow: none;
	background-color: #808080;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}

.customTooltip .introjs-tooltip-title {
	font-size: 14px;
	padding: 0px 8px;
	font-weight: 800;
}

.customTooltip .introjs-tooltiptext {
	color: #000000;
	line-height: 1.42857143;
}

.customTooltip .introjs-skipbutton {
  float: right;
  cursor: pointer;
  background-image: url(../icons/dialog-cancel.svg);
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-top: 2px;
  padding: 0px;
  white-space: nowrap;
  color: transparent;
  line-height: 27px;
}  

.customTooltip .introjs-nextbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.customTooltip .introjs-prevbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.customTooltip .introjs-tooltipbuttons {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-top: 0px;
	padding: 0px;
	text-align: center;
	white-space: normal;
}

.customTooltip .introjs-button {
	text-shadow: none;
	border-radius: 22px;
	margin: 5px 8px 8px 8px;
	width: fit-content;
	background-color: #808080 !important;
	display: flex !important;
	align-items: center !important;
	color: white !important;
	padding: 6px 20px 6px 10px;
	border: 0px;
}

.customTooltip .introjs-button:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
	background-color: #808080 !important;
}

.customTooltip .introjs-disabled {
	color: black !important;
	border: 0px;
	opacity: .65;
}

.customTooltip .introjs-disabled:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

#canvas {
  overflow-x: hidden;
  overflow-y: hidden;
}

#activity-palette {
  z-index: 3;
}

@media screen and (max-width: 905px) {
 .splitbar {
   visibility: hidden;
   width: 0px;
 }
 #fontpalette {
    left: initial !important;
    right: 0px !important;
  }
}

@media screen and (max-width: 820px) {
 .search-field-input {
  width: 120px;
 }

 .search-field-border  {
   width: 200px;
 }
}

@media screen and (max-width: 760px) {
    #network-button {
        visibility: hidden;
        width: 0px;
    }
}

@media screen and (max-width: 720px) {
    #help-button {
        visibility: hidden;
        width: 0px;
    }
    
    #sub-toolbar #fontminus-button {
      display: none;
    }

    #sub-toolbar #font-button {
      display: none;
    }

    #fontpalette {
      left: 0px !important;
    }

    #sub-toolbar #fontplus-button {
      display: none;
    }
}

@media screen and (max-width: 682px) {
    #png-button {
        visibility: hidden;
        width: 0px;
    }
}

@media screen and (max-width: 642px) {
    #zoom-button {
        visibility: hidden;
        width: 0px;
    }
}

@media screen and (max-width: 650px) {
 .search-field-border {
   margin-left: 5px;
 }
}

@media screen and (max-width: 558px) {
    #undo-button {
        visibility: hidden;
        width: 0px;
    }
    #redo-button {
        visibility: hidden;
        width: 0px;
    }
}

@media screen and (max-width: 600px) {
 .toolbar {
   padding-left: 10px;
 }
 #main-toolbar #zoom-button {
   visibility: hidden;
   left: 0px;
   width: 0px;
 }

 #zoompalette {
   left: 0px !important;
 }

 .colorpalette {
   left: 0px !important;
 }

 #foreground-button {
   visibility: hidden;
   width: 0px; left: 0px;
 }

 #background-button {
   visibility: hidden;
   width: 0px; left: 0px;
 }
}

@media screen and (max-width: 515px) {
 #main-toolbar #stop-button {
   position: absolute;
 }
}
