<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Mind Math Activity</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
	<link rel="prefetch" type="application/l10n" href="locale.ini" />
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-200dpi.css">
	<link rel="stylesheet" href="css/activity.css">
	<link rel="stylesheet" href="css/slots.css">
	<link rel="stylesheet" href="css/game.css">
	<link rel="stylesheet" href="css/result.css">
	<link rel="stylesheet" href="css/leaderboard.css">
	<link rel="stylesheet" href="css/bootstrap-tour-standalone.min.css">
	<link rel="stylesheet" href="css/libnotify.css">
	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
	<script src="lib/vue.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap-tour-standalone.min.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="lib/require.js"></script>
</head>

<body>
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button"></sugar-toolitem>
			<sugar-toolitem splitbar></sugar-toolitem>

			<sugar-toolitem
				id="network-button"
				v-bind:title="l10n.stringNetwork"
				palette-file="sugar-web/graphics/presencepalette"
				palette-class="PresencePalette"
				palette-event="shared"
				v-on:shared="SugarPresence.onShared"
				v-if="SugarPresence"
			></sugar-toolitem>
			<sugar-toolitem id="undo-button" v-bind:title="l10n.stringUndo" v-on:click="handleUndoButton"></sugar-toolitem>
			<sugar-toolitem id="redo-button" v-bind:title="l10n.stringRedo" v-on:click="handleRedoButton"></sugar-toolitem>
			<sugar-toolitem
				id="timer-button"
				v-bind:title="l10n.stringTimer"
				v-bind:disabled="disabled"
				palette-file="js/palettes/timerPalette.js"
				palette-class="TimerPalette"
				palette-title=" Timer"
				palette-event="timer-selected"
				v-on:timer-selected="onTimerSelected"
			></sugar-toolitem>
			<sugar-toolitem
				id="level-button"
				v-bind:title="l10n.stringDifficultyLevel"
				v-bind:disabled="disabled"
				palette-file="js/palettes/difficultyPalette.js"
				palette-class="DifficultyPalette"
				palette-title="difficulty level"
				palette-event="difficulty-selected"
				v-on:difficulty-selected="onDifficultySelected"
			></sugar-toolitem>
			<sugar-toolitem
			 	id="compulsory-op-button"
				v-bind:title="l10n.stringCompulsoryOperators"
				v-bind:disabled="disabled"
				palette-file="js/palettes/compulsoryOpPalette.js"
				palette-class="CompulsoryOpPalette"
				palette-title="compulsory Operators"
				palette-event="compulsory-op-selected"
				v-on:compulsory-op-selected="onCompulsoryOpSelected"
			></sugar-toolitem>
			<sugar-toolitem
				id="hint-button"
				ref="hintPalette"
				v-bind:title="l10n.stringHint"
				v-bind:disabled="disabled"
				palette-file="js/palettes/hintPalette.js"
				palette-class="HintPalette"
				palette-title="hint"
			></sugar-toolitem>

			<sugar-toolitem id="stop-button" v-bind:title="l10n.stringStop" class="pull-right" v-on:click="onStop"></sugar-toolitem>
			<sugar-toolitem v-if="$refs.SugarToolbar ? !$refs.SugarToolbar.isHidden() : true" v-on:click="fullscreen" id="fullscreen-button" v-bind:title="l10n.stringFullscreen" class="pull-right"></sugar-toolitem>
			<sugar-toolitem v-else v-on:click="unfullscreen" id="unfullscreen-button" v-bind:title="l10n.stringUnfullscreen" class="pull-right"></sugar-toolitem>
			<sugar-toolitem id="help-button" v-bind:title="l10n.stringTutorial" class="pull-right" v-on:click="onHelp"></sugar-toolitem>
		</sugar-toolbar>

		<transition name="fade" id="app-content" mode="out-in">
			<component
				v-bind:is="currentScreen"
				v-bind:time="clock.time"
				v-bind:stroke-color="strokeColor"
				v-bind:fill-color="fillColor"
				v-bind:questions="questions"
				v-bind:q-no="qNo"
				v-bind:score="score"
				v-bind:mode="mode"
				v-bind:compulsory-ops="compulsoryOps"
				v-bind:compulsory-ops-for-each-question="compulsoryOpsForEachQuestion"
				v-bind:compulsory-ops-rem="compulsoryOpsRem"
				v-bind:slots="slots"
				v-bind:scores="scores"
				v-bind:time-taken="timeTaken"
				v-bind:input-numbers="inputNumbers"
				v-bind:input-numbers-types="inputNumbersTypes"
				v-bind:players-all="playersAll"
				v-bind:players-playing="playersPlaying"
				v-bind:disabled="disabled"
				v-bind:multiplayer="multiplayer"
				v-bind:sugar-presence="SugarPresence"
				v-bind:is-target-acheived="isTargetAcheived"
				v-bind:l10n="l10n"
				v-on:validate="onValidate"
				v-on:slots-update="onSlotsUpdated"
				v-on:restart-game="handleRestartButton"
				v-on:pass-question="handlePassButton"
				v-on:see-leaderboard="currentScreen = 'leaderboard'"
				v-on:go-to-result="currentScreen = 'result'"
			></component>
	</transition>


		<sugar-activity ref="SugarActivity" v-on:initialized="initialized"></sugar-activity>
		<sugar-popup ref="SugarPopup"></sugar-popup>
		<sugar-journal ref="SugarJournal" v-on:journal-data-loaded="onJournalDataLoaded" v-on:journal-load-error="onJournalLoadError" v-on:journal-new-instance="onJournalNewInstance"></sugar-journal>
		<sugar-presence ref="SugarPresence" v-on:data-received="onNetworkDataReceived" v-on:user-changed="onNetworkUserChanged" v-on:multiplayer-game-started="onMultiplayerGameStarted"></sugar-presence>
		<sugar-localization ref="SugarL10n" v-on:localized="localized"></sugar-localization>
		<sugar-tutorial ref="SugarTutorial"></sugar-tutorial>
	</div>

	<script src="js/utils/utils.js"></script>
	<script src="js/utils/game-rpn-evaluator.js"></script>
	<script src="js/utils/hintsGenerator.js"></script>
	<script src="js/utils/questionsGenerator.js"></script>
	<script src="js/Clock.js"></script>
	<script src="js/inputNumber.js"></script>
	<script src="js/Slots.js"></script>
	<script src="js/Result.js"></script>
	<script src="js/Leaderboard.js"></script>
	<script src="js/Game.js"></script>
	<script src="js/components/SugarTutorial.js"></script>
	<script src="js/components/SugarL10n.js"></script>
	<script src="js/components/SugarPresence.js"></script>
	<script src="js/components/SugarJournal.js"></script>
	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarPopup.js"></script>
	<script src="js/components/SugarToolbar.js"></script>

	<script src="js/activity.js"></script>
</body>

</html>
