#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #play-pause.play {
  background-image: url(../icons/play.svg)
}
#main-toolbar #play-pause.pause {
  background-image: url(../icons/pause.svg)
}

#main-toolbar #speed-button {
  background-image: url(../icons/gen-speed.svg);
}

#main-toolbar #size-button {
  background-image: url(../icons/grid-size.svg);
}

#main-toolbar #random {
  background-image: url(../icons/random.svg);
}
#main-toolbar #glider {
  background-image: url(../icons/glider.svg);
}
#main-toolbar #no {
  background-image: url(../icons/no.svg);
}
#main-toolbar #clear {
  background-image: url(../icons/clear.svg);
}
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}
#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 5%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}
.main {
  position: relative;
  width: 100%;
  background: #FBF6F5;
  height: calc(100vh - 56px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  z-index: 1;
}

.generation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.generation-status {
  width: 100%;
  height: 30px;
  text-align: center;
  letter-spacing: 4.2px;
  font-size: 16px;
}
.generation-count {
  flex: 1;
  text-align: center;
  font-size: 72px;
  font-weight: 800;
}

#activity-palette {
  z-index: 30;
}
