/*@media screen and (max-width: 1000px) {*/

.toolbar {
  /*padding: 0 10px !important;*/
}
.palette .wrapper {
  max-width: none !important;
}

/*}*/

#insertimage-button, #colors-button-fill, #colors-button-stroke, #undo-button, #redo-button, #size-button, #pen-button, #eraser-button, #stamps-button, #text-button, #drawings-button, #bucket-button, #filters-button, #copy-button, #paste-button, #clear-button {
  display: none;
}

@media only screen and (min-width: 330px) {
  #pen-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 385px) {
  #colors-button-fill {
    display: inline-block;
  }
}

@media only screen and (min-width: 440px) {
  #colors-button-stroke {
    display: inline-block;
  }
}

@media only screen and (min-width: 490px) {
  #eraser-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 550px) {
  #size-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 601px) {
  #insertimage-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 715px) {
  #stamps-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 1147px) {
  #filters-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 770px) {
  #text-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 825px) {
  #drawings-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 880px) {
  #bucket-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 935px) {
  #undo-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 990px) {
  #redo-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 1038px) {
  #copy-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 1090px) {
  #paste-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 660px) {
  #clear-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 1135px) {
  #help-button {
    display: inline-block;
  }
}

#main-toolbar {
  overflow: hidden;
}
#main-toolbar #network-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}
#shared-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #pen-button {
  background-image: url(../icons/tool-pencil.svg);
}
#main-toolbar #eraser-button {
  background-image: url(../icons/tool-eraser.svg);
}
#main-toolbar #stamps-button {
  background-image: url(../icons/tool-stamp.svg);
}
#main-toolbar #size-button {
  background-image: url(../icons/size-1.svg);
}
#main-toolbar #insertimage-button {
  background-image: url(../icons/insert-image.svg);
}
#main-toolbar #text-button {
  background-image: url(../icons/tool-write.svg);
}
#main-toolbar #undo-button {
  background-image: url(../icons/edit-undo.svg);
}
#main-toolbar #redo-button {
  background-image: url(../icons/edit-redo.svg);
}
#main-toolbar #drawings-button {
  background-image: url(../icons/picture-icon.svg);
}
#main-toolbar #bucket-button {
  background-image: url(../icons/tool-bucket.svg);
}
#main-toolbar #filters-button {
  background-image: url(../icons/tool-effects.svg);
}
#main-toolbar #copy-button {
  background-image: url(../icons/tool-copy.svg);
}
#main-toolbar #paste-button {
  background-image: url(../icons/tool-paste.svg);
}
#main-toolbar #save-image-button {
  background-image: url(../icons/save-image.svg);
}
#main-toolbar #clear-button {
  background-image: url(../icons/edit-clear.svg);
}
#main-toolbar {}
.palette .colors {
  list-style-type: none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}
#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}
.palette .colors button {
  width: 44px;
  height: 44px;
  padding: 0;
  border-color: white;
  margin-left: 5.5px;
  margin-top: 5.5px;
}
.palette .colors tr:nth-last-child(1) button {
  margin-bottom: 5.5px;
}
.palette .stamps {
  list-style-type: none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}
.palette .stamps button {
  width: 44px;
  height: 44px;
  padding: 0;
  border-color: white;
  margin-left: 5.5px;
  margin-top: 5.5px;
}
.palette .stamps tr:nth-last-child(1) button {
  margin-bottom: 5.5px;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}
