button:disabled {
  opacity: 0.3 !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dejavu Sans";
}

p {
  margin: 0.6em 0;
}

#app {
  min-height: 100%;
}

#app-content {
  width: 100%;
  height: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}

.fade-enter, .fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

#main-toolbar .splitbar {
  border-right: 1.5px solid #565656;
  margin: 7.5px 5px;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

#main-toolbar.toolbar {
  padding: 0 2%;
  overflow-y: hidden;
}

#main-toolbar.hidden {
  height: 0;
  overflow: hidden;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #restart-button {
  background-image: url(../icons/restart.svg);
}

#main-toolbar #pass-button {
  background-image: url(../icons/end-icon.svg);
}

#main-toolbar #undo-button {
  background-image: url(../icons/edit-undo.svg);
}

#main-toolbar #redo-button {
  background-image: url(../icons/redo.svg);
}

#main-toolbar #timer-button {
  background-image: url(../icons/timer-0.svg);
}

#main-toolbar #level-button {
  background-image: url(../icons/level.svg);
}

#main-toolbar #compulsory-op-button {
  background-image: url(../icons/compulsory-op.svg);
}

#main-toolbar #hint-button {
  background-image: url(../icons/robot.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#main-toolbar #network-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#private-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

#shared-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

#main-toolbar #fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#main-toolbar #unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 6%;
  position: absolute;
  z-index: 5;
}

#easy-button {
  background-image: url(../icons/easy-level.svg);
}

#medium-button {
  background-image: url(../icons/medium-level.svg);
}

.disabled {
  opacity: .65;
}

#app {
  width: 100%;
  height: 100%;
}

#game-view {
  width: 100%;
  height: 90%;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}

#result-view {
  width: 100%;
  height: 90%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

#leaderboard-view {
  width: 100%;
  height: 80%;
  flex: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.solution-panel {
  height: 90%;
  width: 98%;
  overflow: auto;
  background-color: #b58863;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 0.8%;
  justify-content: space-around;
}

.btn-operator {
  cursor: pointer;
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
  padding: 1%;
  border: none;
  color: black;
  border-radius: 50%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%, 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: width 0.8s, height 0.8s;
}

.plus {
  background-image: url(../icons/plus.svg);
}

.plus-circle {
  background-image: url(../icons/plus.svg), url(../icons/circle.svg)
}

.minus {
  background-image: url(../icons/minus.svg);
}

.minus-circle {
  background-image: url(../icons/minus.svg), url(../icons/circle.svg)
}

.multiply {
  background-image: url(../icons/multiply.svg);
}

.multiply-circle {
  background-image: url(../icons/multiply.svg), url(../icons/circle.svg)
}

.divide {
  background-image: url(../icons/divide.svg);
}

.divide-circle {
  background-image: url(../icons/divide.svg), url(../icons/circle.svg)
}

.btn-operator:hover {
  font-size: 60px;
  background-size: 75%, 100%;
}

.selected-op {
  width: 110px;
  height: 110px;
  font-size: 60px;
  background-size: 75%, 100%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 1);
}

.list-operators {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
}

.btn-number {
  cursor: pointer;
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  padding: 1%;
  border-radius: 20%;
  color: black;
  text-align: center;
  line-height: 100px;
  transition: background 0.8s;
  transition: width 0.8s, height 0.8s;
}

.diamond {
  box-shadow: none;
  border: none;
  background-image: url(../icons/diamond-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.square {
  box-shadow: none;
  border: none;
  background-image: url(../icons/square-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.btn-number:hover {
  font-size: 40px;
}

.selected-num {
  border-radius: 50%;
  border: none;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.3);
}

.list-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
}

.list-slots {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slot {
  margin: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slot div {
  width: 60px;
  height: 60px;
  font-size: 25px;
  font-weight: normal;
  background: transparent;
  line-height: 60px;
  border-radius: 20%;
  padding: 1%;
  color: black;
  text-align: center;
  /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);*/
  transition: width 0.8s, height 0.8s;
  background-image: url(../icons/square-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.slot .symbol {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: black;
  background-image: url(../icons/diamond-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: none;
}

.slot .number {
  border: none;
  color: black;
  background-image: url(../icons/diamond-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: none;
}

.slot .res {
  border: none;
  color: black;
  background-image: none;
}

.slot .operator {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  color: black;
  border-radius: 50%;
  background-color: #f0d9b5;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.slot .plus {
  background-image: url(../icons/plus.svg);
}

.slot .minus {
  background-image: url(../icons/minus.svg);
}

.slot .multiply {
  background-image: url(../icons/multiply.svg);
}

.slot .divide {
  background-image: url(../icons/divide.svg);
}

.slot .circle {
  border: 3px solid black;
}

.slot .acheived {
  background-image: url(../icons/target.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.slot .empty-slot {
  border: none;
  background-image: url(../icons/empty.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: none;
}

.game-area-panel {
  height: 90%;
  width: 46%;
  overflow: auto;
  background-color: #b58863;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 0.8%;
  justify-content: space-around;
}

.game-area-container {
  vertical-align: middle;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slots-area-panel {
  height: 60%;
  width: 46%;
  overflow: auto;
  background-color: #b58863;
  margin: 0.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slots-area-main {
  width: 100%;
  min-height: 70%;
  overflow-y: auto;
}

.slots-area-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.details-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
}

.detail-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 100px;
  background-color: #f0d9b5;
  border: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.detail-block-logo {
  height: 100%;
  width: 50%;
}

.detail-block-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock-logo {
  background-image: url(../icons/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.score-logo {
  background-image: url(../icons/score.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#target-number {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  border-radius: 20%;
  background-color: transparent;
  font-weight: bold;
  border: none;
  color: black;
  background-image: url(../icons/target.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  transition: width 0.8s, height 0.8s;
  text-align: center;
}

#target-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slots-area-footer-button {
  cursor: pointer;
  width: 90px;
  height: 90px;
  margin-right: 3%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  transition: opacity 0.8s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.slots-area-footer-button:hover {
  background-size: 90%;
}

#btn-pass {
  background-image: url(../icons/pass-icon.svg);
}

#btn-restart {
  background-image: url(../icons/restart-black.svg);
}

#btn-validate {
  background-image: url(../icons/validate.svg);
}

.result-header {
  width: 98%;
  height: 8%;
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result-bar-block {
  width: 40%;
  height: 95%;
  text-align: center;
  background-color: #f0d9b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.result-main {
  width: 99%;
  height: 78%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.5% 0;
}

.result-panel {
  flex: auto;
  margin: 0 0.5%;
  margin-bottom: 0.8%;
  width: 99%;
  min-height: 96%;
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.result-panel-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-around;
}

.my-solution {
  width: 48%;
  margin: 0.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.best-solution {
  width: 48%;
  margin: 0.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60px;
  height: 30px;
  border: none;
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.info-block-logo {
  height: 100%;
  width: 50%;
}

.info-block-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bestSoln-logo {
  background-image: url(../icons/robot.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.info-user-logo {
  width: 30px;
  height: 30px;
  background-image: url(../icons/buddy-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.solution-main {
  width: 100%;
  flex: 1;
}

.result-footer {
  width: 98%;
  height: 12%;
  margin: 0.8%;
  margin-top: 0%;
  margin-bottom: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leaderboard-main {
  height: 80%;
  width: 98.4%;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0.8%;
  justify-content: flex-start;
  align-items: center;
}

.leaderboard-main-header {
  height: 50px;
  width: 90%;
  border: 3px solid black;
  /*border-radius: 25px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  margin: 0.8%;
  justify-content: space-around;
  align-items: stretch;
}

.leaderboard-main-body {
  height: calc(80% - 50px);
  width: 98.4%;
  overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0.8%;
  justify-content: flex-start;
  align-items: center;
}

.leaderboard-panel-container {
  height: 100px;
  width: 90%;
  border: 3px solid black;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  margin: 0.8%;
  justify-content: space-around;
  align-items: stretch;
}

.leaderboard-item {
  font-size: 30px;
  height: 100%;
  font-weight: bold;
  overflow: auto;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.leaderboard-item-rank {
  width: 20%;
}

.leaderboard-item-name {
  width: 40%;
}

.leaderboard-item-icon {
  width: 20%;
  background-image: url(../icons/buddy-icon.svg);
}

.leaderboard-item-score {
  width: 20%;
}

.leaderboard-footer {
  width: 98%;
  height: 12%;
  margin: 0.8%;
  margin-top: 0%;
  margin-bottom: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-block {
  width: 125px;
  height: 100%;
  margin: 0% 1%;
  cursor: pointer;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.btn-block:hover {
  background-size: 90%;
}

.btn-restart-block {
  background-image: url(../icons/restart-black.svg);
}

.btn-solution-block {
  background-image: url(../icons/see-solution.svg);
}

.btn-back-block {
  background-image: url(../icons/go-left-black.svg);
}

@media only screen and (max-width: 940px) {
  .btn-operator {
    width: 75px;
    height: 75px;
    font-size: 40px;
  }

  .selected-op {
    width: 85px;
    height: 85px;
    font-size: 50px;
  }

  .slot div {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .slot .symbol {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .slot .operator {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  #target-number {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
  }

  .slots-area-footer-button {
    width: 80px;
    height: 80px;
  }

  .detail-block {
    width: 180px;
    height: 90px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  #target-number {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }

  .slots-area-footer-button {
    width: 70px;
    height: 70px;
  }

  .detail-block {
    width: 160px;
    height: 80px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .btn-operator {
    width: 55px;
    height: 55px;
  }

  .selected-op {
    width: 65px;
    height: 65px;
  }

  .btn-number {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    /*border: 2px solid black;*/
  }

  .btn-number:hover {
    font-size: 30px;
  }

  .selected-num {
    /*border: none;*/
    font-size: 30px;
  }

  .details-area-section {
    height: 60px;
  }

  .details-area-section .detail-content div {
    line-height: 60px;
    font-size: 20px;
  }

  .slot div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  .slot .symbol {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .slot .operator {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  #target-number {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }

  .slots-area-footer-button {
    width: 50px;
    height: 50px;
  }

  .detail-block {
    width: 130px;
    height: 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .question-bar .question-number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }

  .question-bar .question-target {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }

  .leaderboard-main-header {
    height: 30px;
  }

  .leaderboard-main-body {
    height: calc(80% - 30px);
  }

  .leaderboard-panel-container {
    height: 70px;
  }

  .leaderboard-item {
    font-size: 15px;
  }
}

@media only screen and (max-height: 600px) {
  #target-number {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }

  .slots-area-footer-button {
    width: 70px;
    height: 70px;
  }

  .detail-block {
    width: 160px;
    height: 80px;
    font-size: 20px;
  }
}

@media only screen and (max-height: 500px) {
  .details-area-section {
    height: 45px;
  }

  .details-area-section .detail-content div {
    line-height: 45px;
    font-size: 20px;
  }

  #target-number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }

  .slots-area-footer-button {
    width: 40px;
    height: 40px;
  }

  .detail-block {
    width: 100px;
    height: 50px;
    font-size: 17px;
  }

  .btn-operator {
    width: 50px;
    height: 50px;
  }

  .selected-op {
    width: 60px;
    height: 60px;
  }

  .btn-number {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
  }

  .btn-number:hover {
    font-size: 30px;
  }

  .selected-num {
    font-size: 30px;
  }

  .slot div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  .slot .symbol {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .slot .operator {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .question-bar .question-number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }

  .question-bar .question-target {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }

  .info-block {
    width: 50px;
    height: 25px;
    font-size: 8px;
  }

  .info-user-logo {
    width: 25px;
    height: 25px;
  }

  .leaderboard-main-header {
    height: 30px;
  }

  .leaderboard-main-body {
    height: calc(80% - 30px);
  }

  .leaderboard-panel-container {
    height: 70px;
  }

  .leaderboard-item {
    font-size: 15px;
  }
}

@media only screen and (max-width: 403px) {
  #timer-button {
    display: none;
  }

  #timer-palette {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  #level-button {
    display: none;
  }

  #difficulty-palette {
    display: none;
  }
}

@media only screen and (max-width: 519px) {
  #compulsory-op-button {
    display: none;
  }

  #compulsory-op-palette {
    display: none;
  }
}

@media only screen and (max-width: 574px) {
  #hint-button {
    display: none;
  }

  #hint-palette {
    display: none;
  }
}

#plus-cmpOp {
  background-image: url(../icons/plus-icon.svg);
}

#minus-cmpOp {
  background-image: url(../icons/minus-icon.svg);
}

#multiply-cmpOp {
  background-image: url(../icons/multiply-icon.svg);
}

#divide-cmpOp {
  background-image: url(../icons/divide-icon.svg);
}

.palette-button {
  width: 47px;
  height: 47px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
  margin: 4px;
}

.comp-palette-button {
  width: 20px;
  height: 20px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
  margin: 4px;
}

.palette-button-notselected {
  background-color: transparent;
}

.palette .row {
  display: block;
  margin: 0 0 !important;
  box-sizing: initial !important;
  font-size: 10pt;
}

.palette .expand {
  font-family: sans-serif;
  font-size: 10pt;
}

.palette input#title.expand {
  font-family: system-ui;
  font-size: 11px;
  width: 245px;
  color: black;
}

.palette textarea#description.expand {
  font-family: system-ui;
  font-size: 11px;
  width: 255px;
  color: black;
}

.palette input[type='text'].expand {
  font-family: system-ui;
  font-size: 11px;
}

.palette .container {
  box-sizing: initial;
}

.palette .wrapper {
  font-size: 10pt;
  box-sizing: initial;
  min-width: 70px;
}

.palette *, ::after, ::before {
  box-sizing: initial;
}

.palette-item {
  cursor: pointer;
  padding: 10px;
}

.palette-text {
  text-align: center;
  margin: 4px;
}

.palette-item:hover {
  background-color: #808080;
}

.palette-item-selected {
  background-color: #808080;
}

.palette-icon {
  width: 50px;
}

.template-col {
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.template-item {
  background-color: white;
  border: 1px solid black;
  box-shadow: 8px 8px 8px #888888;
  display: inline-table;
  font-size: 1.25em;
}

#spinner {
  position: absolute;
  margin-left: 45%;
  margin-top: 20%;
  width: 8%;
}

.popup-input {
  border-radius: 22px;
  height: 30px;
  width: 400px;
  background-color: #e5e5e5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
  display: inline-block;
}

.popup-label {
  color: #808080;
  margin-bottom: 5px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.tutorial-icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

.tutorial-title {
  background-color: #808080 !important;
  color: #ffffff !important;
}

.tutorial-prev-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-prev-icon.tutorial-icon-button {
  color: white;
}

.tutorial-prev-icon.tutorial-icon-button.disabled {
  color: black;
}

.tutorial-prev-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-prev-icon2 {
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-prev-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-next-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-next-icon.tutorial-icon-button {
  color: white;
}

.tutorial-next-icon.tutorial-icon-button.disabled {
  color: black;
}

.tutorial-next-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-next-icon2 {
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-next-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-end-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-end-icon.tutorial-icon-button {
  color: white;
}

.tutorial-end-icon.tutorial-icon-button.disabled {
  color: black;
}

.tutorial-end-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-end-icon2 {
  background-image: url(../icons/dialog-cancel.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-end-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-icon-text {
  margin-top: 7px;
  padding-left: 4px;
  padding-right: 38px;
  display: inline-block;
}
