button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	background: white;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0.6em 0;
}

#app {
	min-height: 100%;
}

#content {
	height: calc(100vh - 55px);
	overflow: auto;
}
#content.fullscreen {
	height: 100vh;
}
.fullscreen {
	min-height: 100vh !important;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#main-toolbar #home-button {
	background-image: url(../icons/home.svg);
}

#main-toolbar #settings-button {
	background-image: url(../icons/settings.svg);
}

#main-toolbar #add-button {
	background-image: url(../icons/add.svg);
}

#main-toolbar #real-time-button {
	background-image: url(../icons/stats.svg);
}

#main-toolbar #auto-stop-button {
	background-image: url(../icons/auto-stop.svg);
}

#main-toolbar #history-button {
	background-image: url(../icons/history.svg);
}

#main-toolbar #delete-button {
	background-image: url(../icons/delete.svg);
}

#main-toolbar #export-button {
	background-image: url(../icons/file-export.svg);
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
}

#main-toolbar #fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}

#main-toolbar #unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 6%;
	position: absolute;
	z-index: 5;
}

.search-field {
	position: relative;
	display: inline-block;	
	vertical-align: bottom;
	margin-bottom: 10px;
}
.search-field .search-icon {
	position: absolute;
	left: 10px;
	top: 40%;
	background-image: url(../icons/entry-search.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
}
.search-field .search-input {
	width: 250px;
	margin: 0;
	padding-left: 35px;
	padding-right: 35px;
}
.search-field .search-cancel {
	position: absolute;
	right: 10px;
	top: 40%;
	background-image: url(../icons/entry-cancel.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#export-formats button {
	border-radius: 0;
	width: 50px;
	height: 50px;
	background-color: black;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#export-formats #csv-export {
	background-image: url(../icons/export-txt.svg);
}
#export-formats #pdf-export {
	background-image: url(../icons/export-pdf.svg);
}
#export-formats #doc-export {
	background-image: url(../icons/export-doc.svg);
}
#export-formats #odt-export {
	background-image: url(../icons/export-odt.svg);
}

.introjs-overlay {
	background-color: #000 !important;
	opacity: .8 !important;
  }
  
  .introjs-tooltip {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	border-radius: 6px !important;
	padding: 2px 1px !important;
	font-size: 14px !important;
  }
  
  .introjs-helperLayer{
	background: inherit !important;
	opacity: 0.6 !important;
  }
  
  .customTooltip .introjs-tooltip-header {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #ffffff;
	text-shadow: none;
	background-color: #808080;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
  }
  
  .customTooltip .introjs-tooltip-title {
	font-size: 14px;
	padding: 0px 8px;
	font-weight: 800;
  }
  
  .customTooltip .introjs-tooltiptext {
	color: #000000;
	line-height: 1.42857143;
  }
  
  .customTooltip .introjs-skipbutton {
	float: right;
	cursor: pointer;
	background-image: url(../icons/dialog-cancel.svg);
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	margin-top: 2px;
	padding: 0px;
	white-space: nowrap;
	color: transparent;
	line-height: 27px;
}
  
  .customTooltip .introjs-nextbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
  }
  
  .customTooltip .introjs-prevbutton::before {
	content: "";
	margin-right: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
  }
  
  .customTooltip .introjs-tooltipbuttons {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-top: 0px;
	padding: 0px;
	text-align: center;
	white-space: normal;
  }
  
  .customTooltip .introjs-button {
	text-shadow: none;
	border-radius: 22px;
	margin: 5px 8px 8px 8px;
	width: fit-content;
	background-color: #808080 !important;
	display: flex !important;
	align-items: center !important;
	color: white !important;
	padding: 6px 20px 6px 10px;
	border: 0px;
  }
  
  .customTooltip .introjs-button:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
	background-color: #808080 !important;
  }
  
  .customTooltip .introjs-disabled {
	color: black !important;
	border: 0px;
	opacity: .65;
  }
  
  .customTooltip .introjs-disabled:focus {
	-webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
	border: 0px;
  }

