.vote {
	min-height: calc(100vh - 55px);
	padding: 0 5vw;
	display: flex;
	align-items: center;
}
.vote .vote-card {
	position: relative;
	width: 100%;
	height: 80vh;
	background: white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: all 200ms ease;
	overflow: auto;
}
.vote .vote-card .vote-question {
	font-size: calc(1em + 1.25vw);
}
.vote .vote-card .vote-card-content {
	height: 100%;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	/* overflow: auto; */
}
.vote .vote-card .submit {
	width: 120px;
	height: 40px;
	flex-shrink: 0;
	background-color: rgb(0, 202, 0);
	background-image: url(../icons/right-arrow.svg);
	background-repeat: no-repeat;
	background-size: 2em;
	background-position: center;
	box-shadow: 0 5px 15px rgba(0, 202, 0, 0.25);
	/* margin: 0 auto;
	margin-top: auto; */
	position: absolute;
	left: 50%; transform: translateX(-50%);
	bottom: 25px;
	cursor: pointer;
	z-index: 2;
}
.vote .vote-card .raise-hand {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: #e5e5e5;
	background-image: url(../icons/raise-hand.svg);
	background-repeat: no-repeat;
	background-size: 3em;
	background-position: center;
	cursor: pointer;
}
.vote .vote-card .raise-hand.active {
	background-color: #d3d3d3;
}

.vote .vote-card .loading {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vote .vote-card .vote-waiting {
	margin: auto;
}

.vote .vote-card .vote-text input {
	width: 100%;
	font-size: 2em;
	margin: 30px 0;
}

.vote .vote-card .vote-yesno .option {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin: 20px;
	border: none;
	opacity: 0.5;
	cursor: pointer;
	background-color: white;
	background-size: contain;
}
.vote .vote-card .vote-yesno .option.selected {
	opacity: 1;
}

.vote .vote-card .vote-mcq {
	width: 100%;
	margin: 20px 0;
}
.vote .vote-card .vote-mcq .option {
	width: 60%;
	padding: 5px;
	margin: 5px auto;
}
.vote .vote-card .vote-mcq .option.selected {
	background: #c7c7c7;
}

.vote .vote-card .vote-image-mcq {
	width: 100%;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.vote .vote-card .vote-image-mcq .option-image {
	width: 15vw;
	margin: 10px;
	opacity: 0.8;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
	transition: all 200ms ease-in-out;
}
.vote .vote-card .vote-image-mcq .option-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.vote .vote-card .vote-image-mcq .option-image.selected {
	transform: scale(1.1);
	border: solid  5px rgb(0, 255, 0);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
	opacity: 1;
}

.vote .vote-card .vote-rating {
	width: 100%;
	margin: 30px 0;
	display: flex;
	justify-content: center;
}
.vote .vote-card .vote-rating .rating-star {
	width: 50px;
	height: 50px;
	background-image: url(../icons/star.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px;
}

@media (max-width: 768px) {
	.vote .vote-card .vote-mcq .option {
		width: 100%;
	}
	.vote .vote-card .vote-image-mcq .option-image {
		width: 20vw;
	}
}
@media (max-width: 425px) {
	.vote .vote-card .submit {
		left: 20px;
		transform: translateX(0);
	}
	.vote .vote-card .vote-image-mcq .option-image {
		width: 30vw;
	}
}