.toolbar {
    height: auto !important;
    min-height: 55px !important;
}

#main-toolbar #activity-button {
    background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
    background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#main-toolbar #game-templates-button {
    background-image: url(../icons/memorize-collection.svg);
}

#main-toolbar #game-size-button {
    background-image: url(../icons/4x4.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#main-toolbar #game-reset-button {
    background-image: url(../icons/game-new.svg);
}


#main-toolbar #game-editor-button {
    background-image: url(../icons/cog.svg);
}

#main-toolbar #game-editor-insert-mode-button {
    background-image: url(../icons/pair-equals.svg);
}

#main-toolbar #game-editor-play-mode-button {
    background-image: url(../icons/grouped_game1.svg);
}

#main-toolbar #game-editor-clear-button {
    background-image: url(../icons/edit-clear.svg);
}

#private-button {
    background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}
#shared-button {
    background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

#game-templates-button {
    background-repeat: no-repeat;
    background-position: center center;
}

#game-players {
    background: #005983;
    position:fixed;
    bottom:0;
    width:100%;
    height:56px;
}


.palette .wrapper {
    min-width: 10px;
    padding: 5px;
}

input[type='text'] {
    color: #000 !important;
}

textarea {
    color: #000 !important;
}