.toolbar {
    height: auto !important;
    min-height: 55px !important;
}

#main-toolbar #activity-button {
    background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
    background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#main-toolbar #game-templates-button {
    background-image: url(../icons/memorize-collection.svg);
}

#main-toolbar #game-size-button {
    background-image: url(../icons/4x4.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#main-toolbar #game-reset-button {
    background-image: url(../icons/game-new.svg);
}


#main-toolbar #game-editor-button {
    background-image: url(../icons/cog.svg);
}

#main-toolbar #game-editor-insert-mode-button {
    background-image: url(../icons/pair-equals.svg);
}

#main-toolbar #game-editor-play-mode-button {
    background-image: url(../icons/grouped_game1.svg);
}

#main-toolbar #game-editor-clear-button {
    background-image: url(../icons/edit-clear.svg);
}

#private-button {
    background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}
#shared-button {
    background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
    width: 47px;
    height: 47px;
    margin: 4px 2px;
    color: white;
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 5.5px;
}

#game-templates-button {
    background-repeat: no-repeat;
    background-position: center center;
}

#game-players {
    background: #005983;
    position:fixed;
    bottom:0;
    width:100%;
    height:56px;
}


.palette .wrapper {
    min-width: 10px;
    padding: 5px;
}

input[type='text'] {
    color: #000 !important;
}

textarea {
    color: #000 !important;
}

@media screen and (min-width: 590px) and (max-width: 654px){
    .toolbar{
        padding: 0 25px; 
    } 
}

@media screen and (min-width: 275px) and (max-width: 326px){
    .toolbar{
        padding: 0 20px;
    }
}

#main-toolbar #help-button {
    background-image: url(../icons/help.svg);
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}