button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p {
	margin: 0.6em 0;
}

#app {
	min-height: 100%;
	background: white;
	transition: background 500ms ease;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow-y: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#main-toolbar #fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}

#main-toolbar #unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 6%;
	position: absolute;
	z-index: 5;
}

#main-toolbar #home-button {
	background-image: url(../icons/home.svg);
}

#main-toolbar #acquire-button {
	background-image: url(../icons/flag-raised.svg);
}

#main-toolbar #remove-button {
	background-image: url(../icons/flag-lowered.svg);
}

#main-toolbar #upload-button {
	background-image: url(../icons/upload.svg);
}

.categories {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transform-origin: top;
}

.category-card {
	flex: 1 250px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	background: white;
	cursor: pointer;
}
.category-title {
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px black;
	font-size: 2.5em;
}
.category-skills {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: auto;
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
}
.category-skills .skill {
	width: 80px;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	background: white;
	transition: all 250ms ease-out;
}
.category-skills .skill:hover {
	transform: scale(1.05);
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
.category-skills .skill img {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.progress {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}
.progress img {
	width: 30px;
}
.progress-acquired {
	opacity: 1;
	filter: invert(52%) sepia(74%) saturate(1892%) hue-rotate(81deg) brightness(118%) contrast(125%) drop-shadow(0 3px 2px rgba(0, 0, 0, 0.15));
}
.progress-remaining {
	opacity: 0.5;
}

.skills {
	position: relative;
	min-height: calc(100vh - 55px);
	padding: 0 8vw;
}
.skills #back-button {
	position: absolute;
	top: 10px;
	left: 2vw;
	cursor: pointer;
}
.skills .category-title, .skill {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	padding: 20px 0;
	color: black;
}
.skills .category-title .underline {
	position: absolute;
	height: 3px;
	left: 50%;
	transform: translateX(-50%);
}
.skills .category-title .underline:nth-child(1) {
	bottom: 11px;
	width: 100%;
}
.skills .category-title .underline:nth-child(2) {
	bottom: 0;
	width: 50%;
}

.skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding: 30px 0;
}
.skill-card {
	position: relative;
	flex: 0 1 250px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	margin: 20px;
	border-radius: 20px 20px 0 0;
	display: flex;
	flex-direction: column;
}
.skill-card .flag {
	position: absolute;
	top: -50px;
	left: 10px;
	width: fit-content;
}
.skill-card .skill-image {
	width: 90%;
	display: block;
	margin: 0 auto;
}
.skill-card .skill-footer {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	height: 100%;
	margin-top: auto;
	padding: 15px 20px;
	color: white;
	cursor: pointer;
	transition: all 200ms ease-out;
}
.skill-card .skill-footer:hover {
	filter: brightness(1.2);
}
.skill-card .skill-footer h2 {
	margin: 0;
}
.skill-card .skill-footer::before, .skill-card .skill-footer::after {
	content: '';
	position: absolute;
	height: 80%;
	width: 5px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.4);
}
.skill-card .skill-footer::before {
	left: 10px;
}
.skill-card .skill-footer::after {
	right: 10px;
}

.skill-details {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	margin-top: 40px;
	padding: 20px;
	border-radius: 20px;
}
.skill-info-container, .skill-uploads  {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.skill-info-container .skill-image {
	flex: 1;
	width: 100%;
}
.skill-info-container .skill-info {
	flex: 2;
	padding: 20px;
	min-width: 200px;
}
.skill-info-container .skill-info h1 {
	position: relative;
	margin-bottom: 35px;
}
.skill-info-container h1 .underline {
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 15px;
}
.skill-uploads {
	margin-top: 20px;
}
.skill-uploads .flag {
	flex: 1;
	min-width: 100px;
}
.skill-uploads .uploads {
	flex: 2;
	min-height: 100px;
	max-height: 300px;
	min-width: 200px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	padding: 20px;
	background: #EFEFEF;
	border-radius: 20px;
}

.flag {
	position: relative;
	margin: 20px 0;
}
.flag-small {
	height: 60px;
	margin: auto;
	width: fit-content;
}
.flag-small .pole {
	position: relative;
	height: 100%;
	width: 3px;
	border-radius: 2px;
	background: rgb(75, 19, 19);
}
.flag-small .fly {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-2px);
	height: 60%;
}
.flag-large {
	height: 100px;
	margin: auto;
	width: fit-content;
}
.flag-large .bg {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10%;
}
.flag-large .pole {
	position: relative;
	height: 100%;
	width: 5px;
	border-radius: 2px;
	background: rgb(75, 19, 19);
}
.flag-large .pole::after {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 10px;
	height: 5px;
	border-radius: 5px;
	background: rgb(75, 19, 19);
}
.flag-large .pole::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -100%;
	width: 20px;
	height: 3px;
	border-radius: 50%;
	background: rgb(192, 192, 192);
	z-index: 0;
}
.flag-large .fly {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-5px);
	height: 60%;
}
.flag-large .star1 {
	position: absolute;
	top: 0;
	left: 30%;
	animation: start-move 2000ms ease-in-out infinite 300ms;
}
.flag-large .star2 {
	position: absolute;
	bottom: 20%;
	right: 30%;
	animation: start-move 2000ms ease-in-out infinite;
}
@keyframes start-move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

.upload-item {
	padding: 3px;
	background: black;
	color: white;
	width: 170px;
	margin: 5px;
}
.upload-item .image-item img {
	width: 100%;
}
.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	z-index: 2;
}
.popup {
	max-width: 90%;
	height: 90%;
	background: black;
	color: white;
	padding: 5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.popup-actions {
	display: flex;
	justify-content: space-between;
}
.popup-actions #delete-button {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: url(../icons/delete.svg) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.popup-image {
	height: 90%;
}

#media-upload button {
	display: block;
	background: black;
	border-radius: 0;
	width: 100px;
	padding: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: all 200ms;
}
.fade-enter, .fade-leave-to {
	transform: scale(0.98);
  opacity: 0;
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.tutorial-icon-button {
	color: white;
}

.tutorial-prev-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.tutorial-icon-button {
	color: white;
}

.tutorial-next-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.tutorial-icon-button {
	color: white;
}

.tutorial-end-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-icon-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}