#body {
	overflow-x: hidden;
    overflow-y: hidden;
}
.toolbar {
  height: auto;
  min-height: 55px;
}
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #clear-button {
  background-image: url(../icons/edit-clear.svg);
}
#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}
#trigo-palette {
  background-image: url(../icons/toolbar-trigonometry.svg);
}
#algebra-palette {
  background-image: url(../icons/toolbar-algebra.svg);
}
#base-palette {
  background-image: url(../icons/base-10.svg);
}
#radian-degree-palette {
  background-image: url(../icons/format-deg.svg);
}
#output-digits-palette {
  background-image: url(../icons/digits-6.svg);
  display: none;
}
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}
#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 5px;
  right: 2%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}
.palette .wrapper {
  min-width: 10px;
  padding: 5px;
}
.visible {
  display: block !important;
}
.backgroundgray {
  background-color: #B5B6BD;
}
.backgrounddark {
  background-color: #4A4D4A;
}
.aligncenter {
  text-align: center;
}
input[type='text'] {
  color: #000 !important;
}
textarea {
  color: #000 !important;
}
#results-zone {
  display: none;
  overflow-y: scroll;
}
.result {
  font-size: 300% !important;
}
#label-input {
  padding-top:3px !important;
  padding-left:7px !important;
  height: 50px !important;
  font-size: 200% !important;
}
#calc-input {
  padding-top:3px !important;
  padding-left:7px !important;
  height: 50px !important;
  font-size: 200% !important;
}
.calcbutton {
  height: 50px;
  padding: 8%;
  width: 92%;
  font-weight: bold !important;
  font-size: 200% !important;
}
.calcbutton-large {
  height: 50px;
  padding: 2%;
  width: 98%;
  font-weight: bold !important;
  font-size: 200% !important;
}
.tutorial-title {
  background-color: #808080 !important;
  color: #ffffff !important;
}

.tutorial-prev-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-prev-icon.icon-button {
  color: white;
}

.tutorial-prev-icon.icon-button.disabled {
  color: black;
}

.tutorial-prev-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-prev-icon2 {
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-prev-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-next-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-next-icon.icon-button {
  color: white;
}

.tutorial-next-icon.icon-button.disabled {
  color: black;
}

.tutorial-next-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-next-icon2 {
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-next-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-end-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-end-icon.icon-button {
  color: white;
}

.tutorial-end-icon.icon-button.disabled {
  color: black;
}

.tutorial-end-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-end-icon2 {
  background-image: url(../icons/dialog-cancel.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-end-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.icon-tutorial-text {
  margin-top: 7px;
  padding-left: 4px;
  padding-right: 38px;
  display: inline-block;
}

.web-activity-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
}

.icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

@media only screen and (min-width:515px) {
  #output-digits-palette {
    display: inline-block !important;
  }
}
@media only screen and (max-width:595px) {
  #help-button {
    visibility: hidden;
  }
}
@media only screen and (min-width:560px) {
  .calcbutton {
    height: 50px;
  }
  .calcbutton-large {
    height: 50px;
  }
}
@media only screen and (min-width:760px) {
  .calcbutton {
    height: 100px;
  }
  .calcbutton-large {
    height: 100px;
  }
}
@media only screen and (min-width:1000px) {
  .calcbutton {
    height: 120px;
  }
  .calcbutton-large {
    height: 120px;
  }
}
@media only screen and (min-width:1200px) {
  .calcbutton {
    height: 120px;
  }
  .calcbutton-large {
    height: 120px;
  }
}
.nanoModal {
  top: 3% !important;
  min-width: 10px !important;
}

#result {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
