#body {
	overflow-x: hidden;
    overflow-y: hidden;
}
.toolbar {
  height: auto;
  min-height: 55px;
}
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #clear-button {
  background-image: url(../icons/edit-clear.svg);
}
#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}
#trigo-palette {
  background-image: url(../icons/toolbar-trigonometry.svg);
}
#algebra-palette {
  background-image: url(../icons/toolbar-algebra.svg);
}
#base-palette {
  background-image: url(../icons/base-10.svg);
}
#radian-degree-palette {
  background-image: url(../icons/format-deg.svg);
}
#output-digits-palette {
  background-image: url(../icons/digits-6.svg);
  display: none;
}
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}
#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 5px;
  right: 3%;
  position: fixed;
  visibility: hidden;
  z-index: 3;
}
.palette .wrapper {
  min-width: 10px;
  padding: 5px;
}
.visible {
  display: block !important;
}
.backgroundgray {
  background-color: #B5B6BD;
}
.backgrounddark {
  background-color: #4A4D4A;
}
.aligncenter {
  text-align: center;
}
input[type='text'] {
  color: #000 !important;
}
textarea {
  color: #000 !important;
}
#results-zone {
  display: none;
}
.result {
  font-size: 300% !important;
  margin-bottom: 5px;
}
#label-input {
  padding-top:3px !important;
  padding-left:7px !important;
  height: 50px !important;
  font-size: 200% !important;
}
#calc-input {
  padding-top:3px !important;
  padding-left:7px !important;
  height: 50px !important;
  font-size: 200% !important;
}
calc-container {
 overflow-y: auto;
 max-height: 92vh;
}
.calcbutton {
  height: 50px;
  padding: 8%;
  width: 92%;
  font-weight: bold !important;
  font-size: 200% !important;
}
.calcbutton-large {
  height: 50px;
  padding: 2%;
  width: 98%;
  font-weight: bold !important;
  font-size: 200% !important;
}
/* UI styling for introJs-tutorial */

.introjs-overlay {
  background-color: #000 !important;
  opacity: .8 !important;
}

.introjs-tooltip {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
  border-radius: 6px !important;
  padding: 2px 1px !important;
  font-size: 14px !important;
}

.introjs-helperLayer{
  background: inherit !important;
  opacity: 0.6 !important;
}

.customTooltip .introjs-tooltip-header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color : #ffffff;
  text-shadow: none;
  background-color: #808080;
  margin: 0;
  padding: 0px 10px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.customTooltip .introjs-tooltip-title {
  font-size: 14px;
  padding: 0px 8px;
  font-weight: 800;
  color: #ffffff;
}

.customTooltip .introjs-tooltiptext {
  color: #000000;
  line-height: 1.42857143;
}

.customTooltip .introjs-skipbutton {
  float: right;
  cursor: pointer;
  background-image: url(../icons/dialog-cancel.svg);
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-top: 2px;
  padding: 0px;
  white-space: nowrap;
  color: transparent;
  line-height: 27px;
}

.customTooltip .introjs-nextbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-prevbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-tooltipbuttons {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 0px;
  padding: 0px;
  text-align: center;
  white-space: normal;
}

.customTooltip .introjs-button {
  text-shadow: none;
  border-radius: 22px;
  margin: 5px 8px 8px 8px;
  width: fit-content;
  background-color: #808080 !important;
  display: flex !important;
  align-items: center !important;
  color: white !important;
  padding: 6px 20px 6px 10px;
  border: 0px;
}

.customTooltip .introjs-button:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
  background-color: #808080 !important;
}

.customTooltip .introjs-disabled {
  color: black !important;
  border: 0px;
  opacity: .65;
}

.customTooltip .introjs-disabled:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
}

.web-activity-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
}

.icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

@media only screen and (min-width:780px) {
  #output-digits-palette {
    display: inline-block !important;
  }
  .calcbutton {
    height: 80px;
  }
  .calcbutton-large {
    height: 80px;
  }
  #results-zone {
    overflow-y: hidden;
  }
}
@media only screen and (max-width:595px) {
  #help-button {
    visibility: hidden;
  }
}
@media only screen and (min-width:770px) {
  .calcbutton {
    height: 100px;
  }
  .calcbutton-large {
    height: 100px;
  }
  .calc-container {
    width: fit-content !important;
    width: 100vw !important;
  }
  #results-zone {
    overflow-y: scroll;
  }

}
@media only screen and (min-width:1000px) {
  .calcbutton {
    height: 120px;
  }
  .calcbutton-large {
    height: 120px;
  }
  #results-zone {
    overflow-y: scroll;
  }
}
@media only screen and (min-width:1200px) {
  .calcbutton {
    height: 120px;
  }
  .calcbutton-large {
    height: 120px;
  }
  #results-zone {
    overflow-y: scroll;
  }
}
.nanoModal {
  top: 3% !important;
  min-width: 10px !important;
}

#result {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}