#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
  z-index: 3;
}

#main-toolbar #box-button {
  background-image: url(../icons/box.svg);
  z-index: 3;
}

#main-toolbar #circle-button {
  background-image: url(../icons/circle.svg);
  z-index: 3;
}

#main-toolbar #triangle-button {
  background-image: url(../icons/triangle.svg);
  z-index: 3;
}

#main-toolbar #gravity-button {
  background-image: url(../icons/gravity0.svg);
  z-index: 3;
}

#main-toolbar #sensor-button {
  background-image: url(../icons/sensor.svg);
  z-index: 3;
}

#main-toolbar #clear-button {
  background-image: url(../icons/clear.svg);
  z-index: 3;
}

#main-toolbar #polygon-button {
  background-image: url(../icons/polygon.svg);
  z-index: 3;
}

#main-toolbar #apple-button {
  background-image: url(../icons/apple.svg);
  z-index: 3;
}

#run-button {
	background-image: url(../icons/play.svg);
	z-index:3;
}

#run-button.running{
	background-image: url(../icons/pause.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
  z-index: 3;
}

#main-toolbar #stop-button {
  z-index: 3;
}

#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
  z-index: 3;
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 5%;
	position: absolute;
	visibility: hidden;
	z-index: 3;
}

#circle-button, #box-button, #triangle-button, #polygon-button, #gravity-button, #sensor-button, #apple-button, #clear-button, #run-button, #fullscreen-button, #help-button {
  display: none;
}

@media only screen and (min-width: 220px) {
  #fullscreen-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 381px) {
  #run-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 435px) {
  #circle-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 491px) {
  #box-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 545px) {
  #triangle-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) {
  #polygon-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 701px) {
  #gravity-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 756px) {
  #sensor-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 811px) {
  #apple-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 327px) {
  #clear-button {
    display: inline-block;
  }
}

@media only screen and (min-width: 271px) {
  #help-button {
    display: inline-block;
  }
}

body {
  height: 100vh;
}

html, body, #viewport {
  margin: 0; background: #ffffff;
  overflow: hidden;
}

.palette {
  z-index: 10;
}

.pjs-meta {
  color: #fff;
}

canvas {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.tutorial-title {
  background-color: #808080 !important;
  color: #ffffff !important;
}

.tutorial-prev-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-prev-icon.icon-button {
  color: white;
}

.tutorial-prev-icon.icon-button.disabled {
  color: black;
}

.tutorial-prev-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-prev-icon2 {
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-prev-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-next-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-next-icon.icon-button {
  color: white;
}

.tutorial-next-icon.icon-button.disabled {
  color: black;
}

.tutorial-next-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-next-icon2 {
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-next-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-end-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-end-icon.icon-button {
  color: white;
}

.tutorial-end-icon.icon-button.disabled {
  color: black;
}

.tutorial-end-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-end-icon2 {
  background-image: url(../icons/dialog-cancel.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-end-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.icon-tutorial-text {
  margin-top: 7px;
  padding-left: 4px;
  padding-right: 38px;
  display: inline-block;
}

.web-activity-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
}

.icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

@media screen and (max-width: 657px) {
	.toolbar {
		padding-left: 10px;
	}
}
