<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Tangram Activity</title>
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
	<link rel="prefetch" type="application/l10n" href="locale.ini" />
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-200dpi.css">
	<link rel="stylesheet" href="css/activity.css">
	<link rel="stylesheet" href="css/Game.css">
	<link rel="stylesheet" href="css/Result.css">
	<link rel="stylesheet" href="css/SettingList.css">
	<link rel="stylesheet" href="css/SettingEditor.css">
	<script src="lib/vue.min.js"></script>
	<script src="lib/confetti.browser.min.js"></script>
	<script src="lib/konva.min.js"></script>
	<script src="lib/vue-konva.min.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="lib/require.js"></script>
</head>

<body>
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button"></sugar-toolitem>
			<sugar-toolitem splitbar></sugar-toolitem>

			<sugar-toolitem id="network-button" title="network"></sugar-toolitem>
			<sugar-toolitem id="view-button" title="view" v-on:click="onChangeView"></sugar-toolitem>
			<sugar-toolitem id="category-button"
				v-visible="currentScreen!='setting-editor'"
				title="tangram category"
				palette-file="js/palettes/tangramCategoryPalette.js"
				palette-class="TangramCategoryPalette"
				palette-title="tangram Type"
				palette-event="tangram-category-selected"
				v-on:tangram-category-selected="onTangramCategorySelected"
			></sugar-toolitem>
			<sugar-toolitem id="export-button"
				v-if="currentScreen=='setting-list'"
				title="export DataSet"
				v-on:click="onExport"
			></sugar-toolitem>
			<sugar-toolitem id="level-button"
				v-visible="currentScreen!='setting-editor' && currentScreen!='setting-list'"
				title="level"
				palette-file="js/palettes/difficultyPalette.js"
				palette-class="DifficultyPalette"
				palette-title="difficulty level"
				palette-event="difficulty-selected"
				v-on:difficulty-selected="onDifficultySelected"
			></sugar-toolitem>
			<sugar-toolitem id="timer-button"
				v-visible="currentScreen!='setting-editor' && currentScreen!='setting-list'"
				title="Timer"
				palette-file="js/palettes/timerPalette.js"
				palette-class="TimerPalette"
				palette-title=" Timer"
				palette-event="timer-selected"
				v-on:timer-selected="onTimerSelected"
			></sugar-toolitem>
			<sugar-toolitem id="hint-button"
				v-if="level && currentScreen!='setting-editor' && currentScreen!='setting-list'"
				title="hint"
				v-on:click="onHint"
			></sugar-toolitem>

			<sugar-toolitem id="stop-button" title="Stop" class="pull-right" v-on:click="onStop"></sugar-toolitem>
		</sugar-toolbar>

		<transition name="fade" mode="out-in">
			<component
				v-bind:ref="currentScreen"
				v-bind:is="currentScreen"
				v-bind:time="clock.time"
				v-bind:stroke-color="strokeColor"
				v-bind:fill-color="fillColor"
				v-bind:is-target-acheived="isTargetAcheived"
				v-bind:data-set-handler="DataSetHandler"
				v-bind:puzzles="puzzles"
				v-bind:p-no="pNo"
				v-bind:show-hint="showHint"
				v-bind:mode="mode"
				v-bind:hint-number="hintNumber"
				v-bind:no-of-hints-used="noOfHintsUsed"
				v-bind:level="level"
				v-bind:game-over="gameOver"
				v-bind:time="clock.time"
				v-bind:time-marks="timeMarks"
				v-bind:user-response="userResponse"
				v-bind:score="score"
				v-bind:puzzle-to-be-edited="puzzleToBeEdited"
				v-on:center-tangram="centerTangram"
				v-on:config-changed="onConfigChanged"
				v-on:update-tans-placed="onUpdateTansPlaced"
				v-on:tangram-status="onTangramStatus"
				v-on:update-game-tans="onUpdateGameTans"
				v-on:update-tans-snapped="onUpdateTansSnapped"
				v-on:pass-puzzle="handlePassButton"
				v-on:restart-game="handleRestartButton"
				v-on:go-to-setting-editor="goToSettingEditor"
				v-on:go-to-setting-list="goToSettingList"
				v-on:delete-puzzle="onDeletePuzzle"
				v-on:edit-puzzle="onEditPuzzle"
				v-on:delete-puzzle="onDeletePuzzle"
				v-on:add-puzzle="onAddPuzzle"
			></component>
		</transition>

		<sugar-activity ref="SugarActivity" v-on:initialized="initialized"></sugar-activity>
		<sugar-journal ref="SugarJournal" v-on:journal-data-loaded="onJournalDataLoaded" v-on:journal-load-error="onJournalLoadError" v-on:journal-new-instance="onJournalNewInstance"></sugar-journal>
		<data-set-handler ref="DataSetHandler"></data-set-handler>
	</div>

	<script src="js/utils/intadjoinsqrt2.js"></script>
	<script src="js/utils/helpers.js"></script>
	<script src="js/utils/point.js"></script>
	<script src="js/utils/directions.js"></script>
	<script src="js/utils/lineSegement.js"></script>
	<script src="js/utils/tan.js"></script>
	<script src="js/utils/tangram.js"></script>
	<script src="js/utils/evaluation.js"></script>
	<script src="js/utils/generator.js"></script>
	<script src="js/utils/standardTangrams.js"></script>
	<script src="js/Clock.js"></script>
	<script src="js/Game.js"></script>
	<script src="js/Result.js"></script>
	<script src="js/SettingList.js"></script>
	<script src="js/SettingEditor.js"></script>
	<script src="js/DataSetHandler.js"></script>
	<script src="js/components/SugarJournal.js"></script>
	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarToolbar.js"></script>
	<script src="js/activity.js"></script>
</body>

</html>
