#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#abacus-button {
  background-image: url(../icons/abacus-list.svg);
}

#settings-button {
  background-image: url(../icons/custom.svg);
}

#clear-button {
  background-image: url(../icons/edit-clear.svg);
}

#copy-button {
  background-image: url(../icons/tool-copy.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#decimal-button {
  background-image: url(../icons/decimal.svg);
 width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#soroban-button {
  background-image: url(../icons/soroban.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#suanpan-button {
  background-image: url(../icons/suanpan.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#nepo-button {
  background-image: url(../icons/nepohualtzintzin.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#hex-button {
  background-image: url(../icons/hexadecimal.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#binary-button {
  background-image: url(../icons/binary.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#schety-button {
  background-image: url(../icons/schety.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#fractions-button {
  background-image: url(../icons/fraction.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#caacupe-button {
  background-image: url(../icons/caacupe.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#rods-button {
  background-image: url(../icons/cuisenaire.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#custom-button {
  background-image: url(../icons/custom.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
background-color: #C0C0C0;
}

#new-button {
  background-image: url(../icons/new-abacus.svg);
  width: 47px;
height: 47px;
margin: 4px 2px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 5.5px;
}

#canvas {
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
}

#copytext {
  z-index: -1;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}