<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Story Activity</title>
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
	<link rel="prefetch" type="application/l10n" href="locale.ini" />
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-200dpi.css">
	<link rel="stylesheet" href="css/activity.css">
	<link rel="stylesheet" href="css/quill/quill.core.css">
	<script src="lib/quill/quill-cursors.js"></script>
	<script src="lib/quill/quill.min.js"></script>
	<script src="lib/quill/modules/image-resize.min.js"></script>
	<script src="lib/quill/editor.js"></script>
	<script src="lib/vue.min.js"></script>
	<script src="lib/require.js"></script>
	<script type="text/javascript" src="../../cordova.js"></script>
</head>

<body>
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button"></sugar-toolitem>

			<!-- Add more buttons here -->
			<sugar-toolitem id="grid-mode" title="Grid Mode" @click='gridImageMode'></sugar-toolitem>
			<sugar-toolitem id="single-mode" title="Single Mode" @click='singleImageMode'></sugar-toolitem>
			<sugar-toolitem
				id="foreground-color-button"
				title="Foreground Color"	
				palette-file="js/palettes/ForegroundColorPalette.js"
				palette-class="ColorPalette"
				palette-event="color-change"
				v-on:color-change="onForegroundColorChange"
			></sugar-toolitem>
			<sugar-toolitem
				id="background-color-button"
				title="Background Color"	
				palette-file="js/palettes/BackgroundColorPalette.js"
				palette-class="ColorPalette"
				palette-event="color-change"
				v-on:color-change="onBackgroundColorChange"
			></sugar-toolitem>
			<sugar-toolitem 
				id="format-text-button" 
				title="Format text" 
				palette-file="js/palettes/formatTextPalette.js"
				palette-class="FormatTextPalette"
				palette-event="format-text-selected"
				v-on:format-text-selected = "onFormatText"
			></sugar-toolitem>
			<sugar-toolitem 
				id="font-button" 
				title="Choose Font" 
				palette-file="js/palettes/fontPalette.js"
				palette-class="FontPalette"
				palette-event="font-updated"
				v-on:font-updated = "onFontChange"
			></sugar-toolitem>
			<sugar-toolitem id="increase-font" title="Increase font size" @click='increaseFont'></sugar-toolitem>
			<sugar-toolitem id="decrease-font" title="Decrease font size" @click='decreaseFont'></sugar-toolitem>

			<!-- Toolitems with class="pull-right" will be right aligned -->
			<sugar-toolitem id="stop-button" title="Stop" class="pull-right"></sugar-toolitem>
		</sugar-toolbar>

		<!-- Image Section -->
		<div id="display-image">
			<!-- Grid Mode -->
			<div v-if='grid' id="display-grid">
				<div class="grid-image"  v-bind:style="{display:(isLoaded)?'block':'none'}"  v-for='image in images'>
					<img :src="getUrlImg(image)" @load="loaded" />
				</div>
				<div v-if="!isLoaded" class="grid-image" v-for='i in imageCount'>
					<img src="./icons/question-mark.svg" class="questionmark"/>
				</div>
			</div>
			<!-- Single Mode -->
			<div v-if='!grid' :id="previousBtnId" @click="previousImage"></div>
			<div v-if="!grid" id="display-single">
				<img :src="getUrlImg(activeImage)" @load="loaded" v-bind:style="{display:(isLoaded)?'block':'none'}"/>
				<img v-if="!isLoaded" src="./icons/question-mark.svg" class="questionmark"/>
			</div>
			<div v-if='!grid' :id="nextBtnId" @click="nextImage"></div>
		</div>

		<!-- Editor Section -->
		<div id="editor">
			<div id="editor-area"></div>
			<div id="icons-flex">
				<div :id="recordIconId"></div>
				<div id="play"></div>
				<div id="speak"></div>
			</div>
		</div>

		<sugar-activity ref="SugarActivity" v-on:initialized="initialized"></sugar-activity>
	</div>

	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarToolbar.js"></script>
	<script src="js/activity.js"></script>
</body>

</html>
