<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Story Activity</title>
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-200dpi.css">
	<link rel="stylesheet" href="css/activity.css">
	<link rel="stylesheet" href="css/introjs.css">
	<link rel="stylesheet" href="css/quill/quill.core.css">
	<link rel="stylesheet" href="css/libnotify.css">
	<script src="lib/vue.min.js"></script>
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script src="lib/intro.js"></script>
	<script src="lib/quill/quill-cursors.js"></script>
	<script src="lib/quill/quill.min.js"></script>
	<script src="lib/quill/modules/image-resize.min.js"></script>
	<script src="lib/quill/editor.js"></script>
	<script src="lib/export-to-PDF/jspdf.min.js"></script>
	<script src="lib/export-to-PDF/html2canvas.js"></script>
	<script src="lib/recordrtc.js"></script>
	<script src="../../cordova.js"></script>
	<script src="lib/odt.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="lib/require.js"></script>
	<script type="text/javascript" src="../../cordova.js"></script>
</head>

<body>
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button"></sugar-toolitem>
			<sugar-toolitem
				id="network-button"
				v-bind:title="l10n.stringNetwork"
				palette-file="sugar-web/graphics/presencepalette"
				palette-class="PresencePalette"
				palette-event="shared"
				v-on:shared="SugarPresence.onShared"
				v-if="SugarPresence"
				></sugar-toolitem>
			<!-- Add more buttons here -->
			<!-- <sugar-toolitem id="grid-mode" title="Grid Mode" @click='gridImageMode'></sugar-toolitem> -->
			<!-- <sugar-toolitem id="single-mode" title="Single Mode" @click='singleImageMode'></sugar-toolitem> -->
			<sugar-toolitem :id="modeId" v-bind:title="l10n.stringToggleMode" @click='toggleMode'></sugar-toolitem>
			<sugar-toolitem
				id="size-palette"
				v-bind:title="l10n.stringGridSize"
				palette-file="js/palettes/sizePalette.js"
				palette-class="SizePalette"
				palette-event="grid-size-selected"
				v-on:grid-size-selected = "onGridSizeChange"
			></sugar-toolitem>
			<sugar-toolitem
				id="foreground-color-button"
				v-bind:title="l10n.stringForegroundColor"
				palette-file="js/palettes/ForegroundColorPalette.js"
				palette-class="ColorPalette"
				palette-event="color-change"
				v-on:color-change="onForegroundColorChange"
			></sugar-toolitem>
			<sugar-toolitem
				id="background-color-button"
				v-bind:title="l10n.stringBackgroundColor"
				palette-file="js/palettes/BackgroundColorPalette.js"
				palette-class="ColorPalette"
				palette-event="color-change"
				v-on:color-change="onBackgroundColorChange"
			></sugar-toolitem>
			<sugar-toolitem
				id="format-text-button"
				v-bind:title="l10n.stringFormatText"
				palette-file="js/palettes/formatTextPalette.js"
				palette-class="FormatTextPalette"
				palette-event="format-text-selected"
				v-on:format-text-selected = "onFormatText"
			></sugar-toolitem>
			<sugar-toolitem
				id="font-button"
				v-bind:title="l10n.stringChooseFont"
				palette-file="js/palettes/fontPalette.js"
				palette-class="FontPalette"
				palette-event="font-updated"
				v-on:font-updated = "onFontChange"
			></sugar-toolitem>
			<sugar-toolitem id="increase-font" v-bind:title="l10n.stringIncreaseFont" @click='increaseFont'></sugar-toolitem>
			<sugar-toolitem id="decrease-font" v-bind:title="l10n.stringDecreaseFont" @click='decreaseFont'></sugar-toolitem>
			<sugar-toolitem
				id="export-palette"
				v-bind:title="l10n.stringExportStory"
				palette-file="js/palettes/exportPalette.js"
				palette-class="ExportPalette"
				palette-event="export-story-selected"
				v-on:export-story-selected = "onExport"
			></sugar-toolitem>
			<sugar-toolitem id="export-sound" v-bind:title="l10n.stringExportAsSound" @click='exportRecord'></sugar-toolitem>

			<!-- Toolitems with class="pull-right" will be right aligned -->
			<sugar-toolitem id="stop-button" v-bind:title="l10n.stringStop" @click="onStop" class="pull-right"></sugar-toolitem>
			<sugar-toolitem id="help-button" title="Tutorial" @click="onHelp" class="pull-right"></sugar-toolitem>
		</sugar-toolbar>

		<div id="spinner-container" style="display: none;">
			<img id="spinner" src="images/spinner-light.gif"/>
		</div>

		<!-- Image Section -->
		<div id="display-image">
			<!-- Grid Mode -->
			<div v-if='grid' id="display-grid">
				<div class="grid-image"  v-bind:style="{display:(isLoaded)?'block':'none'}"  v-for='(image, index) in images'>
					<img :src="getUrlImg(image)" @click="openImage(index)" @load="loaded" />
				</div>
				<div v-if="!isLoaded" class="grid-image" v-for='i in imageCount'>
					<img src="./icons/question-mark.svg" class="questionmark"/>
				</div>
			</div>
			<!-- Single Mode -->
			<div v-if='!grid' :id="previousBtnId" @click="previousImage"></div>
			<div v-if="!grid" id="display-single">
				<img :src="getUrlImg(activeImage)" @load="loaded" v-bind:style="{display:(isLoaded)?'block':'none'}"/>
				<img v-if="!isLoaded" src="./icons/question-mark.svg" class="questionmark"/>
			</div>
			<div v-if='!grid' :id="nextBtnId" @click="nextImage"></div>
		</div>

		<!-- Editor Section -->
		<div id="editor">
			<div id="editor-area"></div>
			<div id="icons-flex">
				<div :id="recordIconId" @click="onRecord"></div>
				<div id="playIconFlex">
					<div :id="playIconId" @click="playAudio"></div>
					<div v-if="isPlaying" id="stop-play" @click="stopAudio"></div>
				</div>
				<div :id="speakIconId" @click="speakStory"></div>
			</div>
		</div>

		<sugar-activity ref="SugarActivity" v-on:initialized="initialized"></sugar-activity>
		<sugar-localization ref="SugarL10n" v-on:localized="localized"></sugar-localization>
		<sugar-journal ref="SugarJournal" v-on:journal-data-loaded="onJournalDataLoaded" v-on:journal-load-error="onJournalLoadError" v-on:journal-new-instance="onJournalNewInstance" v-on:journal-shared-instance="onJournalSharedInstance"></sugar-journal>
		<sugar-presence ref="SugarPresence" v-on:data-received="onNetworkDataReceived" v-on:user-changed="onNetworkUserChanged"></sugar-presence>
		<sugar-popup ref="SugarPopup"></sugar-popup>
		<sugar-speak ref="SugarSpeak"></sugar-speak>
		<sugar-tutorial ref="SugarTutorial"></sugar-tutorial>
	</div>

	<script src="js/components/SugarL10n.js"></script>
	<script src="js/components/SugarJournal.js"></script>
	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarToolbar.js"></script>
	<script src="js/components/SugarPopup.js"></script>
	<script src="js/components/SugarSpeak.js"></script>
	<script src="js/components/SugarPresence.js"></script>
	<script src="js/components/SugarTutorial.js"></script>
	<script src="js/activity.js"></script>
</body>

</html>
