#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
@font-face {
	font-family: 'Mickey';
	src:url('../activity/mickey.ttf') format('truetype');
}
input.entry{width:100%;;height:35px;font-size:20px;border:2px solid;border-radius:5px;}
input.checkB{font-size:20px;background:#7c42cc;color:#d7c2f3;width:100%;height:40px;border:2px solid;border-radius:5px;}
div.banner{font-family:Mickey;font-size:50px;color:#d7c2f3;background:#7c42cc;border-radius:5px;}
div.answer_div{font-size:20px;font-weight:bold;text-align:center;}
table.answer_widget{width:100%;}
td.answer_letter{width:10%;}
td.answer_input{width:90%;}
div.correct{width:100px;height:60px;background:#ccddcc;opacity:1.0;border:2px solid;border-radius:30px;}
div.incorrect{width:100px;height:60px;background:#ddcccc;opacity:1.0;border:2px solid;border-radius:30px;}
table.background_table{border:2px solid;border-radius:5px;}
img.logo{cursor:hand;}
#canvas{
	position:relative;
	top:15%;
}
#f{font-size:30px;}
