.xo-color256 { --stroke-color: #666666; --fill-color: #ffffff; }
.xo-color512 { --stroke-color: #000000; --fill-color: #999999; }
.xo-color1024 { --stroke-color: #000000; --fill-color: #ffffff; }

.xo-color0 { --stroke-color: #B20008; --fill-color: #FF2B34; }
.xo-color1 { --stroke-color: #FF2B34; --fill-color: #B20008; }
.xo-color2 { --stroke-color: #E6000A; --fill-color: #FF2B34; }
.xo-color3 { --stroke-color: #FF2B34; --fill-color: #E6000A; }
.xo-color4 { --stroke-color: #FFADCE; --fill-color: #FF2B34; }
.xo-color5 { --stroke-color: #9A5200; --fill-color: #FF2B34; }
.xo-color6 { --stroke-color: #FF2B34; --fill-color: #9A5200; }
.xo-color7 { --stroke-color: #FF8F00; --fill-color: #FF2B34; }
.xo-color8 { --stroke-color: #FF2B34; --fill-color: #FF8F00; }
.xo-color9 { --stroke-color: #FFC169; --fill-color: #FF2B34; }
.xo-color10 { --stroke-color: #807500; --fill-color: #FF2B34; }
.xo-color11 { --stroke-color: #FF2B34; --fill-color: #807500; }
.xo-color12 { --stroke-color: #BE9E00; --fill-color: #FF2B34; }
.xo-color13 { --stroke-color: #FF2B34; --fill-color: #BE9E00; }
.xo-color14 { --stroke-color: #F8E800; --fill-color: #FF2B34; }
.xo-color15 { --stroke-color: #008009; --fill-color: #FF2B34; }
.xo-color16 { --stroke-color: #FF2B34; --fill-color: #008009; }
.xo-color17 { --stroke-color: #00B20D; --fill-color: #FF2B34; }
.xo-color18 { --stroke-color: #FF2B34; --fill-color: #00B20D; }
.xo-color19 { --stroke-color: #8BFF7A; --fill-color: #FF2B34; }
.xo-color20 { --stroke-color: #00588C; --fill-color: #FF2B34; }
.xo-color21 { --stroke-color: #FF2B34; --fill-color: #00588C; }
.xo-color22 { --stroke-color: #005FE4; --fill-color: #FF2B34; }
.xo-color23 { --stroke-color: #FF2B34; --fill-color: #005FE4; }
.xo-color24 { --stroke-color: #BCCDFF; --fill-color: #FF2B34; }
.xo-color25 { --stroke-color: #5E008C; --fill-color: #FF2B34; }
.xo-color26 { --stroke-color: #FF2B34; --fill-color: #5E008C; }
.xo-color27 { --stroke-color: #7F00BF; --fill-color: #FF2B34; }
.xo-color28 { --stroke-color: #FF2B34; --fill-color: #7F00BF; }
.xo-color29 { --stroke-color: #D1A3FF; --fill-color: #FF2B34; }
.xo-color30 { --stroke-color: #9A5200; --fill-color: #FF8F00; }
.xo-color31 { --stroke-color: #FF8F00; --fill-color: #9A5200; }
.xo-color32 { --stroke-color: #C97E00; --fill-color: #FF8F00; }
.xo-color33 { --stroke-color: #FF8F00; --fill-color: #C97E00; }
.xo-color34 { --stroke-color: #FFC169; --fill-color: #FF8F00; }
.xo-color35 { --stroke-color: #807500; --fill-color: #FF8F00; }
.xo-color36 { --stroke-color: #FF8F00; --fill-color: #807500; }
.xo-color37 { --stroke-color: #BE9E00; --fill-color: #FF8F00; }
.xo-color38 { --stroke-color: #FF8F00; --fill-color: #BE9E00; }
.xo-color39 { --stroke-color: #F8E800; --fill-color: #FF8F00; }
.xo-color40 { --stroke-color: #008009; --fill-color: #FF8F00; }
.xo-color41 { --stroke-color: #FF8F00; --fill-color: #008009; }
.xo-color42 { --stroke-color: #00B20D; --fill-color: #FF8F00; }
.xo-color43 { --stroke-color: #FF8F00; --fill-color: #00B20D; }
.xo-color44 { --stroke-color: #8BFF7A; --fill-color: #FF8F00; }
.xo-color45 { --stroke-color: #00588C; --fill-color: #FF8F00; }
.xo-color46 { --stroke-color: #FF8F00; --fill-color: #00588C; }
.xo-color47 { --stroke-color: #005FE4; --fill-color: #FF8F00; }
.xo-color48 { --stroke-color: #FF8F00; --fill-color: #005FE4; }
.xo-color49 { --stroke-color: #BCCDFF; --fill-color: #FF8F00; }
.xo-color50 { --stroke-color: #5E008C; --fill-color: #FF8F00; }
.xo-color51 { --stroke-color: #FF8F00; --fill-color: #5E008C; }
.xo-color52 { --stroke-color: #A700FF; --fill-color: #FF8F00; }
.xo-color53 { --stroke-color: #FF8F00; --fill-color: #A700FF; }
.xo-color54 { --stroke-color: #D1A3FF; --fill-color: #FF8F00; }
.xo-color55 { --stroke-color: #B20008; --fill-color: #FF8F00; }
.xo-color56 { --stroke-color: #FF8F00; --fill-color: #B20008; }
.xo-color57 { --stroke-color: #FF2B34; --fill-color: #FF8F00; }
.xo-color58 { --stroke-color: #FF8F00; --fill-color: #FF2B34; }
.xo-color59 { --stroke-color: #FFADCE; --fill-color: #FF8F00; }
.xo-color60 { --stroke-color: #807500; --fill-color: #F8E800; }
.xo-color61 { --stroke-color: #F8E800; --fill-color: #807500; }
.xo-color62 { --stroke-color: #BE9E00; --fill-color: #F8E800; }
.xo-color63 { --stroke-color: #F8E800; --fill-color: #BE9E00; }
.xo-color64 { --stroke-color: #FFFA00; --fill-color: #EDDE00; }
.xo-color65 { --stroke-color: #008009; --fill-color: #F8E800; }
.xo-color66 { --stroke-color: #F8E800; --fill-color: #008009; }
.xo-color67 { --stroke-color: #00EA11; --fill-color: #F8E800; }
.xo-color68 { --stroke-color: #F8E800; --fill-color: #00EA11; }
.xo-color69 { --stroke-color: #8BFF7A; --fill-color: #F8E800; }
.xo-color70 { --stroke-color: #00588C; --fill-color: #F8E800; }
.xo-color71 { --stroke-color: #F8E800; --fill-color: #00588C; }
.xo-color72 { --stroke-color: #00A0FF; --fill-color: #F8E800; }
.xo-color73 { --stroke-color: #F8E800; --fill-color: #00A0FF; }
.xo-color74 { --stroke-color: #BCCEFF; --fill-color: #F8E800; }
.xo-color75 { --stroke-color: #5E008C; --fill-color: #F8E800; }
.xo-color76 { --stroke-color: #F8E800; --fill-color: #5E008C; }
.xo-color77 { --stroke-color: #AC32FF; --fill-color: #F8E800; }
.xo-color78 { --stroke-color: #F8E800; --fill-color: #AC32FF; }
.xo-color79 { --stroke-color: #D1A3FF; --fill-color: #F8E800; }
.xo-color80 { --stroke-color: #B20008; --fill-color: #F8E800; }
.xo-color81 { --stroke-color: #F8E800; --fill-color: #B20008; }
.xo-color82 { --stroke-color: #FF2B34; --fill-color: #F8E800; }
.xo-color83 { --stroke-color: #F8E800; --fill-color: #FF2B34; }
.xo-color84 { --stroke-color: #FFADCE; --fill-color: #F8E800; }
.xo-color85 { --stroke-color: #9A5200; --fill-color: #F8E800; }
.xo-color86 { --stroke-color: #F8E800; --fill-color: #9A5200; }
.xo-color87 { --stroke-color: #FF8F00; --fill-color: #F8E800; }
.xo-color88 { --stroke-color: #F8E800; --fill-color: #FF8F00; }
.xo-color89 { --stroke-color: #FFC169; --fill-color: #F8E800; }
.xo-color90 { --stroke-color: #008009; --fill-color: #00EA11; }
.xo-color91 { --stroke-color: #00EA11; --fill-color: #008009; }
.xo-color92 { --stroke-color: #00B20D; --fill-color: #00EA11; }
.xo-color93 { --stroke-color: #00EA11; --fill-color: #00B20D; }
.xo-color94 { --stroke-color: #8BFF7A; --fill-color: #00EA11; }
.xo-color95 { --stroke-color: #00588C; --fill-color: #00EA11; }
.xo-color96 { --stroke-color: #00EA11; --fill-color: #00588C; }
.xo-color97 { --stroke-color: #005FE4; --fill-color: #00EA11; }
.xo-color98 { --stroke-color: #00EA11; --fill-color: #005FE4; }
.xo-color99 { --stroke-color: #BCCDFF; --fill-color: #00EA11; }
.xo-color100 { --stroke-color: #5E008C; --fill-color: #00EA11; }
.xo-color101 { --stroke-color: #00EA11; --fill-color: #5E008C; }
.xo-color102 { --stroke-color: #7F00BF; --fill-color: #00EA11; }
.xo-color103 { --stroke-color: #00EA11; --fill-color: #7F00BF; }
.xo-color104 { --stroke-color: #D1A3FF; --fill-color: #00EA11; }
.xo-color105 { --stroke-color: #B20008; --fill-color: #00EA11; }
.xo-color106 { --stroke-color: #00EA11; --fill-color: #B20008; }
.xo-color107 { --stroke-color: #FF2B34; --fill-color: #00EA11; }
.xo-color108 { --stroke-color: #00EA11; --fill-color: #FF2B34; }
.xo-color109 { --stroke-color: #FFADCE; --fill-color: #00EA11; }
.xo-color110 { --stroke-color: #9A5200; --fill-color: #00EA11; }
.xo-color111 { --stroke-color: #00EA11; --fill-color: #9A5200; }
.xo-color112 { --stroke-color: #FF8F00; --fill-color: #00EA11; }
.xo-color113 { --stroke-color: #00EA11; --fill-color: #FF8F00; }
.xo-color114 { --stroke-color: #FFC169; --fill-color: #00EA11; }
.xo-color115 { --stroke-color: #807500; --fill-color: #00EA11; }
.xo-color116 { --stroke-color: #00EA11; --fill-color: #807500; }
.xo-color117 { --stroke-color: #BE9E00; --fill-color: #00EA11; }
.xo-color118 { --stroke-color: #00EA11; --fill-color: #BE9E00; }
.xo-color119 { --stroke-color: #F8E800; --fill-color: #00EA11; }
.xo-color120 { --stroke-color: #00588C; --fill-color: #00A0FF; }
.xo-color121 { --stroke-color: #00A0FF; --fill-color: #00588C; }
.xo-color122 { --stroke-color: #005FE4; --fill-color: #00A0FF; }
.xo-color123 { --stroke-color: #00A0FF; --fill-color: #005FE4; }
.xo-color124 { --stroke-color: #BCCDFF; --fill-color: #00A0FF; }
.xo-color125 { --stroke-color: #5E008C; --fill-color: #00A0FF; }
.xo-color126 { --stroke-color: #00A0FF; --fill-color: #5E008C; }
.xo-color127 { --stroke-color: #9900E6; --fill-color: #00A0FF; }
.xo-color128 { --stroke-color: #00A0FF; --fill-color: #9900E6; }
.xo-color129 { --stroke-color: #D1A3FF; --fill-color: #00A0FF; }
.xo-color130 { --stroke-color: #B20008; --fill-color: #00A0FF; }
.xo-color131 { --stroke-color: #00A0FF; --fill-color: #B20008; }
.xo-color132 { --stroke-color: #FF2B34; --fill-color: #00A0FF; }
.xo-color133 { --stroke-color: #00A0FF; --fill-color: #FF2B34; }
.xo-color134 { --stroke-color: #FFADCE; --fill-color: #00A0FF; }
.xo-color135 { --stroke-color: #9A5200; --fill-color: #00A0FF; }
.xo-color136 { --stroke-color: #00A0FF; --fill-color: #9A5200; }
.xo-color137 { --stroke-color: #FF8F00; --fill-color: #00A0FF; }
.xo-color138 { --stroke-color: #00A0FF; --fill-color: #FF8F00; }
.xo-color139 { --stroke-color: #FFC169; --fill-color: #00A0FF; }
.xo-color140 { --stroke-color: #807500; --fill-color: #00A0FF; }
.xo-color141 { --stroke-color: #00A0FF; --fill-color: #807500; }
.xo-color142 { --stroke-color: #BE9E00; --fill-color: #00A0FF; }
.xo-color143 { --stroke-color: #00A0FF; --fill-color: #BE9E00; }
.xo-color144 { --stroke-color: #F8E800; --fill-color: #00A0FF; }
.xo-color145 { --stroke-color: #008009; --fill-color: #00A0FF; }
.xo-color146 { --stroke-color: #00A0FF; --fill-color: #008009; }
.xo-color147 { --stroke-color: #00B20D; --fill-color: #00A0FF; }
.xo-color148 { --stroke-color: #00A0FF; --fill-color: #00B20D; }
.xo-color149 { --stroke-color: #8BFF7A; --fill-color: #00A0FF; }
.xo-color150 { --stroke-color: #5E008C; --fill-color: #AC32FF; }
.xo-color151 { --stroke-color: #AC32FF; --fill-color: #5E008C; }
.xo-color152 { --stroke-color: #7F00BF; --fill-color: #AC32FF; }
.xo-color153 { --stroke-color: #AC32FF; --fill-color: #7F00BF; }
.xo-color154 { --stroke-color: #D1A3FF; --fill-color: #AC32FF; }
.xo-color155 { --stroke-color: #B20008; --fill-color: #AC32FF; }
.xo-color156 { --stroke-color: #AC32FF; --fill-color: #B20008; }
.xo-color157 { --stroke-color: #FF2B34; --fill-color: #AC32FF; }
.xo-color158 { --stroke-color: #AC32FF; --fill-color: #FF2B34; }
.xo-color159 { --stroke-color: #FFADCE; --fill-color: #AC32FF; }
.xo-color160 { --stroke-color: #9A5200; --fill-color: #AC32FF; }
.xo-color161 { --stroke-color: #AC32FF; --fill-color: #9A5200; }
.xo-color162 { --stroke-color: #FF8F00; --fill-color: #AC32FF; }
.xo-color163 { --stroke-color: #AC32FF; --fill-color: #FF8F00; }
.xo-color164 { --stroke-color: #FFC169; --fill-color: #AC32FF; }
.xo-color165 { --stroke-color: #807500; --fill-color: #AC32FF; }
.xo-color166 { --stroke-color: #AC32FF; --fill-color: #807500; }
.xo-color167 { --stroke-color: #BE9E00; --fill-color: #AC32FF; }
.xo-color168 { --stroke-color: #AC32FF; --fill-color: #BE9E00; }
.xo-color169 { --stroke-color: #F8E800; --fill-color: #AC32FF; }
.xo-color170 { --stroke-color: #008009; --fill-color: #AC32FF; }
.xo-color171 { --stroke-color: #AC32FF; --fill-color: #008009; }
.xo-color172 { --stroke-color: #00B20D; --fill-color: #AC32FF; }
.xo-color173 { --stroke-color: #AC32FF; --fill-color: #00B20D; }
.xo-color174 { --stroke-color: #8BFF7A; --fill-color: #AC32FF; }
.xo-color175 { --stroke-color: #00588C; --fill-color: #AC32FF; }
.xo-color176 { --stroke-color: #AC32FF; --fill-color: #00588C; }
.xo-color177 { --stroke-color: #005FE4; --fill-color: #AC32FF; }
.xo-color178 { --stroke-color: #AC32FF; --fill-color: #005FE4; }
.xo-color179 { --stroke-color: #BCCDFF; --fill-color: #AC32FF; }
