/* Toolbar buttons */
#main-toolbar #activity-button {
  background-image: url(activity/activity-icon.svg);
}

#main-toolbar #en-button {
  margin-left: 100px;
  background-image: url(images/en.svg);
}

#main-toolbar #fr-button {
  margin-left: 5px;
  background-image: url(images/fr.svg);
}

#main-toolbar #pt_BR-button {
  margin-left: 5px;
  background-image: url(images/pt_BR.svg);
}
  
#main-toolbar #help-button {
  background-image: url(images/help.svg);
}

#fullscreen-button {
  background-image: url(images/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(images/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 10%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

.palette {
	z-index: 5;
}

/* App background */
.board {
	background-color: #005a40 !important;
}

/* Home page */
.cardbox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.glass {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	overflow-x: hidden;
	overflow-y: hidden;
}

.logo {
	position: absolute;
	margin-top: 5%;
	margin-left: 28%;
	z-index: 2;
	max-width: 50%;
}

.game-LearnGame {
	position: absolute;
	left: 10%;
	top: 40%;
	z-index: 2;
}

.game-BuildGame {
	position: absolute;
	left: 40%;
	top: 30%;
	z-index: 2;
}

.game-PlayGame {
	position: absolute;
	left: 70%;
	top: 40%;
	z-index: 2;
}

.game-popup {
	position: absolute;
	left: 25%;
	top: 55%;
	width: 40%;
	height: 300px;
	max-height: 30%;
	border: medium solid black;
	border-radius: 20px / 15px;
	background-color: white;
	box-shadow: 5px 4px 10px 2px gray;
	padding: 5px;
	z-index: 2;
}

.game-title {
	font-size: x-large;
}

.game-color-LearnGame {
	color: blue;
}

.game-color-BuildGame {
	color: red;
}

.game-color-PlayGame {
	color: magenta;
}

.game-description {
	font-size: small;
}

.information {
	position: absolute;
	left: 85%;
	bottom: 30%;
}

/* Game One */

.start-box {
	margin-top: 1%;
	margin-left: 40%;
	border-width: 2px;
	border-style: dashed;
	border-color: white;
	width: 25%;
	height: 260px;
	z-index: -1;
}

.end-box {
	border-width: 2px;
	border-style: dashed;
	width: 25%;
	height: 300px;
	z-index: -1;
	display: inline-block;
	border-color: white;
}

.herb-box-two {
	margin-top: 1%;
	margin-left: 20%;
	background-image: url(images/grass.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.herb-box-three {
	margin-top: 1%;
	margin-left: 10%;
	background-image: url(images/grass.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.carn-box-two {
	margin-top: 1%;
	margin-left: 13%;
	background-image: url(images/meat.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.carn-box-three {
	margin-top: 1%;
	margin-left: 5%;
	background-image: url(images/meat.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.omni-box-two {
	visibility: hidden;
}

.omni-box-three {
	margin-top: 1%;
	margin-left: 5%;
	background-image: url(images/recycle.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.box-name {
	text-align: center;
	font-size: 14pt;
	color: white;
}


/* Game Two */
.level-zone {
	position: absolute;
	width: 90%;
}

.level-value {
	margin-left: 1%;
	position: relative;
	display: inline-block;
}

.timer-value {
	margin-right: 3%;
}

.score-zone {
	position: absolute;
	text-align: right;
	right: 1%;
	width: 90%;
}

.score-text {
	display: inline-block;
}

.score-value {
	margin-left: 1%;
	display: inline-block;
}

.timer-overtime {
	color: red !important;
}

.title {
	margin-bottom: 1%;
	margin-top: 1%;
	font-size: 17pt;
	color: white;
	text-shadow: 0.1em .1em 1px lightgrey;
}

.box {
	position: absolute;
	top: 48%;
	left: 0%;
	border-width: 2px;
	border-style: dashed;
	border-color: white;
	width: 99%;
	height: 45%;
	z-index: 1;
}

.box-dragging {
	cursor: move;
}

.box-win {
	background-color: green;
}

.box-lost {
	background-color: red;
}

.play {
	position: absolute;
	right: 15%;
	top: 20%;
}

.validate {
	position: absolute;
	left: 45%;
	top: 20%;
}

.restart {
	position: absolute;
	right: 15%;
	top: 20%;
}

.home {
	position: absolute;
	left: 1%;
	top: 20%;
}

/* Game Three */

.status-bar {
	top: 0% !important;
	position: absolute;
	width: 100%;
}

.home2 {
	position: absolute;
	right: 15%;
	top: 50%;
}

.cards {
  padding-top: 6%;
  padding-left: 1%;
  padding-bottom: 6%;
}

.game-box {
	border-width: 2px;
	border-style: dashed;
	border-color: white;
	background-image: url(images/play_background.png);
	z-index: -1;
	overflow-x: hidden;
	overflow-y: hidden;
}

.image-preload {
	visibility: hidden;
}

.life-border {
	position: absolute;
	bottom: 1%;
	text-align: right;
	width: 100%;
	z-index: 2;
}

.life {
	display: inline-block;
	max-width: 5%;
}

/* Credits */

.credits-popup {
	width: 950px;
	max-width: 100%;
	height: 680px;
	max-height: 90%;
	color: black;
}

.credit-content {
	height: 100%;
}

.credit-title {
	font-size: x-large;
	margin-top: 1%;
	margin-left: 30%;
	color: white;
}

.credit-name {
	font-size: small;
	margin-left: 30%;
	color: white;
}

.two-column-credits {
	display: inline-block;
	width: 65%;
}

.emul-canvas {
	background-image: url(images/play_background.png);
	margin-left: 2%;
	margin-top: 5%;
	position: absolute;
}

/* Components */

.shadowbutton-image {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.shadowbutton {
	position: absolute;
	z-index: 2;
}

.shadowbutton-shadow {
	position: absolute;
	margin-left: 5px;
	margin-top: 3px;
	z-index: 1;
}

.card {
	position: absolute;
	border-width: 5px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 5px -4px 4px 2px black;
	width: 220px;
	max-width: 20%;
	background-color: white;
	display: inline-block;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	z-index: 0;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.card-dragged {
	border-color: blue;
	cursor: move;
}

.cardImage {
	width: 70%;
	margin-top: 5%;
	margin-left: 10%;
}

.cardText {
	font-size:30px;
	text-align: center;
	padding: 5px;
}

.cardSoundIcon {
	margin-left: 5%;
	width: 12%;
}

.cardSound {
	width: 50px;
}

/* tutorial */

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(images/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(images/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(images/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

@media screen and (max-width: 480px) {
	.shadowbutton-image {
		width: 60px;
	}

	.card {
		border-width: 3px;
		box-shadow: 3px -2px 2px 1px black;
	}

	.cardText {
		font-size: 12px;
	}

	.start-box {
		height: 120px;
	}

	.end-box {
		height: 120px;
	}

	.box-name {
		font-size: 10pt;
	}

	.title {
		font-size: 14pt;
	}

	.play {
		top: 24%;
	}

	.validate {
		top: 24%;
	}

	.restart {
		top: 24%;
	}

	.home {
		top: 24%;
	}
}

@media screen and (min-width: 481px) and (max-width: 640px) {
	.shadowbutton-image {
		width: 80px;
	}

	.card {
		border-width: 4px;
		box-shadow: 4px -3px 3px 2px black;
	}

	.cardText {
		font-size: 14px;
	}

	.start-box {
		height: 150px;
	}

	.end-box {
		height: 160px;
	}

	.box-name {
		font-size: 12pt;
	}

	.title {
		font-size: 15pt;
	}
}

@media screen and (min-width: 641px) and (max-width: 854px) {
	.shadowbutton-image {
		width: 100px;
	}

	.cardText {
		font-size: 18px;
	}

	.start-box {
		height: 190px;
	}

	.end-box {
		height: 200px;
	}
}

@media screen and (min-width: 855px) and (max-width: 960px) {
	.shadowbutton-image {
		width: 110px;
	}

	.cardText {
		font-size: 20px;
	}

	.start-box {
		height: 205px;
	}

	.end-box {
		height: 215px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
	.start-box {
		height: 250px;
	}

	.end-box {
		height: 260px;
	}
}

@media only screen and (max-width:545px) {
	#help-button {
		visibility: hidden;
	}
  }