<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Chart Activity</title>
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
		<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)" href="lib/sugar-web/graphics/css/sugar-96dpi.css" />
		<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)" href="lib/sugar-web/graphics/css/sugar-200dpi.css" />
		<link rel="stylesheet" href="css/activity.css" />
		<link rel="stylesheet" href="css/introjs.css" />
		<link rel="stylesheet" href="css/libnotify.css" />
		<script src="lib/intro.js"></script>
		<script src="lib/vue.min.js"></script>
		<script src="lib/chart.min.js"></script>
		<script src="lib/chartjs-datalabels.min.js"></script>
		<script src="lib/csv-parser.js"></script>
		<script src="lib/require.js"></script>
		<script type="text/javascript" src="../../cordova.js"></script>
	</head>

	<body oncontextmenu="return false;">
		<div id="app" :class="{fullscreen: isFullscreen}">
			<sugar-toolbar ref="SugarToolbar">
				<sugar-toolitem ref="activityPal" id="activity-button"></sugar-toolitem>
				<sugar-toolitem
					ref="sharedPal"
					id="network-button"
					:title="l10n.stringNetwork"
					palette-file="sugar-web/graphics/presencepalette"
					palette-class="PresencePalette"
					palette-event="shared"
					@shared="SugarPresence.onShared"
					v-if="SugarPresence"
				></sugar-toolitem>

				<hr />
				<sugar-toolitem id="add-button" :title="l10n.stringAddValue" @click="addData"></sugar-toolitem>
				<sugar-toolitem id="remove-button" :title="l10n.stringRemoveValue" @click="removeData"></sugar-toolitem>

				<hr />
				<template v-for="(string, key) in CHART_TYPES" :key="key">
					<sugar-toolitem @click="setChartType(key)" :id="`${key}-chart-button`" :class="{active: pref.chartType==key}" :title="l10n[string]"></sugar-toolitem>
				</template>
				<sugar-toolitem id="csv-button" :class="{active: pref.chartType == 'csvMode'}"  @click="setChartType('csvMode')" :title=l10n.stringViewCsv></sugar-toolitem>
				<hr />
				<sugar-toolitem id="config-button" @click="toggleConfig" class="invoker" :class="{active: configActive}" :title="l10n.stringConfigs"></sugar-toolitem>
				<sugar-toolitem id="text-palette-button" @click="toggleTextPal" class="invoker" :class="{active: textPalActive}" :title="l10n.stringConfigs"></sugar-toolitem>
				<hr />
				<sugar-toolitem 
					id="export-button" 
					ref="exportPal"
					v-bind:title="l10n.stringExportSettings" 
					palette-file="lib/js/palettes/exportpalette.js"
					palette-class="ExportPalette"
					palette-event="export-file"
					@export-file="exportFile"
					:title="l10n.stringExportSettings"
				></sugar-toolitem>

				<sugar-toolitem @click="onStop" id="stop-button" title="Stop" class="pull-right"></sugar-toolitem>
				<sugar-toolitem @click="isFullscreen = !isFullscreen" id="fullscreen-button" class="pull-right" :title="l10n.stringFullscreen"></sugar-toolitem>
				<sugar-toolitem @click="onHelp" id="help-button" :title="l10n.stringHelp" class="pull-right"></sugar-toolitem>
			</sugar-toolbar>
			<!-- Sub Toolbar -->
			<div id="sub-toolbar" :class="{hidden: !configActive && !textPalActive}">
				<!-- Text Palette -->
				<sugar-toolbar id="font-toolbar" class="sub-toolbar-itm" :class="{hidden: !textPalActive}">
					<sugar-toolitem id="title-font-button" @click="updateFontField(0)" :class="{active: selectedFontIdx == 0}" :title="l10n.stringTitleFont"></sugar-toolitem>
					<sugar-toolitem id="labels-font-button" @click="updateFontField(1)" :class="{active: selectedFontIdx == 1}" :title="l10n.stringLabelsFont"></sugar-toolitem>
					<sugar-toolitem id="tick-font-button" @click="updateFontField(2)" :class="{active: selectedFontIdx == 2}" :title="l10n.stringTickFont"></sugar-toolitem>
					<hr style="margin-inline: 12px" />
					<sugar-toolitem id="fontplus-button" :title="l10n.stringFontPlusButton" @click="handleFontSize(2)"></sugar-toolitem>
					<sugar-toolitem
						ref="fontPal"
						id="font-button"
						:title="l10n.stringSelectFont"
						palette-file="js/palettes/fontpalette"
						palette-class="TextPalette"
						palette-event="font-change"
						@font-change="handleFontFamily"
					></sugar-toolitem>
					<sugar-toolitem id="fontminus-button" :title="l10n.stringFontMinusButton" @click="handleFontSize(-2)"></sugar-toolitem>
					<sugar-toolitem
						ref="textColorPal"
						id="text-color"
						class="colorpalette"
						:title="l10n.stringFontColor"
						palette-file="js/palettes/colorpalette"
						palette-class="ColorPalette"
						palette-event="color-change"
						@color-change="handleTextColor"
					></sugar-toolitem>
				</sugar-toolbar>
				<!-- Config Palette -->
				<sugar-toolbar id="config-toolbar" class="sub-toolbar-itm" :class="{hidden: !configActive}">
					<sugar-toolitem
						ref="strokeColorPal"
						id="chart-stroke"
						class="colorpalette"
						:title="l10n.stringLineColor"
						palette-file="js/palettes/colorpalette"
						palette-class="ColorPalette"
						palette-event="color-change"
						@color-change="handleChartColor($event, 'stroke')"
					></sugar-toolitem>
					<sugar-toolitem
						ref="fillColorPal"
						id="chart-fill"
						class="colorpalette"
						:title="l10n.stringChartColor"
						palette-file="js/palettes/colorpalette"
						palette-class="ColorPalette"
						palette-event="color-change"
						@color-change="handleChartColor($event, 'fill')"
					></sugar-toolitem>
					<hr />
					<sugar-toolitem id="xLabel-button" :title="l10n.stringHorizontalLabel"></sugar-toolitem>
					<input @focus="popDownPal" :value="pref.labels.x" @input="handleLabel($event, 'x')" type="text" class="input-text" :placeholder="l10n.stringHorizontalLabel" />
					<sugar-toolitem id="yLabel-button" :title="l10n.stringVerticalLabel" tabindex="-1"></sugar-toolitem>
					<input @focus="popDownPal" :value="pref.labels.y" @input="handleLabel($event, 'y')" type="text" class="input-text" :placeholder="l10n.stringVerticalLabel" />
				</sugar-toolbar>
			</div>

			<div class="activity-container">
				<div class="data-container">
					<div class="data-labels">
						<span class="data-label">{{ l10n.stringLabel }}</span>
						<span class="data-label">{{ l10n.stringValue }}</span>
					</div>
					<div class="input-container">
						<div v-for="(data, i) in tabularData" :key="i" class="input-group" :class="{active: (selectedField.i==i)}">
							<input :value="data.x" @input="updateInput" ref="input" type="text" @focus="setSelectedField(i, 'x')" />
							<input :value="data.y" @input="validateInput" type="text" @focus="setSelectedField(i, 'y')" />
						</div>
					</div>
					<div class="toolbar swap-fields">
						<button id="up-button" class="toolbutton" :title="l10n.stringMoveUp" @click="swapUp"></button>
						<button id="down-button" class="toolbutton" :title="l10n.stringMoveDown" @click="swapDown"></button>
					</div>
				</div>
				<div class="chart-container">
					<chartview ref="chartview" :tabular-data="tabularData" :pref="pref" :activity-title="activityTitle"></chartview>
				</div>
			</div>
			<csv-view ref="csvView" @swap-data="handleColSwap" @data-change="handleDataChange" :class="{ hidden: (pref.chartType !== 'csvMode') }" :json-data="jsonData"></csv-view>

			<sugar-activity @initialized="initialized" ref="SugarActivity"></sugar-activity>
			<sugar-tutorial ref="SugarTutorial"></sugar-tutorial>
			<sugar-presence ref="SugarPresence" @data-received="onNetworkDataReceived" @user-changed="onNetworkUserChanged"></sugar-presence>
			<sugar-popup ref="SugarPopup"></sugar-popup>
			<sugar-journal ref="SugarJournal" @journal-data-loaded="onJournalDataLoaded" @journal-new-instance="onJournalNewInstance"></sugar-journal>
			<sugar-localization @localized="localized" ref="SugarL10n"></sugar-localization>
		</div>
		<script src="js/components/SugarTutorial.js"></script>
		<script src="js/components/SugarPresence.js"></script>
		<script src="js/components/SugarPopup.js"></script>
		<script src="js/components/SugarL10n.js"></script>
		<script src="js/components/SugarJournal.js"></script>
		<script src="js/components/SugarActivity.js"></script>
		<script src="js/components/SugarToolbar.js"></script>
		<script src="js/command.js"></script>
		<script src="js/ChartView.js"></script>
		<script src="js/CsvView.js"></script>
		<script src="js/activity.js"></script>
	</body>
</html>
