
@font-face {
    font-family: 'VeraBd';
    font-weight: 250;
    src: url('../fonts/VeraBd.ttf');
}

@font-face {
    font-family: 'ds_moster';
    font-weight: 250;
    src: url('../fonts/Lagunas-9a95.ttf');
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #restart-button {
  background-image: url(../icons/restart.svg);
}

#level-easy-button {
  height: 70px;
  width: 70px;
  background-image: url(../icons/level-easy.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
}

#level-medium-button {
  height: 70px;
  width: 70px;
  background-image: url(../icons/level-medium.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
}

#level-hard-button {
  height: 70px;
  width: 70px;
  background-image: url(../icons/level-hard.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
}


/*Add image to fullscreen/unfullscreen button*/
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

#settingScreen {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border-radius: 0px;
  margin: 1px;
  width: 10px;
  height: 10px;
  top: 10px;
  left: 10px;
  font-family: ds_moster;
  font-size: 20px;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}


#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#panel-body {
  overflow-y: auto;
  height: 10px;
}

.settingMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
}

.difficulty-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 0;
}


#addWord {
  height: 80px;
  width: 80px;
  background-image: url(../icons/add.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#deleteAllWords {
  height: 80px;
  width: 80px;
  background-image: url(../icons/delete.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#saveDict {
  height: 80px;
  width: 80px;
  background-image: url(../icons/save.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#resetDict {
  height: 80px;
  width: 80px;
  background-image: url(../icons/reset.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button.editWord {
  height: 50px;
  width: 50px;
  background-image: url(../icons/edit.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button.deleteWord {
  height: 50px;
  width: 50px;
  background-image: url(../icons/minus.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button.saveEditWord {
  height: 50px;
  width: 50px;
  background-image: url(../icons/ok.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button.resetEditWord {
  height: 50px;
  width: 50px;
  background-image: url(../icons/delete.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.settingButtons {
  background: transparent;
  border: none;
  font-family: ds_moster;
  color: black
}

.dictRow {
  display: flex;
  justify-content: space-between;
}

.fontSettingMain {
  font-size: 30px;
}

@media only screen and (max-height: 550px) {
  #addWord {
    height: 60px;
    width: 60px;
  }

  #deleteAllWords {
    height: 60px;
    width: 60px;
  }

  #saveDict {
    height: 60px;
    width: 60px;

  }

  #resetDict {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 400px) {
  #addWord {
    height: 60px;
    width: 60px;
  }

  #deleteAllWords {
    height: 60px;
    width: 60px;
  }

  #saveDict {
    height: 60px;
    width: 60px;

  }

  #resetDict {
    height: 60px;
    width: 60px;
  }
}


@media only screen and (max-width: 600px) {
  .dictRow {
    display: flex;
    flex-direction: column;
  }

  .fontSettingMain {
    font-size: 20px;
  }

}

@media only screen and (max-height: 400px) {
  .fontSettingMain {
    font-size: 15px;
  }
  #level-easy-button {
    height: 30px;
    width: 30px;
  }

  #level-medium-button {
    height: 30px;
    width: 30px;
  }

  #level-hard-button {
    height: 30px;
    width: 30px;
  }
  .settingScreen {
    justify-content: space-around;
  }

}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}
