button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: white;
}

p {
	margin: 0.6em 0;
}

#app {
	min-height: 100%;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow-y: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}

#main-toolbar #unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 6%;
	position: absolute;
	z-index: 5;
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
}

#main-toolbar #insert-button {
	background-image: url(../icons/insert-picture.svg);
}

#main-toolbar #add-button {
	background-image: url(../icons/add.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

.pawn {
	background-image: url(../icons/pawn-icon.svg);
	display: inline-block;
	width: 65px;
	height: 65px;
}

.palette .row {
	display: block;
	margin: 0 0 !important;
	box-sizing: initial !important;
	font-size: 10pt;
}

.palette .expand {
	font-family: sans-serif;
	font-size: 10pt;
}

.palette input#title.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 245px;
	color: black;
}

.palette textarea#description.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 255px;
	color: black;
}

.palette input[type='text'].expand {
	font-family: system-ui;
	font-size: 11px;
}

.palette .container {
	box-sizing: initial;
}

.palette .wrapper {
	font-size: 10pt;
	box-sizing: initial;
	min-width: 70px;
}

.palette *, ::after, ::before {
	box-sizing: initial;
}

#template-palette {
	width: fit-content;
}

.palette-item {
	cursor: pointer;
	padding: 10px;
}

.palette-item:hover {
	background-color: #808080;
}

.palette-icon {
	width: 50px;
}

.template-col {
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.template-item {
	background-color: white;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888;
	display: inline-table;
	font-size: 1.25em;
}

#spinner {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
	width: 8%;
}

.popup-input {
	border-radius: 22px;
	height: 30px;
	width: 400px;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
	display: inline-block;
}

.popup-label {
	color: #808080;
	margin-bottom: 5px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.tutorial-icon-button {
	color: white;
}

.tutorial-prev-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.tutorial-icon-button {
	color: white;
}

.tutorial-next-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.tutorial-icon-button {
	color: white;
}

.tutorial-end-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-icon-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}
