#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

#canvas {
  overflow: hidden;
}

.color-palette {
  display: flex;
  width: 370px; /* ugly hack */
  background-color: #000000;
  border: #808080 2px solid;
}

#color-grid-fill {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.slider-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-fill {
  width: 45px; /* Decreased circle size */
  height: 45px; /* Decreased circle size */
  border-radius: 50%;
  cursor: pointer;
  border: white solid 2px;
}

.active {
  background-color: #656565 !important;
}

#doctor-button {
  background-image: url(../icons/doctor.svg);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}