body {
  overflow-x: hidden;
  overflow-y: hidden;
} 

#canvas {
  margin: 0;
  text-align: center;
}

#clock-container {
  position: relative;
  margin: 0 auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#canvas {
  overflow-x: hidden;
  overflow-y: hidden;
}

#text-time {
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

#text-date {
  font-size: 25px;
  margin: 0;
}

.toolbar hr {
  vertical-align: bottom;
  margin-bottom: 10px;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-clock.svg);
}

#main-toolbar #simple-clock-button {
  background-image: url(../icons/simple-clock.svg);
}

#main-toolbar #nice-clock-button {
  background-image: url(../icons/nice-clock.svg);
}

#main-toolbar #write-time-button {
  background-image: url(../icons/write-time.svg);
}

#main-toolbar #write-date-button {
  background-image: url(../icons/write-date.svg);
}

#main-toolbar #write-seconds-button {
  background-image: url(../icons/write-seconds.svg);
}

#main-toolbar #set-time-button {
  background-image: url(../icons/set-time.svg);
}

#main-toolbar #set-timeGame-button {
  background-image: url(../icons/set-time-game.svg);
}

#main-toolbar #show-am-pm {
  background-image: url(../icons/time.svg);
}

#main-toolbar #show-mins {
  background-image: url(../icons/clock-with-minutes.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

/*Add image to fullscreen/unfullscreen button*/
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 8%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

/*Tutorial CSS*/
.introjs-overlay {
  background-color: #000 !important;
  opacity: .8 !important;
}

.introjs-tooltip {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
  border-radius: 6px !important;
  padding: 2px 1px !important;
  font-size: 14px !important;
}

.introjs-helperLayer{
  background: inherit !important;
  opacity: 0.6 !important;
}

.customTooltip .introjs-tooltip-header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color : #ffffff;
  text-shadow: none;
  background-color: #808080;
  margin: 0;
  padding: 0px 10px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.customTooltip .introjs-tooltip-title {
  font-size: 14px;
  padding: 0px 8px;
  font-weight: 800;
}

.customTooltip .introjs-tooltiptext {
  color: #000000;
  line-height: 1.42857143;
}

.customTooltip .introjs-skipbutton {
  float: right;
  cursor: pointer;
  background-image: url(../icons/dialog-cancel.svg);
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-top: 2px;
  padding: 0px;
  white-space: nowrap;
  color: transparent;
  line-height: 27px;
}

.customTooltip .introjs-nextbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-prevbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-tooltipbuttons {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 0px;
  padding: 0px;
  text-align: center;
  white-space: normal;
}

.customTooltip .introjs-button {
  text-shadow: none;
  border-radius: 22px;
  margin: 5px 8px 8px 8px;
  width: fit-content;
  background-color: #808080 !important;
  display: flex !important;
  align-items: center !important;
  color: white !important;
  padding: 6px 20px 6px 10px;
  border: 0px;
}

.customTooltip .introjs-button:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
  background-color: #808080 !important;
}

.customTooltip .introjs-disabled {
  color: black !important;
  border: 0px;
  opacity: .65;
}

.customTooltip .introjs-disabled:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
}

.web-activity-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
}

.icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

/*Added the media query to avoid accidentally stopping*/
/*the activity on double clicking the unfullscreen button*/
@media only screen and (max-width: 870px)
{
  #unfullscreen-button
  {
    right: 15%;
  }
}

@media only screen and (max-width: 735px) {
  #show-mins {
    display: none;
  }
}

@media only screen and (max-width: 678px) {
  #show-am-pm {
    display: none;
  }
}