#canvas {
  margin: 0;
  text-align: center;
}

#clock-container {
  position: relative;
  margin: 0 auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#canvas {
  overflow-x: hidden;
  overflow-y: hidden;
}

#text-time {
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

#text-date {
  font-size: 25px;
  margin: 0;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-clock.svg);
}

#main-toolbar #simple-clock-button {
  background-image: url(../icons/simple-clock.svg);
}

#main-toolbar #nice-clock-button {
  background-image: url(../icons/nice-clock.svg);
}

#main-toolbar #write-time-button {
  background-image: url(../icons/write-time.svg);
}

#main-toolbar #write-date-button {
  background-image: url(../icons/write-date.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

/*Add image to fullscreen/unfullscreen button*/
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 8%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

/*Tutorial CSS*/
.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

/*Added the media query to avoid accidentally stopping*/
/*the activity on double clicking the unfullscreen button*/
@media only screen and (max-width: 870px)
{
  #unfullscreen-button
  {
    right: 15%;
  }
}
