#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#con {
  padding-left: 300px;
}
#p {
  margin-left: 900px;
} 
#canvas {
  background-image: url(../img/background_1200_900.gif);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
 #game-container {
  height: 100%;
  width: 100%;
}
.menu-buttons{
  margin-left: 50%;
}
#welcome-board{
  background-image: url(../img/homework_green_board.gif);
  background-position: center;
  width: 900px;
  height: 260px;
  background-repeat: no-repeat;
  /* padding-left: 20%;
  padding-right: 20%; */
  margin-left: 10%;
  position: relative;
}

#welcome_heading1 {
padding-top: 110px;
text-align: center;
}
#welcome_heading2 {
  text-align: center;
}

#previous #next #learn-trick #learn-now #let-me-try-the-trick{
  display: none;
  visibility: hidden;
}
#to{
  color: pink;
}

#left_helper{
  position: absolute;
  top:310px;
  left:170px;
  text-align: center;
}

#right_helper{
  position: absolute;
  top:310px;
  left:700px;
  text-align: center;
}
#middle_helper{
  position: absolute;
  top:310px;
  left:370px;
  
}
#let-me-try-the-trick-answer{
  position: absolute;
  top:480px;
  left:370px;
}
#let-me-try-the-trick-question{
  position: absolute;
  top:142px;
  left:420px;
  text-align: center;
}

#timer {
  /* height: 110vw; */
  height: 110px;
  width: 110px;
  background-repeat: no-repeat;
  background-image: url(../img/timer_board.gif);
  top: 40px;
  left: 50px;
  position: relative;
  text-align: center;
  padding-top: 50px;
}

#lollipop {
  height: 110px;
  width: 110px;
  background-repeat: no-repeat;
  background-image: url(../img/timer_board.gif);
  top: 40px;
  left: 750px;
  position: absolute;
  text-align: center;
  padding-top: 50px;
}
#lollipops {
  padding-top: 45px;
  position: absolute;
  top: 110px;
  left: 780px;
}
#time {
  padding-top: 45px;
  position: absolute;
  top: 110px;
  left: 85px;
}