button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
	background-color: white;
}

p {
	margin: 0.6em 0;
}

#app {
	min-height: 100%;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	width: 90px;
	background-color: #808080;
	border: 2px solid #808080;
	display: flex;
	align-items: center;
}

.tutorial-icon-button {
	color: white;
}
.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-icon-text {
	padding-left: 4px;
}

#mainCanvas {
	display: block;
}

#axisScale {
	text-align: center;
	font-size: 1.2rem;
}

#play-button {
	background-image: url("../icons/play.svg");
}

#pause-button {
	background-image: url("../icons/pause.svg");
	display: none;
}