button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

p {
	margin: 0.6em 0;
}


.palette {
	z-index: 5;
}

#app {
	background: white;
	min-height: 100%;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #street-button {
	background-image: url(../icons/houses.svg);
}

#main-toolbar #family-button {
	background-image: url(../icons/family.svg);
}

#main-toolbar #things-button {
	background-image: url(../icons/things.svg);
}

#main-toolbar #world-button {
	background-image: url(../icons/world.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#spinner {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 8%;
}

#cloudwarning {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 100px;
	z-index: 5;
	visibility: hidden;
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	width: 90px;
	background-color: #808080;
	border: 2px solid #808080;
	display: flex;
	align-items: center;
}

.tutorial-icon-button {
	color: white;
}
.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-icon-text {
	padding-left: 4px;
}

.place {
	position: relative;
	display: inline-block;
	width: 360px;
	height: 360px;
	border-radius: 0 0 5px 5px;
	padding: .25rem;
}

.place-image {
	position: absolute;
}

.place-label {
	width: 350px;
	height: 60px;
	padding-left: 10px;
	padding-top: 10px;
	bottom: 5px;
	text-align: left;
	vertical-align: bottom;
	font-size: 16pt;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: rgba(0,0,0,.2);
	color: #fff;
	text-shadow: #495057 1px 1px 0;
	z-index: 3;
}

.place-country {
	font-weight: bold;
}

.place-icon {
	position: absolute;
	width: 35px;
	height: 35px;
	bottom: 10px;
	right: 12px;
	z-index: 4;
}

.place-spinner {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 8%;
}

#content {
	overflow-y: auto;
}

[slider] {
	position: relative;
	height: 14px;
	border-radius: 10px;
	text-align: left;
	margin: 45px 0 10px 0;
}

[slider] > div {
	position: absolute;
	left: 13px;
	right: 15px;
	height: 14px;
}

[slider] > div > [inverse-left] {
	position: absolute;
	left: 0;
	height: 14px;
	border-radius: 10px;
	background-color: #CCC;
	margin: 0 7px;
}

[slider] > div > [inverse-right] {
	position: absolute;
	right: 0;
	height: 14px;
	border-radius: 10px;
	background-color: #CCC;
	margin: 0 7px;
}

[slider] > div > [range] {
	position: absolute;
	left: 0;
	height: 14px;
	border-radius: 14px;
	background-color: #0000FF;
}

[slider] > div > [thumb] {
	position: absolute;
	top: -7px;
	z-index: 2;
	height: 28px;
	width: 28px;
	text-align: left;
	margin-left: -11px;
	cursor: pointer;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
	background-color: #FFF;
	border-radius: 50%;
	outline: none;
}

[slider] > input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 3;
	height: 14px;
	top: -2px;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
	-webkit-appearance: none;
	background: transparent;
	color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
	-moz-appearance: none;
	background: transparent;
	color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
	background: transparent;
	border: transparent;
}

div[slider] > input[type=range]:focus {
	outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
	pointer-events: all;
	width: 28px;
	height: 28px;
	border-radius: 0px;
	border: 0 none;
	background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
	pointer-events: all;
	width: 28px;
	height: 28px;
	border-radius: 0px;
	border: 0 none;
	background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 28px;
	height: 28px;
	border-radius: 0px;
	border: 0 none;
	background: red;
	-webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
	background: transparent;
	border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
	display: none;
}
