#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #filter-button {
  background-image: url(../icons/filter.svg);
}

#main-toolbar #settings-button {
  background-image: url(../icons/settings.svg);
}

#main-toolbar #favorite-button {
  background-image: url(../icons/notfavorite.svg);
}

#main-toolbar #library-button {
  background-image: url(../icons/library.svg);
}

#main-toolbar #exportvideo-button {
  background-image: url(../icons/save-video.svg);
}
#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

.palette-button {
	width: 200px;
	height: 47px;
	margin: 4px 22px;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 59px;
	border: 0;
	border-radius: 5.5px;
	display: block;
}

.palette-button-notselected {
	background-color: transparent;
}

.palette-button-selected {
	background-color: #9c9a9c;
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}
  
#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin:1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 1%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
}

#remote-button {
	background-image:url(../icons/remote.svg);
}

.main-content {
	background-color: #cecfce;
}

.viewer-footer {
	bottom: 0px;
	height: 55px;
	width: 100%;
}

.previous-button {
	background-image: url(../icons/go-left.svg);
	z-index: 2;
}

.page-count {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 18pt;
	height: 40px;
	z-index: 1;
}

.next-button {
	background-image: url(../icons/go-right.svg);
	z-index: 2;
}


.item {
	width: 480px;
	max-width: 45%;
	margin-left: 3%;
	margin-top: 3%;
	display: inline-block;
	z-index: 0;
	border: 0px solid black;
	box-shadow: 8px 8px 8px #666666;
	background-color: #666666;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	position: relative;
}


.library {
	width: 440px;
	max-width: 44%;
	margin-left: 3%;
	margin-top: 3%;
	display: inline-block;
	z-index: 0;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	position: relative;
}

.spinner {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
}

.mainspinner {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 80px;
	z-index: 5;
}

.cloudwarning {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 100px;
	z-index: 5;
}

.itemBackground {
	position: absolute;
	width: 100%;
	background-color: #9c9a9c;
	height: 100px;
}

.itemImage {
	width: 100%;
	max-width: 480px;
	max-height: 270px;
	text-align: center;
}

.itemOverlay {
	width: 100%;
	height: 45px;
	max-height: 30%;
	bottom: 2px;
	background-color: #9c9a9c;
	color: white;
	opacity: 0.8;
	position: absolute;
}

.itemPlay {
	width: 30%;
	position: absolute;
	left: 35%;
	top: 15%;
}

.itemFavorite {
	width: 8%;
	position: absolute;
	left: 1%;
	top: 1%;
}

.itemRemote {
	width: 8%;
	position: absolute;
	right: 1%;
	top: 1%;
}

.itemTitle {
	width: 100%;
	height: 40px;
	max-height: 30%;
	bottom: 0px;
	text-align: center;
	vertical-align: bottom;
	font-size: 14pt;
	color: white;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
}

.libraryImage {
	width: 100%;
	max-width: 440px;
	max-height: 270px;
	text-align: center;
}

.libraryOverlay {
	width: 100%;
	height: 45px;
	max-height: 30%;
	bottom: 2px;
	background-color: #9c9a9c;
	color: white;
	opacity: 0.8;
	position: absolute;
}

.libraryTitle {
	width: 100%;
	height: 40px;
	max-height: 30%;
	bottom: 0px;
	text-align: center;
	vertical-align: bottom;
	font-size: 14pt;
	color: white;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
}

.libraryIcon {
	width: 8%;
	position: absolute;
	right: 1%;
	top: 1%;
}

.libraryRemove {
	width: 8%;
	position: absolute;
	left: 1%;
	bottom: 2%;
	z-index: 4;
}

.libraryAdd {
	width: 5%;
	position: absolute;
	right: 1%;
	bottom: 2%;
	z-index: 4;
}

.library-dialog {
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	background-color: rgba(40, 40, 40, 0.8);
	border-color: #C0C0C0;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px;
	width: 90%;
	height: 90%;
}

.library-close-button {
	background-image: url(../icons/dialog-cancel.svg);
	right: 50px;
}

.library-favorite-button {
	display: inline-block;
}

.library-content {
}

.library-item {
	margin-left: 1%;
	margin-top: 1%;
	width: 97%;
	max-height: 90%;
	vertical-align: center;
}

.video-dialog {
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-color: #282828;
	width: 100%;
	height: 100%;
}

.video-close-button {
	background-image: url(../icons/dialog-cancel.svg);
	right: 50px;
}

.video-favorite-button {
	display: inline-block;
}

.video-item {
	margin-left: 1%;
	margin-top: 1%;
	width: 97%;
	max-height: 90%;
	vertical-align: center;
}

.video-title {
	display: inline-block;
	max-width: 70%;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 16pt;
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.module-icon {
	position: absolute;
	left: 10px;
	background-image: url(../icons/library.svg);
	width: 49px;
	height: 49px;
}

.module-dialog {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 95%;
	max-width: 400px;
	height: 95%;
	max-height: 180px;
	background-color: #ffffff;
	border: 2px solid #808080;
}

.module-text {
	position: absolute;
	font-size: 16pt;
	left: 80px;
	top: 20px;
	color: white;
	word-wrap: break-word;
}

.module-cancel-button {
	background-image: url(../icons/dialog-cancel.svg);
	position: absolute !important;
	top: 5px;
	right: 60px;
	width: 35px !important;
	height: 35px !important;
}

.module-ok-button {
	background-image: url(../icons/dialog-ok.svg);
	position: absolute !important;
	top: 5px;
	right: 15px;
	width: 35px !important;
	height: 35px !important;
}

.server-message {
	margin-left: 10px;
	margin-top: 20px;
	vertical-align: bottom;
	font-size: 12pt;
	color: black;
	height: 24px;
	display: inline-block;
}

.server-httplabel {
	margin-left: 15px;
	margin-top: 16px;
	color: black;
	display: inline-block;
	vertical-align: middle;
}

.server-servername {
	display: inline-block;
	width: 275px;
	margin-top: 16px;
	vertical-align: middle;
}

.server-notice {
	width: 165px;
	margin-left: 195px;
}

#search {
	position: absolute;
	margin-top: 8px;
	margin-left: 30px;
	display: inline-block;
}

.search-field-border {
	border-radius: 22px;
	top: 5px;
	width: 350px;
	height: 35px;
	display: inline-block;
}

.search-field-border-focus {
	background-color: white;
	border: 2px solid white;
}

.search-field-border-nofocus {
	background-color: #e5e5e5;
	border: 2px solid #e5e5e5;
}

.search-field-iconsearch {
	position: absolute;
	background-image: url(../icons/entry-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	top: 5px;
	left: 2px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.search-field-iconcancel {
	position: absolute;
	background-image: url(../icons/entry-cancel.svg);
	background-repeat: no-repeat;
	background-position: center;
	top: 5px;
	right: 10px;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.search-field-input {
	opacity: 1;
	margin-left: 30px;
	border: 0px;
	display: inline-block;
	background-color: #e5e5e5;
	width: 270px;
	line-height: 22px;
	outline: 0;
	font-size: 10pt;
}

.search-field-input:focus {
	background-color: white;
}

.search-field-input:disabled {
	border-color: #808080;
	background-color: #808080;
}

.filter-item {
	color: white;
	font-size: 12pt;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

@media screen and (max-width: 480px) {
	.itemTitle {
		font-size: 9pt;
	}

	.libraryTitle {
		font-size: 9pt;
	}

	.video-title {
		max-width: 50%;
	}
}

@media screen and (min-width: 481px) and (max-width: 640px) {
	.itemTitle {
		font-size: 11pt;
	}

	.libraryTitle {
		font-size: 11pt;
	}

	.video-title {
		max-width: 50%;
	}
}

@media screen and (min-width: 641px) and (max-width: 820px) {
	.itemTitle {
		font-size: 14pt;
	}

	.libraryTitle {
		font-size: 14pt;
	}
}

@media screen and (max-width: 880px) {
	#search {
		visibility: hidden;
	}

	#searchField {
		width: 10px;
	}
}

@media screen and (device-width: 1200px) and (device-height: 900px) {
	.viewer-footer {
		height: 75px;
	}
}
