* {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#btn-next {
  background-image: url(../assets/themeChanger.svg);
}

/*Add image to fullscreen/unfullscreen button*/
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.icon-button {
	color: white;
}

.tutorial-prev-icon.icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.icon-button {
	color: white;
}

.tutorial-next-icon.icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.icon-button {
	color: white;
}

.tutorial-end-icon.icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.icon-tutorial-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}

.web-activity-icon {
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
}

.icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 8%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

.blockrain-game-holder {
  position: relative;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 140%;
  overflow-y: auto;
  overflow-x: auto;
}


@media only screen and (min-width: 500px) {

	.blockrain-game-holder {
	  border-left: 1px solid black;
	  border-right: 1px solid black;
	}
}

/* Touch Controls */
.blockrain-touch {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
  border: 1px solid black;
  background: rgba(255,255,255,0.2);
  z-index: 10;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  line-height: 50px;
  text-align: center;
}

.blockrain-touch:active {
  background: rgba(255,255,255,0.3);
}

.blockrain-touch-left {
  left: -60px;
  bottom: 10px;
}

/* Buttons */
.blockrain-btn {
  position: relative;
  display: inline-block;
  background: none;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  cursor: default;
}

.blockrain-btn::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  transition: all 0.2s ease;
}

.blockrain-btn::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 100%;
  bottom: 0px;
  right: 0px;
  border: 2px solid #ffffff;
  border-left: none;
  border-bottom: none;
  transition: all 0.2s ease;
}

.blockrain-btn:hover::before {
  left: 5px;
  bottom: -8px;
  right: -8px;
}

.blockrain-btn:hover::after {
  top: 5px;
  bottom: -8px;
  right: -8px;
}

/* Score */
.blockrain-score-holder {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.blockrain-score-msg {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 0.2em;
}

.blockrain-score-num {
  font-size: 20px;
  font-weight: bold;
}

/* High Score */
.blockrain-Hscore-holder {
  position: absolute;
  top: 20px;
  left: 15px;
  text-align: left;
}
.blockrain-Hscore-msg {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 0.2em;

}
.blockrain-Hscore-num {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* Menu */
.blockrain-start-holder, .blockrain-game-over-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0,0,0,0.8);
  text-align: center;
}

.blockrain-start, .blockrain-game-over {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.blockrain-start-msg, .blockrain-game-over-msg {
  font-size: 18px;
  margin-bottom: 30px;
}


@media only screen and (min-width: 500px) {
  #canvas {
    width: 65vw;
    right: 17.5vw;
    left: 17.5vw;
  }
}
@media only screen and (min-width: 800px) {
  #canvas {
    width: 50vw;
    right: 25vw;
    left: 25vw;
  }
}
@media only screen and (min-width: 1100px) {
  #canvas {
    width: 40vw;
    right: 30vw;
    left: 30vw;
  }
}

/*Adjusted unfullscreen button position so it won't overlap with the activity container*/
@media only screen and (max-width: 500px) {
  #canvas {
    width: 100vw;
    height: 70vh;
  }
  #unfullscreen-button
  {
    top: 70%;
    right: 3%;
  }
}

