<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Pawn Activity</title>
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
	<link rel="prefetch" type="application/l10n" href="locale.ini" />
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-200dpi.css">
	<link rel="stylesheet" href="css/activity.css">
	<link rel="stylesheet" href="css/libnotify.css">
	<link rel="stylesheet" href="css/bootstrap-tour-standalone.min.css">
	<script src="lib/vue.min.js"></script>
	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap-tour-standalone.min.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="lib/require.js"></script>
</head>

<body>
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button"></sugar-toolitem>
			<sugar-toolitem splitbar></sugar-toolitem>

			<!-- Add more buttons here -->
			<sugar-toolitem 
				id="add-button"
				v-bind:title="l10n.stringAddPawn"
				palette-file="js/palettes/pawnpalette.js"
				palette-class="PawnPalette"
				palette-title="Add Pawn"
				palette-event="pawn-click"
				v-on:pawn-click="onAddClick"
			></sugar-toolitem>
			<sugar-toolitem id="insert-button" v-on:click="insertBackground" title="Change Background"></sugar-toolitem>
			<sugar-toolitem 
				id="network-button" 
				title="Network"
				palette-file="sugar-web/graphics/presencepalette" 
				palette-class="PresencePalette"
				palette-event="shared"
				v-on:shared="SugarPresence.onShared"
				v-if="SugarPresence"
			></sugar-toolitem>
			<!-- Toolitems with class="pull-right" will be right aligned -->
			<sugar-toolitem id="stop-button" title="Stop" class="pull-right" v-on:click="onStop"></sugar-toolitem>
			<sugar-toolitem v-if="$refs.SugarToolbar ? !$refs.SugarToolbar.isHidden() : true" v-on:click="fullscreen" id="fullscreen-button" v-bind:title="l10n.stringFullscreen" class="pull-right"></sugar-toolitem>
			<sugar-toolitem v-else v-on:click="unfullscreen" id="unfullscreen-button" v-bind:title="l10n.stringUnfullscreen" class="pull-right"></sugar-toolitem>
			<sugar-toolitem id="help-button" title="Tutorial" class="pull-right" v-on:click="onHelp"></sugar-toolitem>
		</sugar-toolbar>

		<div id="user">
			<h1>{{ displayText }}</h1>
		</div>
		<div id="pawns">
			<pawn class="pawn" v-for="pawn in pawns" v-bind:key="pawn" v-bind:colors="pawn"></pawn>
		</div>

		<sugar-activity ref="SugarActivity" v-on:initialized="initialized"></sugar-activity>
		<sugar-journal ref="SugarJournal" v-on:journal-data-loaded="onJournalDataLoaded"></sugar-journal>
		<sugar-localization ref="SugarL10n"></sugar-localization>
		<sugar-presence ref="SugarPresence" v-on:data-received="onNetworkDataReceived" v-on:user-changed="onNetworkUserChanged"></sugar-presence>
		<sugar-tutorial ref="SugarTutorial"></sugar-tutorial>
		<sugar-popup ref="SugarPopup"></sugar-popup>
	</div>

	<script src="js/Pawn.js"></script>
	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarToolbar.js"></script>
	<script src="js/components/SugarJournal.js"></script>
	<script src="js/components/SugarL10n.js"></script>
	<script src="js/components/SugarPresence.js"></script>
	<script src="js/components/SugarTutorial.js"></script>
	<script src="js/components/SugarPopup.js"></script>
	<script src="js/activity.js"></script>
</body>

</html>