<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>My Vue Activity</title>
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover" />
	<link rel="prefetch" type="application/l10n" href="locale.ini" />
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)"
		href="lib/sugar-web/graphics/css/sugar-200dpi.css">
	<link rel="stylesheet" href="css/activity.css">
	<link href="css/xocolor.css" rel="stylesheet" type="text/css">
	<script src="lib/vue.min.js"></script>
	<script src="lib/axios.min.js"></script>
	<script src="lib/require.js"></script>
	<script type="text/javascript" src="../../cordova.js"></script>
</head>

<body id="body">
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button"></sugar-toolitem>

			<sugar-toolitem id="playpause-button" @click="onPlayPause" v-bind:title="l10n.stringPause"></sugar-toolitem>
			<sugar-toolitem id="zoom-button"
				palette-file="js/palettes/zoompalette.js"
				palette-class="ZoomPalette"
				palette-title="Zoom"
				palette-event="zoom"
				@zoom="onZoom"
				v-bind:title="l10n.stringZoom"
			></sugar-toolitem>

			<!-- Toolitems with class="pull-right" will be right aligned -->
			<sugar-toolitem id="stop-button" title="Stop" class="pull-right"></sugar-toolitem>
			<sugar-toolitem v-if="$refs.SugarToolbar ? !$refs.SugarToolbar.isHidden() : true" v-on:click="fullscreen" id="fullscreen-button" v-bind:title="l10n.stringFullscreen" class="pull-right"></sugar-toolitem>
			<sugar-toolitem v-else v-on:click="unfullscreen" id="unfullscreen-button" v-bind:title="l10n.stringUnfullscreen" class="pull-right"></sugar-toolitem>
		</sugar-toolbar>

		<div id="grid" :class="{fullscreen:($refs.SugarToolbar?$refs.SugarToolbar.isHidden():false),grid:true}">
			<div id="message" class="message"></div>
			<activity-icon v-for="(icon) in gridContent" :key="icon.id"
				v-bind:name="icon.name"
				v-bind:svg="icon.svg"
				v-bind:color="icon.color"
				v-bind:size="icon.size">
			</activity-icon>
		</div>

		<sugar-localization ref="SugarL10n" v-on:localized="localized"></sugar-localization>
		<sugar-activity ref="SugarActivity"></sugar-activity>
	</div>

	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarToolbar.js"></script>
	<script src="js/components/SugarL10n.js"></script>
	<script src="js/activity-icon.js"></script>
	<script src="js/activity.js"></script>
</body>

</html>
