#canvas{
	display: flex;
	flex-direction: column;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #easy-button {
  background-image: url(../icons/easy.svg);
}

#main-toolbar #medium-button {
  background-image: url(../icons/medium.svg);
}

#main-toolbar #hard-button {
  background-image: url(../icons/hard.svg);
}

#main-toolbar #small-size-button {
  background-image: url(../icons/small-size.svg);
}

#main-toolbar #medium-size-button {
  background-image: url(../icons/med-size.svg);
}

#main-toolbar #large-size-button {
  background-image: url(../icons/large-size.svg);
}

.diff-container{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	width:100vw;
}

.difficulty{
	height:6vh;
	width:20vw;
	margin:3vh;
	/*background: #ff7420;*/
	background: #ff9f58;
	border-radius:22px;
	color:white;
	font-size: 3vh;
	text-align: center;
	line-height: 6vh;
	font-weight: bold;
}

.smiley{
	height:6vh;
	width:6vh;
	/*background: url('../icons/smile-emoji.png');*/
	background-color: #808080;
	background-size:cover;
	border:2px outset white;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.smiley:active{
	border:2px inset white;
}

.smiley > img{
	height:4.5vh;
	width:4.5vh;
}

.dead-emoji{
	display:none;
}

.table-container{
	display:flex;
	justify-content: space-around;
	margin:1vh;
}

input{
	height:3vh;
	font-size: 2vh;
}

button{
	font-size: 2vh;
	height:3vh;
	width:5vw;
}

td{	
	height:6vh;
	width:6vh;
	background:#808080;
	border:2px outset white;
	color:rgba(0,0,0,0);
	text-align: center;
	font-size:3vh;
}

td:active{
	border:2px inset white;
}

td > img{
	height:4vh;
	width:4vh;
}

.open{
	background: #a9a9a9;
	color:rgba(0,0,0,1);
}

img{
	height:15px
}