#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#iframe_users_page{
width:100%;
height:100%;
}

#accelerometer {
display: none;
}

#camera {
display: none;
}

#dialog {
display: none;
}

#device {
display: none;
}

#network {
display: none;
}

#globalization {
display: none;
}