#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#main-toolbar #export-csv-button {
  background-image: url(../icons/save-as-csv.svg);
}

/*Add image to fullscreen/unfullscreen button*/
#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}
body{
  overflow: hidden;
}
#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin:1px;
  width: 45px;
  height: 45px;
  top: 0;
  right: 1%;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

.palette {
  color: black;
}
.palette label {
  color: white;
  font-size: 1.3rem;
}
.toolbar input[type='text'],
.palette .row input[type='text']{
  margin-bottom: 8px;
}
input[type='text'].expand{
  width: 100%;
}
textarea.expand {
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
}
.palette .row{
  height: auto;
}
.palette .row.small{
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.d-flex{
  display: flex !important;
  padding: 0 15px;
}

.justify-content-center{
  justify-content: center !important;
}

.align-items-center{
  align-items: center !important;
}

div.p-0{
  padding: 0;
}

#stopwatch-app {
  text-align: center;
  margin: 0 55px;
}

#stopwatch-list {
  text-align: left;
  margin-top: 11px;
  margin-bottom: 11px;
}

#stopwatch-list li {
  position: relative;
  border-bottom: 1px solid black;
}

#stopwatch-list li p {
  line-height: 1.2;
}

.marks {
  font-size: 28px;
}

.counter {
  font-weight: bold;
  font-size: 30px;
}

.buttons-group button {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

.buttons-group button:first-child {
  border-radius: 22px 0 0 22px;
  margin-right: 0;
}

.buttons-group button:last-child {
  border-radius: 0 22px 22px 0;
  margin-left: 0;
}

button.remove {
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-size: 44px 44px;
  background-repeat: no-repeat;
  background-image: url(../icons/list-remove.svg);
  border: 0;
  border-radius: 0;
}

#add-stopwatch {
  width: 168px;
  height: 84px;
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-image: url(../icons/list-add.svg);
}

/* Only for stopwatch */
.buttons-group button {
  margin-top: 5.5px;
  height: 66px;
  width: 66px;
  padding: 0;
  background-position: center;
  background-size: 44px 44px;
  background-repeat: no-repeat;
}

.buttons-group button:first-child {
  padding-left: 11px;
}

.buttons-group button:last-child {
  padding-right: 11px;
}

.buttons-group button.start {
  background-image: url(../icons/media-playback-start.svg);
}

.buttons-group button.stop {
  background-image: url(../icons/media-playback-pause.svg);
}

.buttons-group button.reset-button {
  background-image: url(../icons/media-playback-reset.svg);
}

.buttons-group button.mark-button {
  background-image: url(../icons/edit-mark.svg);
}

.buttons-group button.clear-marks-button {
  background-image: url(../icons/edit-clear.svg);
}

/* UI styling for introJs-tutorial */

.introjs-overlay {
  background-color: #000 !important;
  opacity: .8 !important;
}

.introjs-tooltip {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
  border-radius: 6px !important;
  padding: 2px 1px !important;
  font-size: 14px !important;
}

.introjs-helperLayer{
  background: inherit !important;
  opacity: 0.6 !important;
}

.customTooltip .introjs-tooltip-header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color : #ffffff;
  text-shadow: none;
  background-color: #808080;
  margin: 0;
  padding: 0px 10px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.customTooltip .introjs-tooltip-title {
  font-size: 14px;
  padding: 0px 8px;
  font-weight: 800;
  color: white;
}

.customTooltip .introjs-tooltiptext {
  color: #000000;
  line-height: 1.42857143;
}

.customTooltip .introjs-skipbutton {
  float: right;
  cursor: pointer;
  background-image: url(../icons/dialog-cancel.svg);
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-top: 2px;
  padding: 0px;
  white-space: nowrap;
  color: transparent;
  line-height: 27px;
}

.customTooltip .introjs-nextbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-prevbutton::before {
  content: "";
  margin-right: 6px;
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.customTooltip .introjs-tooltipbuttons {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 0px;
  padding: 0px;
  text-align: center;
  white-space: normal;
}

.customTooltip .introjs-button {
  text-shadow: none;
  border-radius: 22px;
  margin: 5px 8px 8px 8px;
  width: fit-content;
  background-color: #808080 !important;
  display: flex !important;
  align-items: center !important;
  color: white !important;
  padding: 6px 20px 6px 10px;
  border: 0px;
}

.customTooltip .introjs-button:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
  background-color: #808080 !important;
}

.customTooltip .introjs-disabled {
  color: black !important;
  border: 0px;
  opacity: .65;
}

.customTooltip .introjs-disabled:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  box-shadow: 0 0 0 0rem rgba(158, 158, 158, .5);
  border: 0px;
}

.web-activity-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
}

.icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

.popover {
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
}

.popover-title {
  font-size: 14px;
  border-radius: 5px 5px 0 0
}

.popover-content {
  color: #000000;
}

.popover-navigation{
  overflow: hidden;
}



/* Below code is used to make responsive changes */

@media only screen and (max-width: 1130px) and (min-width: 767px){
  .marks{
    font-size: 26px;
  }
}

@media only screen and (max-width: 1060px) and (min-width: 767px){
  .marks{
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 767px){
  .buttons-group button {
    height: 42px;
    width: 42px;
    background-size: 32px 32px;
  }
  .counter, .marks {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px){
  .d-flex{
    width: 100%;
  }
}

@media only screen and (max-width: 484px){
  button.remove {
    margin-right: 0;
  }
  .buttons-group button {
    height: 42px;
    width: 42px;
    background-size: 32px 32px;
  }
  .counter, .marks {
    font-size: 22px;
  }
  #stopwatch-app {
    margin: 0 10px;
  }
}
