#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-game {
  background-image: url(../icons/new-game.svg);
}

#main-toolbar #undo {
  background-image: url(../icons/edit-undo.svg);
}

#main-toolbar #redo {
  background-image: url(../icons/edit-redo.svg);
}

#main-toolbar #easy {
  background-image: url(../icons/easy-level.svg);
}

#main-toolbar #medium {
  background-image: url(../icons/medium-level.svg);
}

#main-toolbar #hard {
  background-image: url(../icons/hard-level.svg);
}

#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 10px;
  right: 15px;
  position: absolute;
  visibility: hidden;
}

#replay {
  background-image: url(../icons/replay-game.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

.splitbar {
  background-image: url(../icons/split.svg);
  background-position: center;
  background-repeat: no;
  width: 3px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 45px;
  display: inline-block;
  vertical-align: bottom;
}

#canvas{
  background-color: #5959B3;
}

#canvasDiv {
  text-align: center;
  margin-top: 20px;
}

#mainCanvas {
  background-color: #5959B3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 775px)
{
  .warningbox-refresh-button {
    position: absolute;
    right: 10px;
    width: 210px;
    float: right;
    text-align: center;
    padding-left: 10px;
    padding-right: 40px;
    font-size:15px;
  }

}
@media screen and (max-width: 774px)
{
  .warningbox-refresh-button {
    position: absolute;
    right: 10px;
    width: 140px;
    float: right;
    text-align: center;
    padding-left: 10px;
    font-size:15px;
  }

}

.tutorial-title {
  background-color: #808080 !important;
  color: #ffffff !important;
}

.tutorial-prev-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-prev-icon.icon-button {
  color: white;
}

.tutorial-prev-icon.icon-button.disabled {
  color: black;
}

.tutorial-prev-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-prev-icon2 {
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-prev-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-next-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-next-icon.icon-button {
  color: white;
}

.tutorial-next-icon.icon-button.disabled {
  color: black;
}

.tutorial-next-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-next-icon2 {
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-next-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-end-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-end-icon.icon-button {
  color: white;
}

.tutorial-end-icon.icon-button.disabled {
  color: black;
}

.tutorial-end-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-end-icon2 {
  background-image: url(../icons/dialog-cancel.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-end-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.icon-tutorial-text {
  margin-top: 7px;
  padding-left: 4px;
  padding-right: 38px;
  display: inline-block;
}

.web-activity-icon {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
}

.icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

@media screen and (max-width: 770px) {
  .toolbar {
    padding-left: 8px;
  }
  .splitbar {
    display: none;
  }
}
@media screen and (min-width: 771px) {
  .toolbar {
    padding-left: 57px;
  }
  .splitbar {
    display: inline-block;
  }
}