#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-game {
  background-image: url(../icons/new-game.svg);
}

#main-toolbar #undo {
  background-image: url(../icons/edit-undo.svg);
}

#main-toolbar #redo {
  background-image: url(../icons/edit-redo.svg);
}

#main-toolbar #easy {
  background-image: url(../icons/easy-level.svg);
}

#main-toolbar #medium {
  background-image: url(../icons/medium-level.svg);
}

#main-toolbar #hard {
  background-image: url(../icons/hard-level.svg);
}

#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 10px;
  right: 15px;
  position: absolute;
  visibility: hidden;
}

.splitbar {
  background-image: url(../icons/split.svg);
  background-position: center;
  background-repeat: no;
  width: 3px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 45px;
  display: inline-block;
  vertical-align: bottom;
}

#canvas{
  background-color: #5959B3;
}

#canvasDiv {
  text-align: center;
  margin-top: 20px;
}

#mainCanvas {
  background-color: #5959B3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}