#game-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-main {
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-footer {
  width: 98%;
  height: 12%;
  display: flex;
  justify-content: space-between;
}

#floating-info-block {
  z-index: 0;
  position: absolute;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}

#floating-game-over-block {
  z-index: 0;
  position: absolute;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

#floating-celebration-block {
  z-index: 0;
  position: absolute;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.floating-block {
  z-index: 0;
  position: absolute;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
}

.detail-block {
  width: 47%;
  height: 90%;
  border: 2px solid black;
  border-radius: 5px;
  font-size: min(3.5vh, 3.5vw);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.detail-block-logo {
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.detail-block-content {
  height: 100%;
  width: 50%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.detail-block-content div {
  width:90%;
  word-wrap: break-word;
  text-align: center;
}

.score-title {
  width: 65%;
}

.score-val {
  width: 35%;
}

.tangram-name {
  width: 100%;
}

.clock-logo {
	background-image: url(../icons/clock.svg);
}

.detil-block-content {
	width: 50%;
}


.gameOver-block {
  width: 85%;
  height: 15%;
  border: 2px solid black;
  border-radius: 5px;
  font-size: min(3.5vh, 3.5vw);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.gameOver-block-logo {
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gameOver-block-content {
  height: 100%;
  width: 50%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.gameOver-block-content div {
  width:90%;
  word-wrap: break-word;
  text-align: center;
}

.hintsUsed-title {
  width: 65%;
}

.hintsUsed-val {
  width: 35%;
}

.emoji-won-block{
  height: 40%;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  background-image: url(../icons/smile.svg);
}

.emoji-lost-block{
  height: 40%;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  background-image: url(../icons/sad.svg);
}

/*.pulse {
  animation: pulse 0.5s 1;
}

@keyframes pulse {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}*/

.pulse {
	-webkit-animation: pulse 0.8s ease both;
	        animation: pulse 0.8s ease both;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotate {
	-webkit-animation: rotate 0.6s ease-in-out both;
	        animation: rotate 0.6s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-27 1:20:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate
 * ----------------------------------------
 */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}




.tangram-name {
  overflow: hidden;
}

.tangram-name-content {
  overflow: hidden;
}

.tangram-difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3vh;
}
