#setting-editor-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.setting-editor-main {
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box2 {
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}

.setting-editor-sidebar {
  width: 29.5%;
  height: 96%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1.5vw;
}

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2vw solid transparent;
  border-right: 2vw solid white;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  left: -4vw;
}

.setting-editor-sidebar-element {
  width: 90%;
  height: 10%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(3vh, 3vw);
  color: black;
}

.setting-editor-sidebar form {
  width: 90%;
}

.setting-editor-sidebar form label {
	font-size: min(2.5vh, 2.5vw);
	display: block;
  margin: 0.5vw;
}
.setting-editor-sidebar form input {
	width: 90%;
  height: 10%;
  margin: 0.5vw;
  font-size: min(2.5vh, 2.5vw);
}

.valid-shape-display svg {
  width: 100%;
  height: 100%;
}

.setting-editor-footer {
  width: 98%;
  height: 12%;
  display: flex;
  justify-content: space-between;
}

.btn-save {
  background-image: url(../icons/save.svg);
}
