
#main-toolbar #activity-button {
  background-image: url(activity/activity-icon.svg);
}

@font-face {
	font-family: Cursive-standard;
	src: url('Cursive-standard.ttf');
}

.main  {
	background-color: white;
}

.logo {
	margin-top: 200px;
	margin-left: 270px;
}

.instrument {
	position: absolute;
	left: 20px;
	top: 20px;
}

.letter {
	position: absolute;
	left: 150px;
	top: 50px;
	font-size: 44px;
}

.learnButton {
	margin-top: 50px;
	margin-left: 300px;
}

.playButton {
	margin-top: 50px;
	margin-left: 150px;
}

.buildButton {
	margin-top: 50px;
	margin-left: 150px;
}

.creditButton {
	position: absolute;
	top: 50px;
	right: 50px;
}

.board {
	width: 1200px;
	background-color: white !important;
}

.colorBar {
	position: absolute;
	width: 1210px;
	height: 80px;
	z-index: -1;
	left: -10px;
	top: -10px;
}

.slideshow {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 560px;
	top: 10px;
}

.switchCase {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1050px;
	top: 10px;
}

.switchCaseButton {
	width: 50px;
	height: 50px;
}

.switchLang {
	position: absolute;
	left: 1120px;
	top: 10px;
}

.switchLangButton {
	width: 50px;
	height: 50px;
}

.backButton {
	width: 50px;
	margin-top: 5px;
}

.pageCount {
	font-size: 26px;
	position: absolute;
	left: 565px;
	top: 75px;	
	text-align: center;
}

.prevButton {
	position: absolute;
	width: 50px;
	left: 5px;
	top: 350px;
}

.nextButton {
	position: absolute;
	width: 50px;
	left: 1110px;
	top: 350px;
}

.itemLetter {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
	z-index: 0;		
}

.itemLetter-selected {
	border: thin solid;
	border-width: 4px;
	border-color: blue;
}

.spinner {
	margin-left: 80px;
	margin-top: 80px;
	margin-right: 80px;
	margin-bottom: 80px;
}

.spinner-small {
	margin-left: 80px;
	margin-top: 10px;
}

.box-4-entry {
	padding-left: 30px;
	padding-top: 50px;
}

.entry {
	border-width: 5px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 5px -4px 4px 2px black;
	width: 220px;
	height: 220px;
	background-color: white;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 30px;
	z-index: 0;
	-webkit-user-select: none;
	user-select: none;		
}

.entryImage {
	width: 70%;
	margin-top: 10px;
	margin-left: 35px;
}

.entryImageOnly {
	margin-top: 30px;
}

.entryText {
	font-size:30px;
	text-align: center;
	padding: 3px;
}

.entryTextOnly {
	margin-top: 80px;
}

.entryText0 {
	font-size: 30px;
}

.entryText1 {
	font-size: 28px;
}

.entryText2 {
	font-size: 30px;
	font-family: Cursive-standard;
}

.entrySoundIcon {
}

.entrySoundIconOnly {
	margin-left: 60px;
	margin-top: 60px;
}

.entrySound {
	width: 50px;
}

.box-4-collection {
	padding-left: 100px;
	padding-top: 100px;
}

.collection {
	border-width: 2px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 2px -2px 2px 1px black;
	width: 250px;
	margin-left: 30px;
	margin-top: 30px;
	z-index: 0;
	-webkit-user-select: none;
	user-select: none;	
	display: inline-block;
}

.itemCollection-selected {
	border-color: blue;
	color: blue;
}

.collectionImage {
	width: 30%;	
	vertical-align: middle;
	display: inline-block;	
}

.collectionText {
	margin-left: 10px;
	text-align: center;
	padding: 3px;
	display: inline-block;	
}

.collectionText0 {
	font-size: 22px;
}

.collectionText1 {
	font-size: 18px;
}

.collectionText2 {
	font-size: 26px;
	font-family: Cursive-standard;
}

.box-4-theme {
	padding-left: 60px;
	padding-top: 50px;
}

.theme {
	border-width: 5px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 5px -4px 4px 2px black;
	width: 220px;
	background-color: white;
	z-index: 0;
	-webkit-user-select: none;
	margin-left: 10px;
	margin-right: 25px;
	margin-top: 60px;
	margin-bottom: 80px;
	display: inline-block;	
	user-select: none;		
}

.itemTheme-selected {
	border-color: blue;
	color: blue;
}

.themeImage {
	width: 70%;
	margin-top: 10px;
	margin-left: 35px;
}

.themeText {
	text-align: center;
	padding: 5px;
}

.themeText0 {
	font-size: 30px;
}

.themeText1 {
	font-size: 28px;
}

.themeText2 {
	font-size: 36px;
	font-family: Cursive-standard;
}

.themeColor-1 {
	background-color: #ffffff;
}

.themeColor0 {
	background-color: #ffffc0;
}

.themeColor1 {
	background-color: #c0ffc0;
}

.themeColor2 {
	background-color: #c0ffff;
}

.themeColor3 {
	background-color: #ffc0c0;
}

.themeColor4 {
	background-color: #b17f46;
}

.playbox {
	margin-left: 150px;
	margin-top: 90px;
}

.play-type-button {
	border-width: 2px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 2px -2px 2px 1px black;
	margin-left: 40px;
	margin-top: 40px;
	z-index: 0;
	-webkit-user-select: none;
	user-select: none;	
	display: inline-block;
}

.play-button-color1 {
	background-color: #4040ff;
}

.play-button-color2 {
	background-color: #ff4040;
}

.play-button-color3 {
	background-color: #ff80ff;
}

.themeColor5 {
	background-color: #4040ff;
}

.themeColor6 {
	background-color: #ff4040;
}

.themeColor7 {
	background-color: #ff80ff;
}

.playtypeImageFrom {
	padding: 10px;
}

.playtypeImageArrow {
	padding: 10px;
}

.playtypeImageTo {
	padding: 10px;
}

.entryPlayFrom {
	display: block;
	margin-top: 50px;
	margin-left: 310px;
}

.entryPlayTo {
	margin-top: 20px;
	margin-left: 40px;
}

.entryPlaySelected {
	border-color: blue;
	color: blue;
}

.entryPlayWrong {
	background-color: red;
}

.entryPlayRight {
	background-color: green;
}

.itemCount {
	font-size: 26px;
	position: absolute;
	left: 565px;
	top: 105px;	
	text-align: center;
}

.checkButton {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1010px;
	top: 520px;
}

.filterBox {
	padding-left: 5px;
}

.filterButton {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 80px;
	top: 13px;
}

.filterLetter {
	position: absolute;
	left: 5px;
	top: 90px;
}

.filterCollection {
	position: absolute;
	left: -25px;
	top: 60px;
}

.filter-popup {
	width: 1080px;
	height: 600px;
	color: black;
}

.trashButton {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1000px;
	top: 545px;
}

.credits-popup {
	width: 880px;
	height: 680px;
	color: black;
}

.credit-image {
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 220px;
	height: 220px;
}

.credit-title {
	font-size: 26px;
	margin-top: 10px;
	margin-left: 270px;
	color: white;
}

.credit-name {
	font-size: 16px;
	margin-left: 300px;	
	color: white;
}

.networkIcon {
	position: absolute;
	top: 530px;
	right: 50px;
}

.network-popup {
	width: 880px;
	height: 200px;
	color: black;
}

.networkbImage {
	position: absolute;
	top: 40px;
	left: 10px;
}

.networkValue {
	position: absolute;
	left: 100px;
	margin-top: 35px;
	font-size: 38px;
	width: 760px;
}

.checkwButton {
	position: absolute;
	bottom: 10px;
	right: 30px;
}
