#canvas {
  background-color: #a3e84f;
  font-weight: bold;
  font-size: 25px;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #undo-button {
  background-image: url(../icons/edit-undo.svg);
}

#main-toolbar #color-button {
  background-image: url(../icons/switch-color.svg);
}

#main-toolbar #new-button {
  background-image: url(../icons/new-game.svg);
}

#main-toolbar #level-button {
  background-image: url(../icons/robot.svg);
}

#main-toolbar #clock-button {
  background-image: url(../icons/timer-0.svg);
}

#main-toolbar #help-button {
  background-image: url(../icons/help.svg);
}

#main-toolbar #network-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#private-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

#shared-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

#fullscreen-button {
  background-image: url(../icons/view-fullscreen.svg);
}

#unfullscreen-button {
  background-image: url(../icons/view-return.svg);
  border: 0;
  border-radius: 0px;
  margin: 1px;
  width: 45px;
  height: 45px;
  top: 5px;
  right: 3%;
  position: fixed;
  visibility: hidden;
  z-index: 3;
}

#chess-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#play-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 97%;
  text-align: center;
  padding-top: 5px;
  vertical-align: middle;
}

#board {
  width: 50%;
}

#chess-panel {
  width: 35%;
  position: relative;
  height: 40vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  background-color: #b58863;
  margin-left: 1%;
  margin-top: 0px;
}

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 90%;
  margin: 5%;
}

#moves-container {
  height: 50%;
  width: 90%;
  overflow: auto;
  margin: 5%;
  background-color: #f0d9b5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#moves-container li {
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left;
  z-index: -1;
  height: 40px;
}

.bB {
  background-image: url(../img/chesspieces/wikipedia/bB.png);
}

.bK {
  background-image: url(../img/chesspieces/wikipedia/bK.png);
}

.bN {
  background-image: url(../img/chesspieces/wikipedia/bN.png);
}

.bP {
  background-image: url(../img/chesspieces/wikipedia/bP.png);
}

.bQ {
  background-image: url(../img/chesspieces/wikipedia/bQ.png);
}

.bR {
  background-image: url(../img/chesspieces/wikipedia/bR.png);
}

.wB {
  background-image: url(../img/chesspieces/wikipedia/wB.png);
}

.wK {
  background-image: url(../img/chesspieces/wikipedia/wK.png);
}

.wN {
  background-image: url(../img/chesspieces/wikipedia/wN.png);
}

.wP {
  background-image: url(../img/chesspieces/wikipedia/wP.png);
}

.wQ {
  background-image: url(../img/chesspieces/wikipedia/wQ.png);
}

.wR {
  background-image: url(../img/chesspieces/wikipedia/wR.png);
}

#opponent-clock {
  height: 30%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#flagDiv {
  background-color: #f0d9b5;
  height: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-clock {
  height: 30%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-style: solid;
}

.usrlogo {
  width: 30%;
  background-image: url(../icons/computer-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.usrtime {
  background-color: #f0d9b5;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutPiece {
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
}

#gameover-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (orientation: portrait) {
  #canvas {
    font-size: 18px;
  }

  #play-container {
    flex-direction: column;
  }

  #board {
    width: 50vw;
  }

  #chess-panel {
    width: 50vw;
    height: 30%;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 0px;
  }

  #info-container {
    height: 85%;
    width: 50%;
    margin: 3.5% 2%;
  }

  #moves-container {
    height: 85%;
    width: 50%;
    margin: 3.5% 2%;
  }

  #moves-container li {
    background-size: 30px;
    font-size: 14px;
  }

  #clock-box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  #board {
    width: 85vh;
  }

  #chess-panel {
    height: 85vh;
  }

  #clock-box {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-height: 600px) {
  #canvas {
    font-size: 15px;
  }
}

#color-button {
  display: none;
}

@media only screen and (min-width: 600px) {
  #color-button {
    display: inline-block;
  }
}

.palette-item {
  cursor: pointer;
  padding: 2px;
}

.selected {
  background-color: #808080;
}

.palette-item:hover {
  background-color: #808080;
}

.tutorial-icon-button {
  border-radius: 22px;
  margin-top: 5px;
  height: 35px;
  background-color: #808080;
  border: 2px solid #808080;
}

.tutorial-title {
  background-color: #808080 !important;
  color: #ffffff !important;
}

.tutorial-prev-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-prev-icon.tutorial-icon-button {
  color: white;
}

.tutorial-prev-icon.tutorial-icon-button.disabled {
  color: black;
}

.tutorial-prev-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-prev-icon2 {
  background-image: url(../icons/go-left.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-prev-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-next-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-next-icon.tutorial-icon-button {
  color: white;
}

.tutorial-next-icon.tutorial-icon-button.disabled {
  color: black;
}

.tutorial-next-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-next-icon2 {
  background-image: url(../icons/go-right.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-next-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-end-icon {
  display: inline-flex;
  width: 90px;
}

.tutorial-end-icon.tutorial-icon-button {
  color: white;
}

.tutorial-end-icon.tutorial-icon-button.disabled {
  color: black;
}

.tutorial-end-icon1 {
  margin-left: 6px;
  margin-top: 6px;
}

.tutorial-end-icon2 {
  background-image: url(../icons/dialog-cancel.svg);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.tutorial-end-icon3 {
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-color: white;
  margin-top: -20px;
}

.tutorial-icon-text {
  margin-top: 7px;
  padding-left: 4px;
  padding-right: 38px;
  display: inline-block;
}
