#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
	outline: none;
}

button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: white !important;
}

p {
	margin: 0.6em 0;
}

.toolbar {
	padding: 0 2%;
}

#canvas {
	background: white;
	overflow-x: hidden;
}

.chess-container {
	/* height: calc(100vh - 95px); */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding: 20px;
}

#opponent-info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 12px;
	color: #2c2c2c;
	text-align: center;
}
#opponent-info .player-icons {
	position: relative;
	width: fit-content;
}
#opponent-info #opponent-computer {
	height: 60px;
	width: 60px;
}
#opponent-info .buddy {
	height: 60px;
	width: 60px;
	background: url('../icons/owner-icon.svg');
	background-size: cover;
}
#opponent-info .pawn-icon {
	position: absolute;
	bottom: -5px;
	right: -15px;
	height: 30px;
}
#opponent-info span {
	font-size: 2em;
	font-weight: bold;
	margin: 0 10px;
}

#chessboard {
	width: 40%;
	/* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.55); */
}
#chessboard-tut {
	width: 30%;
}

.chess-info {
	position: relative;
	text-align: center;
	width: 20%;
	max-height: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	margin: 5px;
	padding: 20px;
	background: white;
}
.status-container {
	border-bottom: solid 1px rgb(223, 223, 223);
}
.move-list {
	text-align: left;
}
.chess-info .row {
	display: flex;
	padding: 10px 0;
	border-top: solid 1px rgb(223, 223, 223);
}
.chess-info #status {
	width: 100%;
	text-align: left;
	padding: 10px 0;
	font-weight: 600;
	border-right: solid 1px rgb(223, 223, 223);
}
.chess-info #status span {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}
.chess-info #check {
	width: 100%;
	padding: 10px;
	color: white;
	font-weight: 600;
}
.chess-info .danger {
	background-color: red;
	box-shadow: 0 5px 10px rgba(255,0,0,0.25);
}
.chess-info .title {
	font-size: 1.2em;
	font-weight: 600;
}
.chess-info .move-list {
	font-size: 1.1em;
	height: 30vh;
	overflow-y: auto;
}

.popup-bg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}
.popup {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: fit-content;
	height: fit-content;
	padding: 30px;
	font-size: 1.8em;
	font-weight: 700;
	background: white;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

@media screen and (max-width: 870px) {
	#chessboard, #chessboard-tut {
		width: 65%;
	}
	.moves-container {
		padding-left: 30px;
		width: 40%;
		border-left: solid 1px rgb(223, 223, 223);
	}
	.status-container {
		border-bottom: none;
	}
	.chess-info {
		width: 100%;
		padding: 5px;
		display: flex;
		justify-content: space-around;
	}
	.chess-info .move-list {
		font-size: 1em;
		height: 10vh;
	}
}

@media screen and (max-width: 620px) {
	.chess-container {
		padding: 0;
		padding-top: 10px;
		/* max-height: 92vh; */
	}
	.greeting {
		font-size: 1.2em;
	}
	#chessboard, #chessboard-tut {
		width: 95%;
	}
	
}

.splitbar {
	background-image: url(../icons/split.svg);
	background-position: center;
	background-repeat: no;
	width: 3px;
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 45px;
	display: inline-block;
	vertical-align: bottom;
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
	outline: none;
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 0;
	right: 5%;
	position: absolute;
	visibility: hidden;
	z-index: 5;
	outline: none;
}

#main-toolbar #restart-button {
	background-image: url(../icons/restart.svg);
	outline: none;
}

#main-toolbar #undo-button {
	background-image: url(../icons/edit-undo.svg);
	outline: none;
}

#main-toolbar #difficulty-button {
	background-image: url(../icons/robot-on.svg);
	outline: none;
}

#main-toolbar #settings-button {
	background-image: url(../icons/settings.svg);
	outline: none;
}

#main-toolbar #help-ui-button {
	background-image: url(../icons/help.svg);
	outline: none;
}

#main-toolbar #help-rules-button {
	background-image: url(../icons/help-rules.svg);
	outline: none;
}

#main-toolbar #stop-button {
	outline: none;
}

#main-toolbar #network-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}
#shared-button {
  background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
  width: 47px;
  height: 47px;
  margin: 4px 2px;
  color: white;
  color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 5.5px;
}

.palette .row {
	display: block;
	margin: 0 0 !important;
	box-sizing: initial !important;
	font-size: 10pt;
}

.palette .expand {
	font-family: sans-serif;
	font-size: 10pt;
}

.palette input#title.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 245px;
	color: black;
}

.palette textarea#description.expand {
	font-family: system-ui;
	font-size: 11px;
	width: 255px;
	color: black;
}

.palette input[type='text'].expand {
	font-family: system-ui;
	font-size: 11px;
}

.palette .container {
	box-sizing: initial;
}

.palette .wrapper {
	font-size: 10pt;
	box-sizing: initial;
	min-width: 70px;
}

.palette *, ::after, ::before {
	box-sizing: initial;
}

#template-palette {
	width: fit-content;
}

.palette-item {
	cursor: pointer;
	padding: 10px;
}

.palette-item:hover {
	background-color: #808080;
}

.palette-icon {
	width: 50px;
}

.template-col {
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.template-item {
	background-color: white;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888;
	display: inline-table;
	font-size: 1.25em;
}

.template-item-image {
	width: 150px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 5px;
	cursor: pointer;
}

.template-item-remove {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 30px;
	height: 30px;
	background-image: url(../icons/delete.svg);
	background-size: contain;
	visibility: hidden;
}

.template-item-remove-editable {
	visibility: visible !important;
}

#spinner {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
	width: 8%;
}

#cloudwarning {
	position: absolute;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
	width: 100px;
	z-index: 5;
	visibility: hidden;
}

.popup-input {
	border-radius: 22px;
	height: 30px;
	width: 400px;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
	display: inline-block;
}

.popup-label {
	color: #808080;
	margin-bottom: 5px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

.player-restart {
	position: absolute;
	top: 70px;
	right: 17px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/restart.svg);
	background-size: contain;
}

.player-restart:disabled {
	background-color: lightgray;
}

.player-cursor {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 50px;
	height: 50px;
	visibility: hidden;
	background-image: url(../icons/cursor.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	background-color: #808080;
	border: 2px solid #808080;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-prev-icon.tutorial-icon-button {
	color: white;
}

.tutorial-prev-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-prev-icon2 {
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-prev-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-next-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-next-icon.tutorial-icon-button {
	color: white;
}

.tutorial-next-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-next-icon2 {
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-end-icon {
	display: inline-flex;
	width: 90px;
}

.tutorial-end-icon.tutorial-icon-button {
	color: white;
}

.tutorial-end-icon.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	margin-top: 6px;
}

.tutorial-end-icon2 {
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon3 {
	display: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-color: white;
	margin-top: -20px;
}

.tutorial-icon-text {
	margin-top: 7px;
	padding-left: 4px;
	padding-right: 38px;
	display: inline-block;
}
