.p4wn-board table{
  border-spacing: 1px;
}

.p4wn-board td{
  padding: 1px;
}

.p4wn-white-square {
  background-color: #ccc;
}

.p4wn-black-square {
  background-color:#888;
}

.p4wn-board {
  position: relative;
  left: 0px;
  top: 0px;
  /*border:1px solid red;*/
  float: left;
}

.p4wn-log {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
  overflow: auto;
  max-width: 14em;
  height: 90%;
  /*border:1px solid blue;*/
}

.p4wn-controls{
  clear: both;
  /*border:1px solid green;*/
}

.p4wn-control-button {
  padding: 0px 5px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
}

.p4wn-log-move {
  padding: 0px 7px;
  cursor: pointer;
}

.p4wn-wrapper{
  /*border: 1px solid yellow;*/
}
