.p4wn-board table{
  border-spacing: 0px;
}

.p4wn-board td{
  padding: 1px;
}

.p4wn-white-square {
  background-color: #F0D9B5;
  border: 1px solid black;
}

.p4wn-black-square {
  background-color:#B58863;
  border: 1px solid black;
}

.p4wn-board {
  position: relative;
  left: 0px;
  top: 0px;
  /*border:1px solid red;*/
  float: left;
}

.p4wn-wrapper{
  padding-top: 1px;
  margin-top: -1px;
}

.p4wn-log {
  font-family: monospace;
  white-space: pre;
  font-size: smaller;
  overflow: auto;
  /* max-width: 170px; */
  background-color: rgb(240, 217, 181);
  width:200px;
  margin-top: 5px;
  border:7px solid rgb(181, 136, 99);
}

.p4wn-log-move{
  /* margin-left: 8px; */
  font-size: 15px;
  color: black;
}

.p4wn-controls{
  clear: both;
  /*border:1px solid green;*/
}

.p4wn-control-button {
  padding: 0px 5px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
}

.p4wn-log-move {
  padding: 0px 7px;
}